[2022-01-15 10:01] Gareth064 commented on #323
@etsyachristensen Can you confirm that this is being looked at?

[2022-01-15 21:52] mhurkman opened #336 "[FEATURE]: Opt in/out flag for Etsy Ads on createListing"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

Whereas Etsy's website is so kind to prompt the user on whether a newly created listing should be opted into Etsy Ads, the API instead AUTOMATICALLY opts the listing in.  As a seller with thousands of listings that are created and ended in an aut

[2022-01-17 19:34] stickfigure commented on #292
Yikes, I just hit this in production after rolling out the v3 API migration (the case wasn't covered by my test suite). My example is that Mugs have a property for Volume/Capacity, but there are no values for it.

Taxonomy id 1062, property id 52047898162 looks like this:

[code]

No possible_values. How can we apply this property if `updateListingProperty` always requires the value_ids field?

[2022-01-17 21:55] natalie31992 commented on #10
Hello - any update on this issue? Do we have an ETA on when this could be completed @etsyachristensen

[2022-01-18 04:01] #334 closed

[2022-01-18 04:02] mfarooq925 commented on #334
pls disregard. I was nesting my post fields under a "body" key

[2022-01-18 14:49] etsyachristensen commented on #323
Yes it's being looked at. No estimate on time at this point.

[2022-01-18 14:49] etsyachristensen commented on #321
Yes it's being looked at. No estimate on time at this point.

[2022-01-18 15:13] etsyachristensen commented on #298
@amitshuklaCedcoss I just processed the exact same data using a test store on our system and this is the response:
[code]

I'm not entirely sure what's happening on your end. You aren't also posting files at the same time right? Not passing the image for the listing as part of the post?

One thing I noticed is that your URL is https://openapi.etsy.com but you should be using https://api.etsy.com.

[2022-01-18 16:33] mmowchan opened #337 "[BUG]: updatingListingInventory wiping out variations"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

It appears as though when using the updateListingInventory API to send an inventory update for a listing that includes variations or has multiple skus, 1 sku is wiping out the variations instead of inventory updates going back for all skus. Please see below the endpoint and request body we ar

[2022-01-19 08:13] stickfigure commented on #330
@etsyachristensen are you sure this works?

I've tried a simple test with a listing that has a single image. I call updateListing with that one id as the image_ids (basically a no-op, setting the existing image). The PUT body I'm posting is `image_ids=1148989022`.

I get 400 `{"error":"There was a problem with \/images : That ListingImage does not exist."}`

I've verified that the image id is corr

[2022-01-19 13:35] amitshuklaCedcoss commented on #298
##### What is the shop ID you're getting this on?

##### API url

##### One thing I noticed is that your URL is https://openapi.etsy.com but you should be using https://api.etsy.com. It shouldn't matter, but just in case please update the url on your end.

##### I'm not entirely sure what's happening on your end. You aren't also posting files at the same time right? Not passing the image for the l

[2022-01-19 14:20] amitshuklaCedcoss commented on #298
string(71) "https://api.etsy.com/v3/application/shops/19453804/listings?language=en"
Array
(
    [form_params] => Array
        (
            [quantity] => 999
            [title] => test product
            [description] => test item

            [price] => 99.99
            [shipping_profile_id] => 164760033196
            [image_ids] => Array
                (
                )

            [is

[2022-01-19 20:03] Xiaoyi-ji-11 opened #338 "[DOCS]: Issue about canceled order"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developers.etsy.com/documentation/reference#operation/getShopReceipt

### What would you like to change?

Hi Etsy API Support,

When I request https://openapi.etsy.com/v3/application/shops/{shop_id}/receipts/{receipt_id} for a canceled order, it returns 404 not found and er

[2022-01-20 01:15] Xiaoyi-ji-11 opened #339 "[BUG]: Order update_timestamp doesn't change after refund"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

After I do partial refund to order, the information from endpoint https://openapi.etsy.com/v3/application/shops/{shop_id}/receipts/{receipt_id}
doesn't change anything, the total amout still the original amount and the update_timestamp stays same before the refund issued.

### Steps to reprod

[2022-01-20 02:53] neekfenwick commented on #233
Thanks for the tip, I also found image upload failed when using PHP Guzzle HTTP client until I provided a 'filename', i.e.:

[code]

It doesn't seem to matter what the 'filename' value is, just that it's present.

[2022-01-20 03:05] neekfenwick opened #340 "[FEATURE]: Allow more than 10 images per listing to support variation images"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

Etsy seems to have a hard limit of 10 images per listing (see https://www.etsy.com/seller-handbook/article/add-photos-to-show-off-your-variations/541206486344#:~:text=If%20you%20want%20to%20upload,you%20can%20add%20is%2010.)  This is insufficient

[2022-01-20 08:04] neekfenwick commented on #300
I think I'm getting this also, today with a freshly created draft listing, I think it's because I don't understand how to get value_id values for my custom colours. I find the tutorial at https://developers.etsy.com/documentation/tutorials/listings does not explain how to create value_id values for custom property values.  @carlosmartinez-dev  maybe this is similar to your situation?

I tried to c

[2022-01-20 13:40] dividebyzero commented on #28
+1 for webhooks, in as much "real time" as possible please 👍

[2022-01-20 18:05] etsyachristensen opened #341 "[DOCS]: BREAKING CHANGE ANNOUNCEMENT"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developers.etsy.com/documentation/reference

### What would you like to change?

We are just now pushing two changes to the OpenAPI that we need to make sure developers are aware of.

1. Shipping schema `profile_type` was returning as an integer as reported here: https://gi

[2022-01-20 18:06] etsyachristensen commented on #323
This is now fixed. Please see the announcement here: https://github.com/etsy/open-api/issues/341

[2022-01-20 18:06] #323 closed

[2022-01-20 18:07] etsyachristensen commented on #321
This is now fixed. Please see the announcement here: https://github.com/etsy/open-api/issues/341

[2022-01-20 18:07] #321 closed

[2022-01-20 18:10] etsyachristensen commented on #340
@neekfenwick This is a core Etsy area and not related specifically to the OpenAPI. I will forward your request to the core team, but I'll close this issue here as it's not something we can do on our end until a change is made in the core (if it's to be made). Thank you for your feedback!

[2022-01-20 18:10] #340 closed

[2022-01-20 18:14] etsyachristensen commented on #338
The OpenAPI at this point will not return canceled orders. This is on our list of requests to address.

[2022-01-20 18:16] etsyachristensen commented on #339
Thank you for the feedback. This is on the list of areas to address in the receipts endpoints.

[2022-01-20 18:24] etsyachristensen commented on #337
Your posted inventory is missing some critical information. See the tutorial here: https://developers.etsy.com/documentation/tutorials/listings#handling-variations-in-inventory-updates

If you look at the long sample code in the PHP Curl tab in this section, you'll see we are updating a product with variations that affect the skus. Because of this, the json data that you submit to the API must inc

[2022-01-20 19:03] valeriu-balaban commented on #172
+1

[2022-01-20 23:14] etsyachristensen commented on #336
I will pass this on to our internal core teams to discuss how we might add this.

[2022-01-20 23:19] etsyachristensen commented on #335
@mhurkman He is correct. The endpoint [here](https://developers.etsy.com/documentation/reference#operation/getShopReceipt) will provide that information.

[2022-01-20 23:19] #335 closed

[2022-01-20 23:36] etsyachristensen commented on #327
As this is indeed a duplicate ticket, I'll close it out. But webhooks have definitely been on our radar. We haven't had a chance yet to scope and discuss this, but I'm personally a big fan of the idea.

[2022-01-20 23:36] #327 closed

[2022-01-20 23:38] etsyachristensen commented on #326
@Gareth064 That's a very good way to approach it. @nh43de The Open API Spec uses integers but there's no specification for the length of an integer. We don't define this and it won't change in our system. Thanks for the feedback.

[2022-01-20 23:38] #326 closed

[2022-01-20 23:43] etsyachristensen commented on #322
Correct. At this point the OpenAPI will continue to use the year ranges. This particular aspect of the OpenAPI system is controlled by a pretty old architecture. Changing it to a new structure will be a larger undertaking that we probably won't have resources to address for a while. Next year, we'll try to do better about updating the year range closer to the change of the year.

[2022-01-20 23:43] #322 closed

[2022-01-20 23:51] etsyachristensen commented on #319
@Gareth064 Thanks for the feedback. I'll add it to the list of items to discuss.

[2022-01-20 23:57] etsyachristensen commented on #318
@dbeleznay Sorry for the confusion and thanks for the feedback. Fix coming soon.

[2022-01-20 23:59] DemiImp commented on #96
Can someone explain how to use include=Images?

I am in the middle of migrating from v2 to v3 and it didn't work.  I got all of the listing data for each of the listings I listed in my URL, but no images.

My URL looks like: listings/batch?listing_ids=76.....86&includes=Images

[2022-01-21 00:02] etsyachristensen commented on #317
Thanks for pointing this out. Fix coming shortly.

[2022-01-21 13:14] developerarun commented on #247
HI @etsyachristensen
I am facing the same issue while setting "**active**" status to listing which is sold out

If we send active status we are getting the error message "**Server Error**" with 500 response code.

Here is the requested data

URL **https://openapi.etsy.com/v3/application/shops/XXXXX/listings/XXXXXXXX?language=en**

Method **PUT**

BODY

`{
    "title":"xxxxxxxxxxxxxx",
    "descrip

[2022-01-21 13:23] GoldenOwlDecor commented on #333
Why ticket is closed. Any solution is proposed?

[2022-01-21 15:16] etsyachristensen commented on #333
Apologies @GoldenOwlDecor I'd typed out a response, but clicked the wrong button. I get what you are asking for and this has been requested in the past and is on our radar for things to look into. I don't see the other ticket(s) at the moment, so I'll reopen this one.

[2022-01-21 15:17] #317 closed

[2022-01-21 15:18] #318 closed

[2022-01-21 15:19] benjymouse commented on #333
+1

this would be most useful for us too

[2022-01-21 15:27] etsyachristensen commented on #314
@CARAXSoftware Sorry I couldn't get to this sooner. I'm going to try to duplicate your experience. Would you be able to send the full inventory update data (including listing id and shop id) so I can try to reproduce it? If you'd prefer, you can email that information to developers@etsy.com and just reference this ticket and my name (Andrew).

[2022-01-21 15:32] #312 closed

[2022-01-21 15:33] etsyachristensen commented on #311
@yovasx2  We've added this to our list of items to work on in the near future.

[2022-01-21 15:39] kbasali commented on #328
Any suggestion about this problem? @etsyachristensen
Also, I sent a ticket 9 days ago still no answer, would be great if someone can answer.

[2022-01-21 16:00] claudiamatosa opened #342 "[BUG]: CORS headers not present"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hello there,

I'm trying to call the listings endpoint, which doesn't require oauth, but keep getting a CORS error, due to authorisation headers not being present in the response. I developed my application with web security disabled because I thought it was due to my referrer being localhost

[2022-01-21 16:21] #309 closed

[2022-01-21 16:38] etsyachristensen commented on #305
The shop receipt object contains an `country_iso` field that you can use. Here's the documentation: https://developer.etsy.com/documentation/reference/#operation/getShopReceipt

[2022-01-21 16:38] #305 closed

[2022-01-21 17:29] etsyachristensen commented on #124
@tlesiuk There has to be a shipping profile for each listing unless it's a digital listing.

[2022-01-21 17:39] etsyachristensen commented on #10
There's no ETA at this point. We haven't had the internal discussions about whether we can allow it or not. We will update the ticket when we have progress.

[2022-01-21 17:45] etsyachristensen commented on #292
@stickfigure I'm looking through this now.

[2022-01-21 17:51] natalie31992 commented on #10
Ok - appreciate the update.

I suppose I don't understand why Etsy wouldn't allow users to change the internal order status, "New" --> "In Progress", etc. I'm a shop owner doing a significant amount of business on Etsy and definitely agree with @chanpory - it gets tedious to manually move an order from "New" to "In progress"...as far as I know it doesn't trigger any downstream actions or (potentia

[2022-01-21 19:34] stickfigure commented on #28
I'd like to propose an alternative that gets the job done just as well (or better), and may be simpler to implement on your (Etsy's) side:

`/events`

A list of the last 30 (or however many) days worth of events for the calling application (not shop). Essentially the same data that would have been posted as webhooks, but polled from our end. Stripe does this (they do webhooks too, but you don't re

[2022-01-21 22:28] etsyachristensen commented on #342
@claudiamatosa I'm not able to duplicate the issue you're experiencing. I've used your shop and removed the auth tokens from my Postman application. Here's the curl that's being sent:
[code]

So the CORS error has to do with javascript connecting to a remote server. This is a browser security issue. When you disabled the security it allows your browser running on your machine to connect to our ser

[2022-01-21 22:28] #342 closed

[2022-01-22 11:17] claudiamatosa commented on #342
Yeah, it does, and thank you for the quick reply! So I hear that the api isn't designed for using through a browser, I'm assuming that it's to avoid exposing the keystring. I think it may be worth adding something to the docs, especially the quickstart section, mentioning that the api is only meant to be used server-side.

[2022-01-22 22:44] Chriscodinglife commented on #279
Would there be also the possibility of extending the allowed length of the videos? or at the least allowing sound? definitely 1+ this api endpoint though would be very useful

[2022-01-24 05:33] amitshuklaCedcoss commented on #298
hi @etsyachristensen
any luck?

[2022-01-24 07:49] neekfenwick commented on #340
Thank you @etsyachristensen I understand your position.  Is there a way to track this to know if it has been ignored, rejected, or considered favourably?

I would think that if a relaxation of the number of images is allowed then it would impact the API eventually, since at present there's only one endpoint that allows adding images to a listing and is limited to 10 with no way of indicating that

[2022-01-24 08:18] neekfenwick opened #343 "[DOCS]: Clarify how to create and use custom properties for listing variations e.g. colours"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developers.etsy.com/documentation/tutorials/listings#how-to-fetch-property-values-for-the-products-array

### What would you like to change?

I really appreciate the extension to the docs that was made in response to another github Issue that explains how to add variation d

[2022-01-24 10:29] neekfenwick commented on #343
Just to point out, Issue #248 looks very similar (but isn't a request for enhanced Documentation), and links to https://groups.google.com/g/etsy-api-v2/c/cJg3TlOB0Y8 where people seem to be having similar trouble understanding what they are supposed to do :)

[2022-01-24 21:34] azs0000 opened #344 "[BUG]: findAllListingsActive with an offset of 12,001 or more comes back with a 400 HTTP error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

findAllListingsActive with an offset of 12,001 or more comes back with a HTTP 400 error, with the message of: Offset provided is greater than the maximum offset allowed.

### Steps to reproduce

curl -H 'x-api-key: F00B@R' "https://openapi.etsy.com/v3/application/listings/active?keywords=toas

[2022-01-24 21:37] azs0000 commented on #344
Apologies. Please use "stamp" as an example in the keywords parameter and not "toaster".

[2022-01-24 22:27] Gareth064 commented on #344
Hi @azs0000
The 12000 limitation is mentioned here
https://developers.etsy.com/documentation/essentials/urlsyntax#pagination
![image](https://user-images.githubusercontent.com/22307223/150875568-e64b51b8-9a16-432f-874e-725cf731fc32.png)

[2022-01-24 22:35] Gareth064 commented on #344
I'm also curious about the `"count":310579,"` you mentioned when searching with keyword `toaster`. When I do a search on the website for `toaster` and inspect the api queries using dev tools, I get roughly 3,392 results over 53 pages. I wonder why our public API returns so many more results using the "same" keyword.

[2022-01-25 00:55] pironmj-vidi commented on #279
Our videos tend to be between 15s and 1min, max. At the shorter duration, we’ve found that a looping effect occurs, where a buyer will likely watch the video between 2-3 times (if it’s autoplay). It’s a similar effect to TikTok content, if you’ve ever spent time in that app.

Sound is typically preferred by sellers for social, but for listings and product pages they typically export versions with

[2022-01-25 06:23] neekfenwick opened #345 "[BUG]: Making a request with a malformed Bearer token returns 500 Server Error, and payload validation is done before authorization is checked."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Sending an invalid value in the Authorization header for the Bearer token for an otherwise valid request causes the server to respond with a status code of 500 and content:

{
    "error": "Server Error"
}

Then, changing the request to be invalid by omitting a mandatory field causes a payloa

[2022-01-25 06:42] neekfenwick commented on #343
I've tried to create a listing with two variations, one a simple "Green" and one with a "Made Up Colour", but the value_ids returned are confusing.  I would think I should post the Green colour using property_id 200 ("Primary color") and value_ids [ 4 ], where 4 is the value_id returned from the taxonomy data.  For the Made Up Colour, I pass a value_ids of [ 1 ] as a complete guess, hoping that a

[2022-01-25 07:49] Mahir-Deneri opened #346 "[BUG]: on date filter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I get this error

{
    "error": "Time window between min_created and max_created must be no more than 2678400 seconds (31 days)."
}

while trying to call

https://openapi.etsy.com/v3/application/shops/{shop_id}/payment-account/ledger-entries?min_created=1640984400000&max_created=164158920000

[2022-01-25 12:09] #346 closed

[2022-01-25 16:49] azs0000 commented on #344
Sounds good.

The API has been accurate in returning counts for me. I should have proved you a better example than 'toaster'.

[2022-01-25 16:49] #344 closed

[2022-01-25 18:53] etsyachristensen commented on #292
@stickfigure I finally got to the bottom of this... So with this type of variation, the possibilities for the volume are of course endless. The value could be an integer or a decimal value and via the API you can set just about anything for that volume.

The V2 API documentation says that you have to include either "values" or "value_ids" arrays or both. The V3 documentation is a bit misleading sa

[2022-01-25 19:00] etsyachristensen commented on #343
@neekfenwick I have just been working on another issue in the inventory system that will actually address this issue. In your case, when you don't already have a value_id for your value, leave the `value_ids` array empty (`[]`) and our system will create the value id for anything it doesn't have a value id for and will return that to you. If one already exists it will return that. You will always

[2022-01-25 23:34] etsyachristensen commented on #328
@kbasali I've got an answer for you, though it's not a great one. The taxonomy_id you're using is a seller taxonomy_id. Unfortunately the search system doesn't search by seller taxonomy ids, but only by buyer taxonomy ids. If you look at the taxonomy tree you get from the [getSellerTaxonomyNodes](https://developer.etsy.com/documentation/reference/#operation/getSellerTaxonomyNodes) endpoint you'll

[2022-01-25 23:44] etsyachristensen commented on #263
@chyumin and @neekfenwick I'm working on researching the taxonomy system right now to figure out some of the issues that have been reported. @chyumin in your case, can you tell me the shop id so I can look at the listings in the shop to see what their taxonomy ids are and why they aren't showing up in the seller taxonomy endpoint?

[2022-01-25 23:49] etsyachristensen commented on #263
@yovasx2 I'm likely going to build a buyer taxonomy endpoint as well. I'm not sure how that was missed previously.

[2022-01-26 02:23] neekfenwick commented on #343
Thanks @etsyachristensen that makes sense, this seems valid for custom values, but I'm still a little confused by my experience with the stock colour Green.  I got a value_id of 49974750678 back for Green instead of the valid value_id 4.  I just repeated my request, this time leaving value_ids blank `[]` for "Made Up Colour" as you suggested, and got the same value_id 49974750678 for Green, and a

[2022-01-26 10:36] CARAXSoftware commented on #314
@etsyachristensen Sure.

**Basic Information**
Shop ID: 31846020
Listing ID: 1081727947
Listing Title: Testartikel 1337!

**[PUT] /listings/1081727947/inventory**
I'm sending the following object to the etsy api. You'll see the property value is in german "Schwarz".

`{
    "products": [
        {
            "sku": "T1-A-G",
            "offerings": [
                {
                    "price"

[2022-01-26 20:43] mmowchan opened #347 "[BUG]: Not getting title of shipping profile back when querying by profile Id"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When making the getShopShippingProfiles API call in Postman with my shop Id I am getting back a full list of all my defined shipping profiles with their titles.

However, when making the getShopShippingProfile for a specific profile Id I am seeing that the returned title field is always "null

[2022-01-27 23:09] etsyachristensen commented on #265
This was fixed in #270 .

[2022-01-27 23:09] #265 closed

[2022-01-27 23:10] #256 closed

[2022-01-27 23:23] etsyachristensen commented on #330
I will look into this further @stickfigure . Can you tell me the shop id and listing id?

[2022-01-27 23:28] #182 closed

[2022-01-28 21:03] stickfigure opened #348 "[BUG]: createShopShippingProfile requires a destination, the docs say it shouldn't"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I don't know if this is a doco bug or an API bug, but something is amiss.

From the documentation for `createShopShippingProfile`:

* destination_country_iso | string <ISO 3166-1 alpha-2>Default: null  The ISO code of the country to which the listing ships. If null, request sets destination t

[2022-01-28 21:46] etsyachristensen commented on #264
This change has been added @s-plant . You can now add `sort_on` and `sort_order` to the get inputs.

[2022-01-28 21:46] #264 closed

[2022-01-28 21:48] etsyachristensen commented on #263
@yovasx2, @chyumin and @neekfenwick we have now added two new endpoints: getBuyerTaxonomyNodes and getBuyerTaxonomyNodeProperties. Hopefully this will reveal the taxonomy ids you've been missing.

[2022-01-28 21:50] etsyachristensen commented on #229
@BoredGameGeek We have added the `sort_on` and `sort_order` to the `findAllActiveListingsByShop` endpoint. We are not able to add that to the `getFeaturedListingsByShop` endpoint because the featured listings are already sorted automatically by rank.

[2022-01-28 21:50] #229 closed

[2022-01-28 22:15] etsyachristensen commented on #348
@stickfigure We are looking into this. Will update you soon.

[2022-01-28 23:15] etsyachristensen commented on #348
@stickfigure I have discussed internally and we have determined we have to adjust the documentation. We have to require at least one of those values for each destination. The idea of omitting both destination country and destination region was that it would mean “everywhere else”. But the issue is that you can only submit one set of carrier + class, which is either domestic OR international, and n

[2022-01-28 23:22] stickfigure commented on #348
ok. Does that mean when passing a destination to createShopShippingProfile, it auto-creates one ShippingProfileDestination? I don't see the destination in the json for the profile (at least not in the docs).

If it does, what happens if I create another ShippingProfileDestination for the same destination? Is there some sort of uniqueness constraint on {shipping profile, destination} to avoid dupli

[2022-01-29 20:04] s-plant commented on #264
Thank you!

[2022-01-30 17:23] ddervosj opened #349 "[BUG]: findAllListingsActive doesn't return all results"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hey,

It seems that neither v2 or v3 API "findAllListingsActive" endpoint returns documented number of results.

Max offset for v2 API as per documentation is 50000, but in reality, once offset reaches 12000+  0 results are being returned.

Here are the screenshots for v2 version, but the exa

[2022-01-30 19:33] Gareth064 commented on #349
Read here.

https://github.com/etsy/open-api/issues/344

[2022-01-30 19:52] #349 closed

[2022-01-30 20:10] Allius27 commented on #294
@etsyachristensen
When that feature will be released?

etsy shows amount of money in special window like that
![Screenshot from 2022-01-30 23-08-10](https://user-images.githubusercontent.com/18593466/151715799-927ee684-9912-43a4-9d13-48efbbb690f8.png)

So, say nothing about legal reasons.

Just estimate that feature and release that ASAP

[2022-01-31 01:41] cal-tec commented on #120
I am new to the Etsy API (using V3) but I have been developing for the web for the last 20+ years and I can honestly say this is one of the biggest design failures in the API. SKUs are the seller's reference and, in theory, likely to be their, unique code and quite possibly the primary key in their DB.

A public-facing API should allow the consumer of the API to undertake operations on the system

[2022-01-31 01:47] cal-tec commented on #330
Please also see https://github.com/etsy/open-api/issues/120 as this is directly related to updateListing and SKU issues

[2022-01-31 05:17] stickfigure commented on #120
I'm a consumer of this API like you, but I have to say: I think you're going about this the wrong way.

SKU is not a unique key for variants (aka products in Etsy parlance). I can make many listings that point at the same SKU. This is a good thing. SKUs are references into your database, and there's a 1:N relationship between variants (products) and "that thing in your database".

Shopify works th

[2022-01-31 11:44] cal-tec commented on #120
Im not sure what your background is but in most systems an SKU (Stock Keeping Unit) is unique. Every variant of a product shoudl have its own SKU as that is the definition of a Stock Keeping Unit it is used to track inventory movement and quantity. Having the same SKU for multiple variants of a product makes no sense at all... eg. How do you know how many Blue cups you have vs Green cups if they s

[2022-01-31 16:50] etsyachristensen commented on #347
@mmowchan Can you give me an example shipping profile id that I can look into?

[2022-01-31 17:27] mmowchan commented on #347
@etsyachristensen To clarify my original post, it looks like the shipping profile Ids being returned on orders are different Ids than those being returned when making the getShopShippingProfiles API call. Is this expected behavior?

For example, I placed test order 2357994268 and selected the shipping profile named "Test Express Profile (Multiple options)". When I make the getShopShippingProfiles

[2022-01-31 17:43] stickfigure commented on #120
The mistake you are making is confusing your product with Etsy's listing. They are not the same things. Etsy's listings are bits of data at Etsy; the variants at Etsy are parts of the listing, and you can make as many listings/variants as you want (and are willing to pay for). These bits of data have a relationship with the actual products you have for sale, but are distinct. The SKU acts as a map

[2022-01-31 19:43] stickfigure commented on #330
After some more poking around, I found this was an error on my end (accidentally submitting the listing id instead of the image id). Terribly sorry for the false alarm! Closing this.

[2022-01-31 19:43] #330 closed

[2022-01-31 19:56] etsyachristensen commented on #343
I know that this is a bit confusing. The id 4 being passed in is in fact the id for green, but we have essentially 2 ids:
1. Our known color value id (which we use in the UI on the Etsy website).
2. ID specific to the that same color value but the ID belongs to your shop.

When you pass in `4`, we convert that to your shop's ID for that color. If it's not already in the system for your shop, it wi

[2022-01-31 21:23] stickfigure opened #350 "[BUG]: `updateListing` passing image_ids (only) resets title and description too"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When updating a listing passing `image_ids` only, the default language translation title and description are getting nulled out.  I expect the translation values to remain unchanged unless I explicitly specify title= or description=.

### Steps to reproduce

In Etsy production I have a store

[2022-02-01 09:18] assaflei commented on #306
I actually released the new version and it looks better so from my end ticket can be closed

[2022-02-01 09:18] #306 closed

[2022-02-01 09:33] assaflei opened #351 "[BUG]: Understanding the difference between variation images in V2 and V3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I understand that in v3, listing variation images are stored as one row per property id and value id (listing 1144368676 for example)
![image](https://user-images.githubusercontent.com/15898926/151943635-4840c408-b19c-43eb-a2fd-ca884be11804.png)

I have additional listing with different set o

[2022-02-01 10:02] assaflei opened #352 "[DOCS]: Variation images per one property_id should be changed?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developer.etsy.com/documentation/reference/#operation/updateVariationImages

### What would you like to change?

"variation_images does not contain more than one property_id as variation images can only be associated on one property"
Shouldn't there be a variation image per

[2022-02-01 12:37] vinicvaz commented on #263
@etsyachristensen
I didn't find the same ids @chyumin  mentioned before in both endpoints.

`https://openapi.etsy.com/v3/application/buyer-taxonomy/nodes`
`https://openapi.etsy.com/v3/application/seller-taxonomy/nodes`

 Here is a small list of ids missing in both endpoints
[code]

We was not able to find any of these nodes in any level of the taxonomy nodes tree.

[2022-02-01 12:42] luiztauffer commented on #263
I believe the original problem still persists...
also, what does a Buyer Taxonomy Node means? aren't these supposed to be listings properties?

[2022-02-01 21:37] etsyachristensen commented on #218
We have added "Translations" as an include on the `getListing` endpoint. Will work on adding it to `getListingsByListingIds` as well but this will take a few days to get worked on.

[2022-02-01 21:40] stickfigure commented on #218
@etsyachristensen you guys are on a roll! It's great to watch the API make forward progress so quickly.

[2022-02-01 21:43] #218 closed

[2022-02-02 14:59] Err1 opened #353 "[BUG]: Refresh Token constantly changes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I'm not sure if this is a bug or not but having gone through the authorisation / grant process and got back a short-lived access token (AT) and long-lived refresh token (RT)... my understanding is that

the AT is valid for an hour (from date of issue).
the RT is valid for 90 days (from date o

[2022-02-02 19:59] etsyachristensen commented on #353
If I'm understanding this correctly, the issue you're running into is when you refresh your expired token, you are getting a new refresh token correct? If so, this is how the OAuth system works. When you request a new token from the 90 day refresh token, it will give you a new 90 day refresh token. Otherwise if you kept re-using the same refresh token, after 90 days it too would expire and you'd h

[2022-02-02 22:03] etsyachristensen commented on #263
@chyumin can you please provide me with a listing id or two that are showing the missing ids as their taxonomy id? We recently went through a migration on our taxonomy system and I need to determine if the potential fix I'm working on will correct your issue.

[2022-02-02 23:05] chyumin commented on #263
@etsyachristensen I don't have the listings ids anymore. I'll try to find some with missing taxonomy ids and let you know

[2022-02-03 05:55] neekfenwick commented on #343
Thanks @etsyachristensen, all this is pretty weird and not documented, so an update for newbies would be greatly appreciated.  I assume you'll associate the changeset with this Issue ticket.

We've got our system publishing variations OK now, so apart from the images limit of 10 raised on another ticket we're pretty much good to go, thanks :)

[2022-02-03 06:17] neekfenwick commented on #263
I don't understand these new buyer/seller taxonomy endpoints.  This isn't a deal breaker since we can just provide the same custom properties without a `value_id` and Etsy will return a consistent custom `value_id`, so I just listed 56 listings with the same set of custom sizes and the `value_id` value seems consistent for all of them.

For example I just created a new listing id 1158247276 with a

[2022-02-03 08:24] Err1 commented on #353
Indeed.  But I thought the process was that when the AT expired (after 1 hr), that I request a new AT via the refresh process passing in the RT (that would expire 90 days after first issue)..  And in response I'd get a new AT and same old RT.  And, after 90 days, to renew the RT I'd have to repeat that OAuth/Grant process again.

If the RT keeps on getting refreshed, this is good but then when doe

[2022-02-03 12:55] vinicvaz commented on #263
@etsyachristensen
We updated the listing records and now it seems to be working fine.
The problem ids have been replaced by valid and existing ids in the tree.
Thanks!

[2022-02-03 15:12] #343 closed

[2022-02-03 15:15] etsyachristensen commented on #353
Yes correct. The RT is new and lasts 90 days every time you get a new AT. This ensures you never run out of refresh token.

[2022-02-03 15:15] #353 closed

[2022-02-03 15:40] etsyachristensen commented on #263
When we talk about buyer taxonomy and seller taxonomy, they are all part of the same system. However, the seller taxonomy tends to go deeper than the buyer taxonomy. For example, if you search for "blue yarn" on the Etsy.com site and open one of the listings, you'll see that it's in "All categories -> Craft Supplies & Tools". The "Craft Supplies & Tools" is a buyer taxonomy. But in reality, that y

[2022-02-03 16:04] bpyzikvc opened #354 "Unable to find a user id to add provisional users"
My app is awaiting approval for full access but in the meantime I would like to add some users to it. I found a thread here: https://groups.google.com/g/etsy-api-v2/c/_TA7DrM2uSU that shows how to add provisional users but I am unable to find the user id to use. I tried the id from the url on a user's page but the api only takes an integer. Where can I find this value?

[2022-02-03 18:04] yovasx2 commented on #278
Any update on this?

[2022-02-03 18:07] yovasx2 commented on #293
Any update on this?

[2022-02-03 18:07] yovasx2 commented on #296
any update for this?

[2022-02-03 18:08] yovasx2 commented on #309
What is the current behavior?

[2022-02-03 18:12] etsyachristensen commented on #309
The API (internal to our system) calculates the current rate between currencies and allows you to set the price in a different currency to whatever the exchange rate is for $0.20 USD. I don't know how often the rates are updated, but I would presume it's pretty regularly updated.

[2022-02-03 18:28] yovasx2 commented on #313
When u create a product using a fixed shipping profile and omit the units in the payload the response contains the units defined by etsy automatically, this behavior would be really useful when u use calculated profiles instead, current behavior is API is not inferring them it's complaining about missing fields as u described above (this is not happening with fixed profiles)

[2022-02-03 19:03] etsyachristensen commented on #313
@yovasx2 you are correct. The system will not assume values for you on calculated profile. We are working on a change now that will leave the dimensions, weight and units null on fixed shipping profiles as they should be. The only reason it's not complaining about missing units is because it's defaulting and not leaving them null. We can not modify the calculated shipping profile behavior. It will

[2022-02-04 02:16] neekfenwick commented on #263
@etsyachristensen I was calling getPropertiesByTaxonomyId `application/seller-taxonomy/nodes/902/properties` and getPropertiesByBuyerTaxonomyId `application/buyer-taxonomy/nodes/902/properties`.  No sign of my custom values, see the JSON file attached to yesterday's comment.  Probably something silly I'm doing.

[2022-02-04 04:42] neekfenwick opened #355 "[BUG]: updateVariationImages accepts stock value_id for property e.g. Color and not seller value_id"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Further to a recent ticket #343 , I'm confused by what `value_id` values to use with variation images.  When using `updateListingInventory` I can assign Color values for property_id 200, e.g. Black and Green, providing the `Primary color` values 1 and 4.  This returns new value_id values, whi

[2022-02-04 16:27] etsyachristensen commented on #347
@mmowchan Could you give me the name of your app? I DO NOT need the api key. Alternatively the shop id you are testing with would help. We are looking into this and want to make sure we are looking at the same things. Thanks!

[2022-02-04 16:45] mmowchan commented on #347
@etsyachristensen our app name is VeraCore Integration Hub and our shop Id is 28880805

[2022-02-05 00:48] DemiImp opened #356 "[ENDPOINT]: Proposed design change for getListingImages"
### Is there an existing issue for this?

- [X] I have searched the existing tickets

### Current Endpoint Design

https://openapi.etsy.com/v3/application/shops/{shop_id}/listings/{listing_id}/images

### Proposed Endpoint Design Change

https://openapi.etsy.com/v3/application/listings/{listing_id}/images

### Why are you proposing this change?

The URL for getListing is:

https://openapi.etsy.com

[2022-02-05 16:37] assaflei opened #357 "[BUG]: Cannot activate listing in "edit" state"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When trying to update a listing state to active I get this error message:

{"statusCode":400,"data":"{\"error\":\"Cannot activate a listing in this state: state = edit, listing_id = 1234, ending_tsz = 123\"}

Since listings belong to my customers, I dont want to share them online
Is there a l

[2022-02-06 23:19] BoredGameGeek opened #358 "[ENDPOINT]: Proposed design change for findAllActiveListingsByShop"
### Is there an existing issue for this?

- [X] I have searched the existing tickets

### Current Endpoint Design

Right now, the [findAllActiveListingsByShop endpoint](https://developers.etsy.com/documentation/reference/#operation/findAllActiveListingsByShop)  `sort_on` parameter allows options `created`,  `price`,  and `updated`.

### Proposed Endpoint Design Change

Proposal to ADD additional o

[2022-02-07 19:22] annedirkse opened #359 "[DOCS]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developers.etsy.com/documentation/essentials/authentication#exchange-oauth-10-token-for-oauth-20-token

### What would you like to change?

The parameters are shown in JSON format, with the misleading "initiate a POST request with the following request body represented in J

[2022-02-07 19:58] annedirkse opened #360 "[DOCS]: Error - grant_type=refresh_code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developers.etsy.com/documentation/essentials/authentication#requesting-a-refresh-oauth-token

### What would you like to change?

The correct value for grant_type is specified twice, followed by:

grant_type=refresh_code

which is incorrect. As I mentioned for another secti

[2022-02-07 23:06] etsyachristensen commented on #360
This will be corrected in an update coming shortly. Thank you for the feedback.

[2022-02-07 23:08] etsyachristensen commented on #359
This will be fixed in an update coming shortly.

[2022-02-07 23:11] etsyachristensen commented on #222
We have posted an update that fixes this issue.

[2022-02-07 23:11] #222 closed

[2022-02-07 23:11] etsyachristensen commented on #350
This is now fixed with the update pushed out today.

[2022-02-07 23:11] #350 closed

[2022-02-07 23:38] #348 closed

[2022-02-08 08:01] assaflei commented on #357
Any comments on this?
It was an action that used to work on V2 and now starts creating problems on my systems

[2022-02-08 15:51] etsyachristensen commented on #357
@assaflei I have not been able to find a listing in the edit state that can't be activated via the API. Can you email developers@etsy.com and reference me (Andrew Christensen) and this Github issue? Please provide the api key, shop id and listing id so I can try to duplicate your experience?

[2022-02-08 16:04] #347 closed

[2022-02-08 16:38] assaflei commented on #357
I sent an email with details, thanks

[2022-02-08 21:08] etsyachristensen commented on #357
@assaflei Please look for an email back tomorrow from the support team. In this case the issue isn't with the API but with the listing itself. They can explain in the email. I will work on making some changes to the api response to give back a more appropriate error message in a case like this.

[2022-02-08 21:09] #357 closed

[2022-02-08 21:32] #328 closed

[2022-02-09 11:08] Err1 opened #361 "[DOCS]: Old V2 methods need to be marked with their V3 equivalents"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://www.etsy.com/developers/documentation/reference/shop

### What would you like to change?

I am currently trying to port across the v2 calls that I use to their v3 equivalents, but it's a time consuming process.

eg...

The end point I use is https://openapi.etsy.com/v3/shop

[2022-02-10 03:12] annedirkse opened #362 "[BUG]: Update Listing Inventory - sku on property not working as documented"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When trying to write inventory with multiple properties, and a SKU tied to one of those properties, the SKUs are shown in the JSON response from the server, and in the draft listing thumbnail, but not in the Edit Listing page on Etsy.com. When the listing is saved subsequently the SKUs are de

[2022-02-10 03:42] alecperkins commented on #193
@etsyachristensen Is there no possibility of a simple owner API key option for internal tools? I’m trying to connect Etsy orders to my internal production helper tool. What should be a dozen lines of pure glue script written in as many minutes instead has to apparently be a complex, stateful app. It’s been a frustrating time sink, to say the least, and after several hours I haven’t yet gotten to t

[2022-02-10 14:42] etsyachristensen commented on #360
We have adjusted the documentation to show the auth information as url strings rather than as JSON format.

I haven't found where grant_type=refresh_token is specified twice.

[2022-02-10 22:13] DemiImp opened #363 "[DOCS]: uploadListingImage gives bad/wrong examples"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developer.etsy.com/documentation/tutorials/listings#adding-an-image-to-a-listing

### What would you like to change?

The documentation tells you to url encode the parameters and gives an image that is base64 encoded.  This is all wrong.

Even if this example technically wo

[2022-02-10 23:01] etsyachristensen commented on #363
Thanks for your feedback @DemiImp. I'm sorry you've spent so much time, but our documentation is actually correct. Since we are using PHP Curl, we do show using multipart/form-data as the Content Type:
![image](https://user-images.githubusercontent.com/83842847/153510168-ee218369-e2d0-48e2-a6e1-f52ac1f863eb.png)

As for the encoding, this is how we have to encode the image in order to pass it as a

[2022-02-10 23:05] #363 closed

[2022-02-10 23:07] stickfigure opened #364 "[BUG]: `updateListing` won't work unless translations are set up correctly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I am trying to `updateListing` for a listing that was mauled by some other person or app. It has an english translation (default language for the store), but it also has a number of translations that look like this (note empty description):

[code]

My business logic first fixes any issues in

[2022-02-10 23:12] DemiImp commented on #363
Thanks for responding!

The problem isn't the content-type, but rather this:

[code]

This is highly misleading and looks like the body of the request should be URL encoded.  Again, even if the example "technically works", it is a terrible example and is confusing.

[2022-02-10 23:15] etsyachristensen commented on #363
Gotcha. Yeah this is an area that I'm not an expert in as it's a JS Fetch example. I'll have to see if any of our JS people can look at it. The image upload via JS has long been a thorny spot, but not because of docs. Different JS frameworks do things differently. I recall seeing some one post how they did it in Axios and another maybe in Express or something. If I can find someone on staff that's

[2022-02-10 23:24] stickfigure commented on #56
This seems to exist in the API right now? There's a production_partner_ids parameter to createDraftListing and updateListing. Can be closed?

[2022-02-10 23:32] stickfigure opened #365 "[BUG]: "Oh dear, you cannot sell this item on Etsy" setting who_made=someone_else even with a production partner"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

My understanding (correct me if wrong) is that we can set who_made=someone_else if the listing has a production partner. I'm pretty sure this worked fine in the v2 API. I'm trying it now with the v3 API and getting:

400: {"error":"There was a problem with \/marketplace : Oh dear, you cannot

[2022-02-11 02:01] DemiImp opened #367 "[BUG]: createShopShippingProfile is not supposed to require origin_postal_code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When I try to create a new Shipping Profile, I get the error:

`'' is an invalid postal code for country: US`

[The documentation](https://developer.etsy.com/documentation/reference/#operation/createShopShippingProfile) does not list origin_postal_code as a required field.

### Steps to repro

[2022-02-11 02:23] DemiImp opened #368 "[BUG]: Inconsistent field labels for processing+delivery"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

The documentation on this page:
https://developer.etsy.com/documentation/reference/#operation/createShopShippingProfile

Conflicts with the documentation on this page:
https://www.etsy.com/developers/documentation/reference/shippingtemplate#method_createshippingtemplate

On API v3, we have th

[2022-02-11 16:08] etsyachristensen commented on #362
@annedirkse I've submitted the issue where editing the skus in the shop manager interface wipes the skus away from the thumbnail.

As for the rest of it, I can understand the confusion. The inventory system definitely confusing. The reason that it worked when you passed in both 100 and 513 on the sku_on_property is because you have both price and sku affecting those two properties.

[2022-02-11 16:26] MaciejDerek opened #369 "[ENDPOINT]: Proposed design change for Api types int32 to int64"
### Is there an existing issue for this?

- [X] I have searched the existing tickets

### Current Endpoint Design

Hello, current open api json definition defines **offering_id** and **product_id** as integer. It causes the problem when it comes to code generation in Visual Studio as it's defined as int type.

### Proposed Endpoint Design Change

In the definition of json file there should be adde

[2022-02-11 16:51] Gareth064 commented on #369
See #326

[2022-02-11 17:05] etsyachristensen commented on #263
@neekfenwick Ok so digging into this and figured out what's going on here. The taxonomy endpoints are used to return standard values, not custom ones.

When you create a custom variation value, that's an entirely different thing. Those are tied specifically to the listing. If you add a standard variation and choose a standard value (in the example above Color -> Green) it will create a custom valu

[2022-02-11 17:05] #263 closed

[2022-02-11 17:36] etsyachristensen commented on #369
Thanks @Gareth064. The OpenAPI spec does not differentiate integer types.

[2022-02-11 17:36] #369 closed

[2022-02-11 17:38] etsyachristensen commented on #368
This isn't something we can change at this time. The V3 API was created very specifically with this wording because processing typically would take less than delivery. So we did processing as "time" and delivery as "days". If they both said "days" it would be more confusing.

[2022-02-11 17:38] #368 closed

[2022-02-11 17:47] annedirkse commented on #362
Hi, I'm not quite sure that I understand what you are saying? There are only 2 SKUs in the data represented, and when doing this previously through the v2 API I would get an error if the skus didn't match for every product with the same size. The server accepts that request as long as the SKUs are consistent for the property tied to the SKU, and reports that same data back in the response with the

[2022-02-11 17:49] etsyachristensen commented on #367
Sorry for the confusion. If you include origin_country_iso=US, it will require a valid US postal code for origin_postal_code. Same goes for Canada. Other countries do not require that. We will work on updating the documentation to reflect this.

[2022-02-11 17:52] lw-andrewsmith commented on #369
@etsyachristensen I'd like you/the team to reconsider and possibly reopen as the Open API allows for the format: int64 to be defined in the spec

https://swagger.io/docs/specification/data-models/data-types/

Example:
{
"name": "listing_id",
                        "in": "path",
                        "description": "The numeric ID for the [listing](/documentation/reference#tag/ShopListing) assoc

[2022-02-11 17:55] etsyachristensen commented on #362
Apologies. I misunderstood. You are correct. If on your Size variation you only have the sku option marked then yes, you should only have to pass [100] as the sku_on_property. I'm not sure why changing it to [100,513] made the difference in making the skus appear. I've passed that bit on to our front end development team to look into.

[2022-02-11 17:59] annedirkse commented on #362
no worries, thanks!

[2022-02-11 17:59] DemiImp commented on #368
Don't close it yet!  It's not just that it's time and days!

One says min_processing_time the other says min_processing_days.  I'm asking at the very least to unify the field names!

I am 100% ok with both of them saying the same thing!  The prompt when creating the ticket asked for what I would do.  You don't have to take my suggestion.

Please just fix that API v2 and API v3 flipped the days+tim

[2022-02-11 18:03] DemiImp commented on #368
For example, change API v2 to be:

[code]

[2022-02-11 18:04] etsyachristensen commented on #368
In order to "fix" that we would have to introduce some significant breaking changes either to V2 or V3. We aren't prepared to do that at this point. Again, when the team build API V3, it was intentionally changed. I realize it's a departure from V2, but that's kind of the point. We are trying to build V3 with intention on as much sensible naming logic that we can reasonably provide and make it bet

[2022-02-11 18:38] #367 closed

[2022-02-11 19:34] dave-shawley opened #370 "[FEATURE]: Provide guidance for handling failures to access a protected resource"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

Handling token-related failures to access a protected resource is difficult since there number of `error` values is limited. Consider the following two error responses for a token related failure.

[code]

and
[code]

The requestor should refresh

[2022-02-11 21:17] etsyachristensen commented on #365
You are correct in your analysis. You should be able to set it to someone_else if you have production partners. We are investigating.

[2022-02-11 21:53] #56 closed

[2022-02-11 23:50] etsyachristensen commented on #200
@StephanCBHall @lw-andrewsmith This has been fixed.

[2022-02-12 03:25] yomimono opened #371 "[BUG]: uploading files with multipart/form-data doesn't seem to work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When trying to upload a new file to a listing, I always get a 400 error with the body `{"error":"An error ocurred while uploading your file, please try again."}`  The listing is a digital listing and already has one file, uploaded via the web interface.

Curiously, my token doesn't seem to ge

[2022-02-12 09:51] VasilVelikov opened #372 "[FEATURE]: Allow to query multiple shops at once"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

My application often needs to query the details of multiple shops (up to a few hundred). In V2 I was able to do it with a single call, by providing a list of the shop ids in the url:
`GET https://openapi.etsy.com/v2/shops/shop_id_1,shop_id_2,shop

[2022-02-12 21:54] assaflei opened #373 "[BUG]: Server error when updating listing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When calling updateInventory on a specific listing I get a general error with this message:
{"error":"Server Error"}

Can you advice on how to troubleshoot such error?

Thanks,

### Steps to reproduce

Call the updateInventory on a listing

### Expected behavior

Quantity should be updated or

[2022-02-13 08:47] nmrdxt commented on #373
Happens here as well :/It does not happen on all requests, but it happens enough that it affects performance.

I would get it on various endpoints, getListingInventory, getShopReceipts, updateListingInventory and more.

It looks like it started happening for us since Feb 12th (it also happened between Feb 8th-9th).

[2022-02-13 14:45] etsyachristensen commented on #373
I have a fix for the `updateListingInventory` and `getShopReceipts` endpoints. It has to go through testing on Monday morning and will hopefully end up in production midday. As for the `getListingInventory` endpoint I haven't seen any errors coming through. @nmrdxt can you share the listing id where you are getting this error?

[2022-02-13 19:24] nmrdxt commented on #373
Happy to read there is a resolution coming! Thanks!

I'm unable to find the getListingInventory error (I'll keep looking), but I did find a server error for the getListing endpoint (listing ID 1110248331).

Thanks again.

[2022-02-14 03:41] neekfenwick commented on #263
Thanks @etsyachristensen .. so the new 'buyer' and 'seller' taxonomy endpoints return standard values, not custom ones?  Honestly my head is spinning and Etsy is just one of several platforms we're trying to integrate with.  I'm trying not to touch it any more than I have to, after all this weirdness with value_id values :)

[2022-02-14 07:22] MaciejDerek commented on #369
Yeah,
Format: int64 is what I thought about :) Please let me know if you are going to implement this change for the applicable properties.

Regards

[2022-02-14 12:27] XAMelleOH commented on #284
@etsyachristensen Hello Andrew,

Do you know reason for that? I mean all other platforms like Amazon, Shopify, Instagram, etc - have an API for customer communication. Why Etsy isn't planning such functionality?

Use case for that - is that you don't need to monitor different sites for new messages and can process them with some all-in-one tool.

THanks

[2022-02-14 12:32] XAMelleOH commented on #31
+1 for exactly that feature.

@etsyachristensen Any updates on this topic?

[2022-02-14 12:37] thebest0f commented on #373
Could you update this post when that happens? We have updateListingInventory blowing up quite a bit.  Would appreciate it.

[2022-02-14 12:40] XAMelleOH commented on #171
Any feedback from Etsy team on this topic?

FYI @etsyachristensen @ataetsy @pma-etsy @rpinedaetsy @etsy @Vaibhav @manjuraj

[2022-02-14 12:42] XAMelleOH commented on #67
Any feedback from Etsy team on this topic?

FYI @etsy @Vaibhav @manjuraj

[2022-02-14 12:54] main24 opened #374 "[BUG]: Shipping method is not returned with orders/receipts in V3 API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Chosen shipping method is not returned with orders via V3 API anymore. The documentation states that shipping method is now returned in transactions, however it is always blank, however it is being returned via V2 API. Checked the following API endpoints:
* [getShopReceipt](https://developer.

[2022-02-14 14:46] etsyachristensen commented on #373
@nmrdxt It's in process of testing now. I hope to have it out soon. On that `getListing` error, I'm not able to duplicate that. Are you doing any includes (associations) when pulling that listing?

[2022-02-14 19:12] etsyachristensen commented on #373
@nmrdxt @assaflei and @thebest0f I've had to revert the changes I made for preventing the variation images from being wiped when updating inventory. The fix for the `updateListingInventory` endpoint is up now as well as the `getShopReceipts` endpoint. I'll revisit the variation images again tomorrow.

[2022-02-14 19:16] nmrdxt commented on #373
Fantastic! Thank you so much for taking care of this. That's a relief. I'll continue monitoring our logs, and notify if I notice any similar errors. Thanks again.

[2022-02-14 20:23] yovasx2 commented on #373
inventory working for me like a charm, thanks @etsyachristensen

[2022-02-15 01:46] yovasx2 opened #375 "[BUG]: price_on_property error during inventory update"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I followed the tutorial https://developers.etsy.com/documentation/tutorials/listings#handling-variations-in-inventory-updates  by time to time I received an error: `price_on_property: property IDs must be in the same order as in products`

I don't understand what is wrong because I am includi

[2022-02-15 05:32] nh43de commented on #338
@etsyachristensen - Thanks this is a big issue for us as well

[2022-02-15 07:00] xpresas commented on #67
Nah to be honest etsy moves really slowly with its features. We are still using the old API just because the new one is not worth the hassle to move.

[2022-02-15 16:11] etsyachristensen opened #376 "[OPENAPI] Create new response for flagged listings"

[2022-02-15 16:11] #376 closed

[2022-02-15 16:30] etsyachristensen commented on #200
The changes had to be reverted. Need to do a bit more testing and re-deploy.

[2022-02-15 18:53] etsyachristensen commented on #373
@yovasx2 @assaflei @thebest0f or @nmrdxt Do any of you happen to have a record of a listing id that was causing the error to show up over the weekend? I have the errors logged but don't have a listing id. I need to do some investigation into why it was happening in order to get the inventory update to not wipe variation images out. Thanks!

[2022-02-15 19:52] assaflei commented on #373
@etsyachristensen I sent an email with details to developers@etsy.com as soon as I opened the issue, few days ago, can you verify it's received? I didn't get any confirmation

[2022-02-15 22:27] assaflei commented on #373
I can update that the listings with the updateInventory error were now updated successfully

[2022-02-16 14:29] main24 commented on #149
@kbasali I'm not a maintainer of Etsy :)

[2022-02-16 14:48] nmrdxt commented on #373
@etsyachristensen Is the issue with variation images resolved? We've gotten reports a few days ago related to variation images being shuffled after inventory update is attempted. I did not realize that it could be connected to the 'Server Error' issue until I reread your last message - could you please give an update regarding the variation images? Thanks!

[2022-02-16 15:15] etsyachristensen commented on #373
@nmrdxt See #200 . I had to roll back the changes briefly due to the above issues. I've got it fixed and in testing today. I hope to have it in production today. Sorry for all the trouble.

[2022-02-16 15:15] #373 closed

[2022-02-16 15:46] etsyachristensen commented on #375
I may be late in responding to this @yovasx2 . But I just queried the inventory for that listing and I see two properties:
Finish (500) and Device Type (513).

So your inventory update for price_on_property would be [500,513] and must be in that order (the same order they show up in when you get the inventory).

[2022-02-16 16:37] tman16 commented on #233
I get this error also, I have the images as data urls i.e. data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAA....

`
  var FormData = require('form-data');
  var form = new FormData();

  var data url = 'data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAA....'

  let buffer = Buffer.from(data url, 'base64');

  form.append('image', buffer, {
    contentType: 'image/jpeg',
    filename: 'test123.jpg'
  });

  a

[2022-02-16 18:50] yovasx2 commented on #375
checking it, thx

[2022-02-16 19:11] kbasali commented on #149
Thank you so much, I got the answer but it is not what I want to hear :)

[2022-02-16 22:49] yomimono commented on #371
Please let me know what additional information would help in diagnosing this issue. "works for me" or "example is wrong because $reason" would also be helpful, along with "I tried this on $date with $library in $language and it worked fine".

[2022-02-16 22:59] DemiImp opened #377 "[BUG]: findAllActiveListingsByShop endpoint doesn't work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When I use the endpoint findAllActiveListingsByShop, I get returned:

`{"count":0,"results":[]}`

This is, of course, wrong.

For clarification, the endpoint URL that doesn't work is:

`/shops/{shop_id}/listings/active`

All of that said, the endpoint getListingsByShop with the state param DO

[2022-02-17 17:37] yovasx2 commented on #299
@etsyachristensen  one of a customer is saying this is happening again, could u please take a look and reopen this, please?

[2022-02-17 22:48] yovasx2 opened #378 "[BUG]: item_dimensions_unit received as null"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

when I hit getListing endpoint for a us-based shop my item_dimensions_unit is null:
[code]

### Steps to reproduce

1. Use update endpoint to set the unit
2. Use getListing endpoint to see the unit is null

### Expected behavior

to receive the imperial base unit oz

### Additional context

c

[2022-02-17 23:31] assaflei commented on #216
@etsyachristensen can you elaborate the legal reason details, I have customers asking for this data and would like to understand and explain why its not possible

[2022-02-17 23:35] etsyachristensen commented on #216
I don't know the reasons to be honest. It's coming from our legal department. You can email developers@etsy.com and ask the support team if they can get that information for you.

[2022-02-17 23:45] assaflei commented on #216
Thanks I'll try this,
Could there an option to only have an indication telling whether this data is applied on an order or not? I understand it's related to countries out of EU?

[2022-02-20 07:36] chanpory commented on #236
Yes, please add `Inventory` as an acceptable input for `getListingsByListingIds`—this already supports `Shipping`, `Images, `Shop, `User`, and `Translations`, so it would be a natural extension of this.

[2022-02-20 07:43] chanpory commented on #10
Really would love to see this implemented soon. I don't fully understand the rationale for why this has been off-limits for external partners. We already can change status manually in the Etsy dashboard, and this co-exists successfully with automated status changes as `such as a payment received, shipment being created, being marked as shipped etc`.

[2022-02-20 20:43] benitron opened #379 "[BUG]: API not recognizing grant_type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I am getting {'error': 'invalid_request', 'error_description': 'grant_type is required'} when I have it in my request.

Code:
[code]

`genorated request URL: https://api.etsy.com/v3/public/oauth/token?grant_type=authorization_code&client_id=<client_key>&redirect_uri=http%3A%2F%2Flocalhost%3A8

[2022-02-20 22:38] yomimono commented on #371
In case this is useful, I'm able to successfully upload an image to the `/images` endpoint for the same listing using the same software, edited to push an `image` instead of a `file` to the respective endpoint, but still can't upload a new file.

[2022-02-21 20:16] chanpory opened #380 "[ENDPOINT]: Proposed design change for `getShopReceipts`"
### Is there an existing issue for this?

- [X] I have searched the existing tickets

### Current Endpoint Design

`getShopReceipts` accepts query parameters named `was_shipped` and `was_paid`, while the returned `Shop Receipt` resource shows these as `is_shipped` and `is_paid`.

### Proposed Endpoint Design Change

Query parameters should be named `is_shipped` and `is_shipped`.

### Why are you p

[2022-02-22 11:50] assaflei commented on #291
Any updates on this?

[2022-02-22 15:07] amitshuklaCedcoss opened #381 "[FEATURE]: Trending category and tags"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

_No response_

### Describe the solution you'd like

my existing clients are requesting for trending category and   trending tags , but in v3 API this option is not available

### Describe any alternatives you've considered

https://www.etsy.com/

[2022-02-23 16:37] HSCONickMachin opened #382 "[DOCS]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developer.etsy.com/documentation/

### What would you like to change?

When opening Migrating to Etsy’s Open API v3 in a new tab creates this link
https://developer.etsy.com/documentation/migration/index/
which then breaks these links
[Open API v3 launch timeline](https://d

[2022-02-23 22:07] etsyachristensen commented on #291
@assaflei We reviewed this ticket and realized the documentation is confusing. The way the documentation is generated makes it look like it's supposed to be an array of strings. But this is because the input accepts a string, then converts to an array, but may be null. So the line above the description for this says "Array of strings Nullable".

We're updating the description to specify that it's

[2022-02-23 23:26] etsyachristensen commented on #339
@Xiaoyi-ji-11 We have a fix pending review and testing for showing canceled orders (which have to be refunded). This fix also shows an updated timestamp. Hopefully this will resolve the timestamp problem for you adequately. For the refund lookup, we're still investigating how best to return that information. It may come in the form of another endpoint or something.

[2022-02-24 16:05] etsyachristensen commented on #249
I know it's been a while since you posted this. I'm attempting to duplicate this but haven't been able to. Are you still having this issue? If so, what shop are you getting this on?

[2022-02-24 16:09] etsyachristensen commented on #228
@putjie I'm trying to go through all the old tickets here. Are you still experiencing this issue?

[2022-02-24 19:25] etsyachristensen commented on #228
I am able to confirm that the error message is happening. I'll look into this further but as @stickfigure mentioned above, checkout issue #330 as it explains how to use image_ids as an input parameter on the `updateListing` endpoint to pass in the images in the order you want them in. It will replace the existing images with the new list.

[2022-02-25 14:37] etsyachristensen commented on #365
@stickfigure The fix for this was pushed up a couple days ago. You should now be able to set it to someone_else on listings that have production partners

[2022-02-25 14:37] #365 closed

[2022-02-25 16:15] chrismccaw opened #383 "[BUG]: "Server Error" with digital listings and taxonomy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When updating a listing from physical to digital using "taxonomy_id" = 1334 we receive response `"{\"error\":\"Server Error\"}\n"`

When I go to the Etsy UI the listing is broken
![Uploading Screen Shot 2022-02-25 at 8.07.41 AM.png…]()

Do you have any insight into why we get this error and a

[2022-02-25 18:52] etsyachristensen commented on #338
FYI This is being fixed in ticket #160 and should be in production by early next week. Canceled receipts will be available via the `getReceipt` endpoint for the moment.

[2022-02-25 18:52] #338 closed

[2022-02-25 19:07] yovasx2 commented on #299
news?

[2022-02-25 19:07] yovasx2 commented on #378
news?

[2022-02-25 19:31] etsyachristensen commented on #299
@yovasx2 The fix for this in already in production. It should not be happening any longer.

[2022-02-25 20:06] etsyachristensen commented on #378
We are still investigating this. Hopefully have some answers next week.

[2022-02-25 21:46] yovasx2 commented on #299
thx, you are the best

[2022-02-25 21:57] yovasx2 commented on #278
news?

[2022-02-25 21:58] etsyachristensen commented on #278
This too should be done early next week.

[2022-02-25 21:59] yovasx2 commented on #296
any update?

[2022-02-25 22:12] etsyachristensen commented on #296
Sorry for the delay on this @yovasx2. We were pushed back with holiday stuff when this was first posted. We began investigating but had to put it on the back burner. I'll get it back on the map but I'm not sure what priority it will get.

[2022-02-28 15:17] etsyachristensen commented on #228
This has been addressed and in production now. You can now send images ids that are already attached and it will sort them properly.

[2022-02-28 15:17] #228 closed

[2022-02-28 16:21] etsyachristensen commented on #160
Hi All. We've now enabled the `getShopReceipt` endpoint to return canceled order details.

[2022-02-28 18:32] etsyachristensen commented on #339
@Xiaoyi-ji-11 We've deployed the change to allow for canceled/refunded receipts in the getShopReceipt endpoint. This appears to have fixed the updated timestamp. However it does not update the total as the receipt data is supposed to be static. We will add an issue to our discussion internally about building a `getShopReceiptRefund` endpoint to allow you to query that info.

[2022-02-28 18:32] #339 closed

[2022-02-28 18:35] etsyachristensen commented on #383
I believe we've found the issue. Working on a resolution.

[2022-02-28 22:39] Xiaoyi-ji-11 commented on #339
@etsyachristensen Thanks for your update! I will query the endpoint to see if this works. : )

[2022-02-28 22:58] cal-tec opened #384 "[BUG]: updateListingInventory causes unexpected side effects to Variation Images"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

The [](https://developers.etsy.com/documentation/reference/#operation/updateListingInventory)updateListingInventory method causes unexpected side effects in relation to linked images on variations.

We have implemented a system for automatically updating inventory quantities and prices from o

[2022-02-28 23:17] Xiaoyi-ji-11 commented on #339
The cancelled order can find by id now, but when I query shopReceipts by last_modified time range, the cancelled order and refunded order in that time range didn't return in the response. Can you please check on the endpoint [](https://openapi.etsy.com/v3/application/shops/{shop_id}/receipts)? If the update timestamp is updated, then it should be in the response when quering by last_modified time.

[2022-03-01 11:00] cal-tec commented on #200
https://github.com/etsy/open-api/issues/384

[2022-03-01 11:04] cal-tec commented on #200
Is there any chance of an update on this please?

[2022-03-01 15:12] etsyachristensen commented on #200
Apologies for the delay but this was fixed and put into production. @cal-tec I will address you in #384.

[2022-03-01 15:12] #200 closed

[2022-03-01 15:14] etsyachristensen commented on #384
To address the variation images: The variation images should remain as long as the property_id isn't changed. The property is the variation type, for example Color. The values also must remain the same. So if you have 3 colors: red, green and blue, and then change green to gold, the variation image that was for green will be lost because that property id/value id combo on in the listing variations

[2022-03-01 15:29] nateswart commented on #384
Hi @cal-tec  - thank you for your feedback and recommendations. We will take these into consideration as we plan future updates in our roadmap.

[2022-03-01 19:13] bandoxx opened #385 "[BUG]: {"error":"Expected float value for 'price' (got NULL)."}"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I've got an error: {"error":"Expected float value for 'price' (got NULL)."}

### Steps to reproduce

Used endpoint: /v3/application/listings/1188547181/inventory [PUT]

Data:
{"products":[{"sku":"Hoodies_Gildan[ ]()18500 Pullover Hoodie_Gildan_Red_Front_S","property_values":[{"property_id":51

[2022-03-02 00:15] katiecoathanger opened #386 "[BUG]: API Keys not working - Stuck pending approval and do not show in manage apps"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

The create app / API generator is generating API but they do not work, they say 'pending approval' and are not visible on your manage apps section.

### Steps to reproduce

create app.. get key.. try to use key.. doesn't work.  Try to manage app. doesnt work.

### Expected behavior

working A

[2022-03-02 08:00] Gareth064 commented on #386
If you asked for the app to be fully public, and not just private (for now) then your app has to go through an approval process with Etsy. Only do this once your app is ready to be used by your customers, assuming it is not just for you.

[2022-03-02 10:27] ngups opened #387 "[FEATURE]:"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

_No response_

### Describe the solution you'd like

Hello, I want to list my store orders and get the addresses of the members.

### Describe any alternatives you've considered

_No response_

### Additional context

_No response_

[2022-03-02 11:41] cal-tec commented on #384
Can you please look into this issue again? It does not seem to be working as you describe above

As far as I can tell I am following the documented procedure found [here](https://developer.etsy.com/documentation/tutorials/listings#updating-inventory) for updating inventory from the API v3 Guide and also the section [here](https://developer.etsy.com/documentation/tutorials/listings#handling-variati

[2022-03-02 12:36] Gareth064 commented on #387
HI @ngups this GitHub Issues board is to raise issues and errors you are having with the new API.
For general help on how to talk to the API, please can you use the following google group
https://groups.google.com/g/etsy-api-v2
Ignore the name of it for now, people use it for the old API and the new

[2022-03-02 12:55] cal-tec commented on #200
Hi,

Sorry to report that this issue still does not seem to be fixed and working as expected

Please see my comments and explanation on https://github.com/etsy/open-api/issues/384

[2022-03-02 13:33] ngups commented on #387
I need help for v3.
I can't list orders. Which function will I use?

[2022-03-02 15:50] Josh-Newts commented on #384
Hello,

Was this issue resolved? My dev team are currently building a stock system for our business to link our ERP and Etsy store and we are experiencing the same three bugs @cal-tec has documented. Despite following the documentation ListingVariationImages are becoming unlinked/disassociated on API V3 InventoryUpdate? We are following the example [here](https://developer.etsy.com/documentation/t

[2022-03-02 17:52] cal-tec commented on #384
Thanks for picking this up so fast. Hopefully, it will be a simple fix at your end.

[2022-03-02 18:07] etsyachristensen commented on #384
Ok so this is very interesting. In our production environment I setup a listing with 3 photos. I added a variation type with 3 variations. I assigned one photo to each variation. I saved the listing. I used the `getListingVariationImages` endpoint to confirm that there are 3 images assigned to the variations. I then used `getListingInventory` to pull down the current inventory. I removed the `is_d

[2022-03-02 18:23] etsyachristensen commented on #384
Subsequent inventory updates seem to keep the variation images. I'm not sure why the first one clears. Still investigating.

[2022-03-02 19:04] Gareth064 commented on #387
Well like I said in my comment, the Google group isn't just for V2.

But to get you started, look at the getShopReceipts endpoint.

[2022-03-02 19:06] Gareth064 commented on #160
@etsyachristensen this ticket has been mentioned in the latest release posted. But your previous comment here said the change has been pulled.

Which one is the truth 😂

[2022-03-02 19:07] etsyachristensen commented on #160
Apologies. I forgot to re-updated. I did push the fix. I had to change how I'd done it.

[2022-03-02 19:07] #160 closed

[2022-03-02 19:09] etsyachristensen commented on #384
Yes. I just checked the test listing and I see the 3 variations. All three variations show a different image.

[2022-03-02 19:14] katiecoathanger commented on #386
I requested it to link with a wordpress plugin, not designing my own app.  I've seen a bunch of other people posting across the internet with the same issue, saying they've waited weeks with no change.  Seems to be since they changed to V3.

[2022-03-02 20:53] stickfigure opened #388 "[BUG]: updateShopShippingProfile says "You must provide either a carrier and mail class or min\/max delivery days.""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Trying to call updateShopShippingProfile but I get the message:

400: {"error":"You must provide either a carrier and mail class or min\/max delivery days."}

This is odd because the documentation for updateShopShippingProfile does not show the `shipping_carrier_id`, `mail_class`, or the min/

[2022-03-03 00:49] linkmybooks commented on #302
@etsyachristensen - any chance this could be looked at please? it's another blocker from fully migrating to the V3 API?

[2022-03-03 00:51] zoborg commented on #302
@etsyachristensen - any chance this could be looked at please? it's another blocker from fully migrating to the V3 API?

[2022-03-03 00:54] zoborg commented on #302
@shoecake - yes I agree, the V2 API had findPaymentAdjustmentForPaymentAccountLedgerEntry which you could then use the findPayment to retrieve the original.. PaymentAdjustments don't appear on this API at all (gulp)

[2022-03-03 08:55] ngups commented on #387
How to define oauth2 in php.
Is there an example as curl?

[2022-03-03 08:58] Gareth064 commented on #387
Hi @ngups, as mentioned before... this GitHub repo is not the place to be asking for this type of help. Its only to raise bugs, issues or concerns that people are finding when using the new API.

Please have a read through the API documentation (https://developers.etsy.com/documentation/) as well as use the Google Group (https://groups.google.com/g/etsy-api-v2) for the type of help you are looking

[2022-03-03 11:19] aniruddhaad opened #389 "[BUG]: Invalid auth/bad request (got a 500, expected HTTP/1.1 20X or a redirect)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hi,

We are trying upload this product and we are getting error -
Invalid auth/bad request (got a 500, expected HTTP/1.1 20X or a redirect)

Here is request -

{"quantity":"1","title":"Pearlsjoy lariat necklace in white gold and yellow gold plating - style,color 2 pearl lariat \/ white gold",

[2022-03-03 20:08] etsyachristensen opened #390 "[BUG] Add error response to updateListing when variations exist"

[2022-03-03 20:11] #390 closed

[2022-03-03 23:57] etsyachristensen commented on #389
@aniruddhaad I will need more information in order to troubleshoot this.
1. is this an app you've built? Or an integration you've added to a shop?
2. Are you calling the V3 API endpoint or the V2 API endpoint? (what url are you using)?
3. Does the user that's uploading this listing have listings_w scope permissions?
4. Are you doing a GET, PUT or POST to the endpoint?
5. Are you sending JSON data?

[2022-03-04 00:02] #375 closed

[2022-03-04 00:18] cal-tec commented on #384
@etsyachristensen Did you manage to make any progress on this? and is there an ETA on a bug fix?
As @Josh-Newts says "this is proving to be a major obstacle to using the Etsy marketplace"

[2022-03-04 08:13] rakeshdobariya1 commented on #386
@Gareth064  We are also facing similar issue. We also tried with only selecting option for our self. Still after creating app, status is Pending approval and app is not listed under Manage Your apps. This is blocker for us to move further in development.

Is there any sandbox available where we can do testing ?

[2022-03-04 08:34] Gareth064 commented on #386
@rakeshdobariya1 I have only ever seen the approval part when you select that you want your app to have full access, meaning it will be used to connect to other peoples stores and not just your own. If you are just connecting to your own store only then approval isn't needed.

As for a sandbox, annoyingly Etsy doesn't provide one. You have to test against your own live store.

Ps. I don't work for

[2022-03-04 09:31] amitshuklaCedcoss commented on #357
Hello @etsyachristensen,
I'm still facing the same issue in many clients' shops. I had already sent a detailed mail to  [developers@etsy.com]  on *Mon, Feb 21, 8:13 PM (11 days ago)* from *amitshukla@cedcommerce.com* but didn't get any response yet.

plz once again check same issue.
thanks

[2022-03-04 11:08] assaflei commented on #357
I think that I understood the reason for these messages,
The ending_tsz value is a time that has already passed so I assume the listings are expired and the seller needs to renew them

@etsyachristensen does this make sense to you?
Is there a way to get a more informative message?

[2022-03-04 14:02] ramo-karahasan-riechardt commented on #386
We face the same issue that we're receiving the "approval" message within etsy with all the API credentials visible, but after re-login the App listing disappears. No matter which type (for me, smaller groupl, ,publich)  is selected

[2022-03-04 14:12] etsyachristensen commented on #384
Yes as a matter of fact yesterday late in the day I posted what I think is a fix for this. Can you test it out with your app?

[2022-03-04 14:49] cal-tec commented on #384
Hi,
I have just done a quick test on a single listing and it looks like it has worked so far.
I will test this extensively over the weekend and get back to you with a final report.

It may also be helpful if @Josh-Newts can instruct his dev team to test this also as it sounds like they have a vast number of listings to process.

[2022-03-04 15:01] stickfigure commented on #388
This seems to have resolved on its own without any code changes on my end. I'll reopen if I see it again.

[2022-03-04 16:07] jftanner commented on #386
Same issue. I created an app for testing the API, as a 3rd party integration with Make (formerly Integromat) is getting the wrong data. However, the API keys provided don't work and nothing appears under "Manage your apps":
<img width="751" alt="image" src="https://user-images.githubusercontent.com/10095474/156798062-47bbcac0-275e-4a50-9003-d19cd06c0924.png">

I don't need full access, just the pr

[2022-03-04 16:16] Gareth064 commented on #386
Wait a minute... this is new
![image](https://user-images.githubusercontent.com/22307223/156798549-b89faf8e-d5fd-4554-91b1-14f08eb41f52.png)
@etsyachristensen are you able to comment on this so called sandbox API?

@jftanner @ramo-karahasan-riechardt @katiecoathanger @rakeshdobariya1
I can see what you guys are saying... I just created another app, the same way I did with the one I am using now, a

[2022-03-04 16:42] nateswart commented on #386
Hello everyone. To confirm, yes the keys won't show up under your manage apps section until they are approved. We are updating our security policies and working through the queue of key approvals, so we appreciate your patience as we get our queue caught up to current demand.

If you already have a key and are just waiting for "full access" requests to be processed then your keys should still be o

[2022-03-04 16:42] #386 closed

[2022-03-04 16:54] jftanner commented on #386
@nateswart Can you provide some kind of ETA or tracking for this for new apps being approved?

Also, because it looks like the app just was never created (rather than is in a pending state), I assumed there was something wrong with my entries and tried three times. I only actually need one of them. I suspect I'm not alone in this, so that may well be leading to an increased queue that need review.

[2022-03-04 17:00] nateswart commented on #386
Yes, we have noticed the same trend (it's ok, don't worry) :)

We've been ramping up a renewed attention for Open API, and a lot of changes are coming this year that will be yielding many improvements. The recommendation you mentioned is actually already in discussion with a number of other improvements.

I'm hesitant to give any concrete timeframe that could cause further frustration for anyone w

[2022-03-04 17:17] jftanner commented on #386
Thanks @nateswart! I'm really glad that the your APIs are going to be getting more love soon.

I'm a microservices architect and developer in my day job (selling craft goods is a side business for me), so a robust set of APIs is incredibly valuable for me. If I can build proper integrations between my inventory/finance systems and Etsy, that'll cut down on a lot of frustrating, manual effort as my

[2022-03-04 18:25] aniruddhaad commented on #389
Hi @etsyachristensen ,

Thanks for reply.

1. is this an app you've built? Or an integration you've added to a shop?
- Yes. I have built this app.
2. Are you calling the V3 API endpoint or the V2 API endpoint? (what url are you using)?
- I am using V2 endpoint & URL:  https://openapi.etsy.com/v2/listings
3. Does the user that's uploading this listing have listings_w scope permissions?
- Yes becaus

[2022-03-05 11:05] bandoxx commented on #385
As I realized, issue is that I had 2 products with same property_values, so it would be good to add check on that, and return more appropriate error message, because Expected float value for 'price' in this situation is a mislead.

[2022-03-05 15:22] MarsLauCN opened #391 "[ENDPOINT]: Proposed design change for <How does app test>"
### Is there an existing issue for this?

- [X] I have searched the existing tickets

### Current Endpoint Design

1.Test store not found.
2.No detailed test introduction.

### Proposed Endpoint Design Change

Add test process.

### Why are you proposing this change?

I don't know how to test.

[2022-03-06 09:33] Gareth064 opened #392 "Detailed Release Notes"
@jasonpincin @nateswart @etsyachristensen
This post is just to ask that the Etsy staff be more specific with the release notes.

I mention this because the latest "release" [here](https://github.com/etsy/open-api/releases/tag/3.0.0-general-release-2022-03-01) doesn't mention that 2 new properties were added to the ShopShippingProfile schema.

For anoyone interested, these are to 2 new properties

[2022-03-06 18:27] jwn25 opened #393 "Problem on updateInventory Endpoint."
**Scenario**: I am developing an app that syncs between other Marketplace and Etsy
I have given an option to users that they can choose if they want to sync their price or not.

If the option is off, I don't want to update the price at all on Etsy,

But I found on updateInventory endpoint, the price field is **required** on Products json.

As a quick solution, I am first fetching the inventories a

[2022-03-06 20:53] Robeszpierre opened #394 "[DOCS]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developer.etsy.com/documentation/reference#operation/updateShop

### What would you like to change?

Please include in the documentation if the property is nullable.

### Why are you proposing this change?

Because it's important.

[2022-03-07 04:34] foxfriends opened #395 "[DOCS]: Undocumented error setting all inventory to 0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developer.etsy.com/documentation/reference#operation/updateListingInventory

### What would you like to change?

There is no mention in the [reference](https://developer.etsy.com/documentation/reference#operation/updateListingInventory), or in the [Listings Tutorial](https:

[2022-03-07 11:44] amitshuklaCedcoss commented on #357
@assaflei I had tried with activate renew both actions, but no luck.
`{ state: 'active', should_auto_renew: true }`

now waiting for @etsyachristensen response.

[2022-03-07 17:54] carlosmartinez-dev commented on #300
Hi @neekfenwick , sorry for the late reply.
I get the value_id like 49928889190 by first making a call to this api https://www.etsy.com/developers/documentation/reference/listing and including `Variations` in the parameters (this is an association described here https://www.etsy.com/developers/documentation/reference/listing#section_associations), the response contains the value_id that I am suppo

[2022-03-07 22:52] #249 closed

[2022-03-07 22:57] etsyachristensen commented on #393
Unfortunately, the `updateListingInventory` (V3) and `updateInventory` (V2) endpoints require the full inventory data to be passed back in due to the complexity of the inventory/variations system. We are not able to separate out parts of the inventory to update only pieces.

[2022-03-07 22:57] #393 closed

[2022-03-07 23:06] etsyachristensen commented on #395
When you have no stock for a listing, you can simply call the `updateListing` endpoint and set `state` to `sold_out`. This will disable the listing. If you only need to zero out the stock on specific variants then you will call the `updateListingInventory` endpoint as you are. But your variations would have to have to be set such that the variation affects quantity. That will allow you to set an o

[2022-03-07 23:07] etsyachristensen commented on #394
There is not enough information to address this ticket. We don't know what property you're referring to.

[2022-03-07 23:08] etsyachristensen commented on #392
Thanks for the note @Gareth064 we are addressing this discrepancy internally. In the meantime, I'm working on updating the changelog.

[2022-03-07 23:08] #392 closed

[2022-03-07 23:12] etsyachristensen commented on #391
There isn't nearly enough information in this issue to be able to answer you. Please email support@etsy.com if you're having issues with creating a shop. If you have issues with specific endpoints, please detail what you are having problems with.

[2022-03-07 23:14] etsyachristensen commented on #389
Unfortunately this github repository is for V3. For support on V2 endpoints, you will need to go to the Google Group here: https://groups.google.com/g/etsy-api-v2

Users there are more able to help answer your questions.

[2022-03-07 23:14] #389 closed

[2022-03-07 23:18] etsyachristensen commented on #385
@bandoxx You are correct. We should have a better response for that situation. We'll add it to our list of issues to address.

[2022-03-07 23:20] #384 closed

[2022-03-07 23:20] foxfriends commented on #395
Thanks! That makes some sense... I guess some feedback on the API design then, it might be easier for app developers if this was automatically determined from the quantities so this would not require a special case, but maybe there is a good reason internally not to do that, I am not sure.

A followup question though: Should `state` be set to `sold_out` or to `inactive`? `sold_out` is not an optio

[2022-03-07 23:25] etsyachristensen commented on #395
Ack! My apologies @foxfriends. I was wrong. I forgot that the updateListing endpoint was modified to only accept active and inactive... So for a single listing product inventory (where only one offering exists), you should be able to set quantity as 0. I will check with the inventory team about why you're getting that error. Have you tried setting the `quantity` to `0` and setting `is_enabled` to

[2022-03-07 23:35] etsyachristensen commented on #383
As a policy, digital listings are not allowed to have variations. It appears this has been happening via the OpenAPI but has been disallowed. Prior to updating any listing and changing the type to `download`, you must reset the inventory to a single product array. For example:
[code]
Just modify the SKU (either remove the value or set to your own) and the price.

[2022-03-07 23:39] foxfriends commented on #395
Ah for my listing it has multiple offerings for different variants. I have not tried setting `is_enabled` to false at all, so that might be part of the problem

[2022-03-09 10:16] Euse opened #396 "[BUG]: Dimension units set to null"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

We edited an existing listing and add some dimensions.
<img width="459" alt="Screenshot 2022-03-09 at 11 13 26" src="https://user-images.githubusercontent.com/6683575/157420899-97724549-97bf-4192-8c0f-c3f48acd57b6.png">

The problem is when we call getListing it returns all dimensions fields

[2022-03-09 14:04] codyschneiderx commented on #39
Ping.

Any progress on etsy analytics api endpoit?

[2022-03-09 16:59] etsyachristensen commented on #395
Ok @foxfriends I did some discussing of this with our internal teams surrounding listing processes. What I've learned is that there is not currently *supposed* to be a way to set an entire listing as sold out. You *can* set individual variants as quantity = 0 but at least one of the offerings in each product must be greater than 0. Setting is_enabled to false won't do the trick. So, rather than at

[2022-03-09 17:01] foxfriends commented on #395
Thanks for figuring that out!

I will do that, this is just setting `state` to `inactive` by `updateListing` then? And to re-activate, I would just do the opposite?

[2022-03-09 18:16] etsyachristensen commented on #395
Correct.

[2022-03-09 18:51] codyschneiderx commented on #39
@etsyachristensen any way I can get momentum for this? Like an upvote system for roadmap? I know there are sellers looking for a better way to optimize their listings and this could be a solution

[2022-03-09 18:59] jasonpincin commented on #372
Thank you for the suggestion! We have no plans to offer this functionality.

[2022-03-09 18:59] #372 closed

[2022-03-09 23:07] foxfriends opened #397 "[ENDPOINT]: Consistently use non_taxable or is_taxable, but not both"
### Is there an existing issue for this?

- [X] I have searched the existing tickets

### Current Endpoint Design

When I [get a listing](https://developers.etsy.com/documentation/reference/#operation/getListing), it comes with a field `non_taxable`.

When I need to [update a listing](https://developers.etsy.com/documentation/reference/#operation/updateListing), it requires the field `is_taxable`.

[2022-03-09 23:14] foxfriends opened #398 "[ENDPOINT]: Consistently use type or listing_type, but not both"
### Is there an existing issue for this?

- [X] I have searched the existing tickets

### Current Endpoint Design

When I [get a listing](https://developers.etsy.com/documentation/reference/#operation/getListing), it comes with a field `listing_type`.

When I need to [update a listing](https://developers.etsy.com/documentation/reference/#operation/updateListing), it requires the field `type`.

See

[2022-03-09 23:18] foxfriends opened #399 "[ENDPOINT]: Proposed design change for `getListing`/`getShopReceipt`/etc."
### Is there an existing issue for this?

- [X] I have searched the existing tickets

### Current Endpoint Design

Some endpoints return [`create_timestamp`](https://developers.etsy.com/documentation/reference/#tag/Shop-Receipt), others return `creation_timestamp`. Same idea for `update_timestamp` and [`last_modified_timestamp`](https://developers.etsy.com/documentation/reference/#operation/getLis

[2022-03-09 23:44] foxfriends opened #400 "[ENDPOINT]: Proposed design change for all endpoints (?)"
### Is there an existing issue for this?

- [X] I have searched the existing tickets

### Current Endpoint Design

Seems to me some endpoints accept the body as form (e.g. [`updateListing`](https://developers.etsy.com/documentation/reference/#operation/updateListing)) while others accept JSON (e.g. [`updateListingInventory`](https://developers.etsy.com/documentation/reference/#operation/updateList

[2022-03-11 09:45] edwinjoy69 opened #401 "Etsy varients updation using V3 API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://stackoverflow.com/questions/61806234/etsy-api-update-inventory

### What would you like to change?

There is no option to update new property for a product or add new variation style to a product by using api.I think there is option in etsy v2 API not in etsy v3 api.please

[2022-03-11 19:28] yomimono commented on #371
I've submitted a support request to Etsy asking whether I can expect an update on this issue within 7 days. Uploading files is a required feature (indeed, it's the core feature of the application I'm developing), and as this is a new application I certainly don't want to rewrite it for the previous API version.  If this can't be resolved I will need to move to another platform.

[2022-03-11 20:43] yovasx2 opened #402 "[BUG]: getShopSections endpoint returning 500 (almost always) and 400 (by time to time)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

hitting getShopSections endpoint is returning 500 and 400 for some of our customers:
shop_id example: **30664462**

v2 API equivalent endpoint is working almost perfectly but also returning the 400 errors from time to time

### Steps to reproduce

curl --location --request GET 'https://openap

[2022-03-12 05:08] chrismccaw opened #403 "[BUG]: shipping_profile_id is null even when shipping profile exists"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

We have noticed that `shipping_profile_id` in the GET shop listing API has suddenly started showing as null. In the etsy admin the listing does have a shipping profile (calculated or fixed). Furthermore when we include `?includes=Shipping`in the API we see the correct profile in the `shipping

[2022-03-12 23:02] foxfriends commented on #378
I am finding many fields are returned as null or invalid values, which may be related. This makes it hard to use `updateListing`, since updates to unrelated fields are now impossible.

All of these fields have caused problem for me so far when trying to simply update a single field of my products:
* `item_weight_unit` is null
* `item_dimensions_unit` is null
* `personalization_char_count_max` is n

[2022-03-13 17:32] samborambo305 commented on #302
@etsyachristensen is there any update on this on Etsy's end?

[2022-03-14 07:52] lalitarya128 commented on #307
hello
I have create an app few days ago but until this is not approve. when I am going to edit my previous app to add the redirect urI but I am getting this please help me https://qsnapnet.com/snaps/y90r64pclls

[2022-03-14 09:33] lalitarya128 opened #404 "The requested redirect URL is not permitted"
hello
I have create an app few days ago but until this is not approve. when I am going to edit my previous app to add the redirect urI but I am getting this please help me https://qsnapnet.com/snaps/y90r64pclls
from api https://qsnapnet.com/snaps/ydec99wbfji

[2022-03-14 14:55] etsyachristensen commented on #378
@foxfriends we deployed a change on Thursday that seems to fix the problem with the weights/dimensions for the list of listings (spot checked a number of them) that @yovasx2 posted.

Can you give me a short list of ids to check where you are seeing this problem? or even if it's only personalization at this point.

[2022-03-14 16:20] chrismccaw commented on #403
Great Andrew. Let me get them together for you. Those other Ids must have corrected themselves over the weekend. Usually, if the user reapplies shipping again in Vela then shipping_id is not null. However can be random

[2022-03-14 17:16] chrismccaw commented on #403
Hey @etsyachristensen  here are some more listing ids that have `shipping_profile_id` as null but contain `shipping_profile` when using `?includes=Shipping`

1085791299
17797767
17708837
1041528146
1041528146

[2022-03-14 17:19] etsyachristensen commented on #403
Thanks @chrismccaw ! That helped validate that the fix I have in process does correct the problem. Will try to get this fix out as soon as possible.

[2022-03-14 17:20] chrismccaw commented on #403
Awesome. thanks @etsyachristensen for the quick turnaround on this one

[2022-03-14 18:56] jasonpincin opened #405 "Updates"
While we endeavor to provide a comprehensive list of changes to the Etsy Open API via our [releases page](https://github.com/etsy/open-api/releases), we will draw special attention to high-impact changes in this read-only thread.

**Related**

- [www.etsy.com/developers](https://www.etsy.com/developers)
- [developer.etsy.com](https://developer.etsy.com/)
- [releases](https://github.com/etsy/open-a

[2022-03-14 20:11] etsyachristensen commented on #403
@chrismccaw The fix for this is now in production. Thanks for your patience!

[2022-03-14 21:21] yovasx2 commented on #278
was it done?

[2022-03-14 21:26] etsyachristensen commented on #278
Yes sorry @yovasx2 this was pushed last week. Sorry about forgetting to notify you.

[2022-03-14 21:42] yovasx2 commented on #378
@etsyachristensen is this related with https://github.com/etsy/open-api/issues/403?

[2022-03-14 21:44] etsyachristensen commented on #378
No. The shipping_profile_id was a completely separate issue.

[2022-03-14 21:58] yovasx2 commented on #378
it's fixed for me all products for that shop have units in place

[2022-03-14 21:58] #378 closed

[2022-03-14 21:59] yovasx2 commented on #383
it worked for us, thnx

[2022-03-15 00:46] thisisjake opened #406 "[BUG]: getListingsByShop returns invalid Shipping ID"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

GET request to "https://openapi.etsy.com/v3/application/shops/{shop id}/listings" returns incorrect shipping ids for all listings

This bug has been introduced in the last 14 or so hours.

None of the shipping ids exist within the store.

### Steps to reproduce

GET request to "https://openap

[2022-03-15 01:37] etsyachristensen commented on #406
There was a change pushed earlier today. It's being reverted now. Will revise and fix the change tomorrow.

[2022-03-15 02:02] thisisjake commented on #406
@etsyachristensen thank you, really appreciate your prompt response and action.

On a side note, I tried to check if there were any changes before sending my bug request, I couldn't see anything posted in the releases or any recent commits. I'm guessing I can't see that sort of information through github then? Thanks again!

[2022-03-15 02:53] foxfriends commented on #378
Ah it's some products I have that don't have dimensions set at all, they were showing 0 on the Etsy UI and could not be edited there without setting them either. Not really a problem now though, we'll just get those filled in manually... pretty weird that they can be in a 0/null state but cannot be set into that state...

[2022-03-15 03:07] etsyachristensen commented on #378
Listing can now be set to null now with a change that recently went into production. But, they must be either a fixed shipping profile or a digital listing. Physical listings still require dimensions and weight.

[2022-03-15 07:37] lalitarya128 opened #407 "[BUG]: The redirect url is not permitted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

etsy error I have create an app few days ago but until this is not approve. when I am going to edit my previous app to add the redirect urI but I am getting this please help me https://qsnapnet.com/snaps/y90r64pclls from api https://qsnapnet.com/snaps/ydec99wbfji

### Steps to reproduce

1. C

[2022-03-15 09:45] Gareth064 commented on #406
This is what I have been saying lots of times on many threads in here. Things are being changed or fixed without any proper comms about it. I seen Andrew mention on another issue last night (UK time) that he had pushed a fix to Prod, and I'm certain its the is the thing that probably caused you to raise this bug.

It's is a very bad experience for us who want to Develop apps against Etsy when the

[2022-03-15 14:51] etsyachristensen commented on #403
I had to roll this back yesterday due to the emergence of another issue. I'll get it worked out as quickly as I can.

[2022-03-15 14:52] etsyachristensen commented on #296
@yovasx2 I put a change into the system yesterday to correct this issue. It came down to a very elusive caching issue. You should now get back the correct instructions when you update personalization instructions.

[2022-03-15 16:28] etsyachristensen commented on #403
Ok the fix is back into production correctly. Please check your listings now and let me know if you run into any problems with the shipping_profile_id.

[2022-03-15 16:29] etsyachristensen commented on #406
@thisisjake We have corrected the bug and put the fix into production. Please check your listings and let me know if you continue to have issues.

[2022-03-15 16:29] #406 closed

[2022-03-15 17:15] etsyachristensen commented on #405
## getListingImage(s) change (03/15/2021)
We’re making a change to the Etsy OpenAPI V3 public endpoints for getting listing images. Previously, the getListingImage and getListingImages endpoints required the inclusion of /shops/{shop_id} in the URL; however, this was inconsistent with our convention for URLs and naming.

### The change(s) we are making include:
Provide new URL paths for these two

[2022-03-15 18:18] #291 closed

[2022-03-15 19:10] MaciejDerek opened #408 "[BUG]: Missing SKUs and production_partners in Additional_Parameters for ShopListing (findAllActiveListingsByShop endpoint)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hello,

I'm creating an integration with etsy API V3 (transitioning from V2). I would like to get active listings with SKUs values.

I added a listing with SKU (together with a variation). When calling the endpoint findAllListingsActive I see that in the Additional_parameters property there i

[2022-03-15 19:18] etsyachristensen commented on #408
The findAllListingsActive endpoint is a public endpoint. The "sku" array element is included but only because all the endpoints that return listings use the same common resource in our system. However, the values of sku and production_partner_ids are private information and thus only exposed in listings that are owned by the user that is authenticated. So if you are querying your own listings (as

[2022-03-15 19:59] MaciejDerek commented on #408
Sorry for not precise description. Of course I use **findAllActiveListingsByShop** - and I add authentication token and still there are no values for skus and production_partner. I updated the title

[2022-03-15 20:37] etsyachristensen commented on #408
Apologies @MaciejDerek I should have been a bit more clear. The "find" endpoints are public and aren't setup to fetch that information. The "getListing" and "getListingsByShop" are the endpoints you'll need to use to get that information.

[2022-03-15 23:05] tythomas opened #409 "[BUG]: findAllActiveListingsByShop retrieving 0 records"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When calling the findAllActiveListingsByShop with the state of `expired`, it retrieves the number of records I expect, but when calling it with state of `active`, no records are returned.

Expired State
URL: https://openapi.etsy.com/v3/application/shops/7345095/listings
http method: GET
paylo

[2022-03-15 23:30] etsyachristensen commented on #409
@tythomas The shop you provided (7345095) has no active listings.

[2022-03-15 23:53] tythomas commented on #409
@etsyachristensen - Thanks for the quick comment....I just realized the shop is in vacation mode, which is probably why the "active" aren't showing up.  In this case, how do I retrieve those listings that are marked as "active" in the UI.  I can retrieve every other state fine through the api.

<img width="1628" alt="Screen Shot 2022-03-15 at 4 49 14 PM" src="https://user-images.githubusercontent.

[2022-03-16 09:17] MaciejDerek commented on #408
Hi @etsyachristensen. I understand your point. But as described above I use getListingsByShop and Additional_parameters keys have empty values.

[2022-03-16 15:05] etsyachristensen commented on #408
I don't know what you mean by "additional_parameters". This is not a field we provide in our API or accept in our API. The `getListingsByShop` and `getListing` endpoints will include "production_partner_ids" and "skus" if the owner of the access token requesting the information is the owner of the listings. The two endpoints for "find" are public search endpoints that are designed to fetch publicl

[2022-03-16 15:06] tythomas commented on #409
Turns out, that is the API I'm using....with the state attribute and it's not working.

Here's my URL:  URL: https://openapi.etsy.com/v3/application/shops/7345095/listings

findAllActiveListingsByShop:
https://openapi.etsy.com/v3/application/shops/{shop_id}/listings

Seems vacation mode might be causing them to not be returned?  Just speculating

[2022-03-16 15:17] etsyachristensen commented on #409
That likely is the issue yes. I think when vacation mode is on, the "active" state listings won't be returned to avoid any possibility of those listings being displayed by mistake when the shop is in vacation mode.

[2022-03-16 16:10] vladimirus opened #410 "[BUG]: Cannot create a new app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I had a working app which I asked to delete because I accidentally pressed "Full Access" which I do not need and I thought the app was "stuck" because I couldn't update my redirect url. The app was deleted.

Now, I try to create a new app in https://www.etsy.com/developers/your-apps but it do

[2022-03-16 16:28] etsyachristensen commented on #409
At the moment there is no way unless you already know the listing ids. If you know any given listing id you can do an update and only post the fields you know you want to change.

[2022-03-16 16:49] nateswart commented on #410
There's a good chance that your request is either missing information or demonstrates a violation of the Terms of Service. Be sure when filling out the form to complete everything with as much detail as possible, ensure it's accurate, and abides by the API policies.

[2022-03-16 16:50] #410 closed

[2022-03-16 17:46] yovasx2 commented on #296
still failing, it worked in the first hit but when u played with values they re not reflected
<img width="675" alt="Screen Shot 2022-03-16 at 11 45 24" src="https://user-images.githubusercontent.com/3578401/158654286-59b4f5a2-bcb1-4bc1-ab31-44476ee841c6.png">

cc @etsyachristensen

[2022-03-16 21:10] etsyachristensen commented on #382
This was fixed.

[2022-03-16 21:10] #382 closed

[2022-03-16 23:22] Gareth064 commented on #410
@vladimirus number 5 from your list is an issue I just ran into, and found the BUG and the Workaround for it.

Here is what I just emailed to the Etsy Developers email address to inform them of the BUG

When you go to [Apps You've Made - Etsy Developers](https://www.etsy.com/developers/your-apps)

Click on any App name

![image](https://user-images.githubusercontent.com/22307223/158706950-fdfa4837

[2022-03-16 23:23] Gareth064 commented on #407
@lalitarya128  see my comment on  #410 for the workaround to this issue

[2022-03-16 23:24] Gareth064 commented on #404
@lalitarya128 as per your other ticket #407 please see my comment on  #410 for the workaround to this issue

[2022-03-17 08:07] MarsLauCN opened #411 "Why my app still "Awaiting Approval"?"
### Is there an existing issue for this?

- [X] I have searched the existing tickets

### Current Endpoint Design

I have revised the content as required, but still "Awaiting Approval", Please check it, my APP name is "Shipreadygo", thanks a lot.

### Proposed Endpoint Design Change

I suggest to add status for "request full access".

### Why are you proposing this change?

In this way, I can know

[2022-03-17 15:53] NSaikevych opened #412 "[BUG]: A missing label on the UI when creating shipping profile/destination for some countries via API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

It is possible to create a shipping profile or shipping profile destinations with `destination_country_iso: GG`, for example. The shipping profile/destination will be created but the label of this country is missing:
<img width="729" alt="image" src="https://user-images.githubusercontent.com/

[2022-03-17 16:23] nateswart commented on #411
Approvals are not instantaneous and need to be reviewed for compliance and acceptability, so it may be in "Awaiting Approval" for a few days.

A couple key points though, from reading your ticket here, that may be key to know (and anyone else who finds this thread):
- It is against Etsy's Terms of Service for companies to instruct users to register their own API key, so there's a good chance your

[2022-03-17 16:23] #411 closed

[2022-03-17 16:59] main24 commented on #374
Any updates on this please? It's one of the stoppers of migration to V3 for us.

[2022-03-17 17:40] yovasx2 commented on #324
Could u point me to the latest note about translations, please?

[2022-03-17 17:47] onestcom opened #413 "Getting Error when trying to add new variations with Etsy API V3"
Hi,
I'm getting the error: "Expected int value for 'property_id' (got NULL)" when trying to add new variations to my Listing, using the EndPoint updateListingInventory.
here is an example of data i send:
array:2 [
  "products" => array:21 [
    0 => array:3 [
      "sku" => "2020"
      "property_values" => array:4 [
        "property_id" => 513
        "value_ids" => array:1 [
          0 => 1

[2022-03-17 19:42] etsyachristensen commented on #402
Ok so we have determined the problem (I believe). That shop you provided has sections that have no names. This is upsetting the query system. Looking into solutions now.

[2022-03-17 21:44] MaciejDerek commented on #408
Hi @etsyachristensen. Thanks for explanation! I found out the source of confusion :)
In the summary of changes https://developers.etsy.com/documentation/migration/summary-changes
you specified that:
Endpoint **findAllShopListingsActive in V2** is mapped to **findAllActiveListingsByShop in V3** which in my case would be as you wrote above **getListingsByShop with query param state=active** I totall

[2022-03-17 21:44] #408 closed

[2022-03-17 22:16] Gareth064 commented on #374
@main24 if you look at #271, which was closed as resolved, it describes that the **Shipping_Method** will be NULL if there was no upgraded shipping selected, so you can infer that by it being NULL that it is Standard Shipping.

But this doesn't make sense when you look at the properties of the **ShopReceiptTransaction** schema for the API.

You can see here that there is already a **Shipping_Upgra

[2022-03-17 22:22] etsyachristensen commented on #402
A fix is in testing now and will hopefully be pushed into production tomorrow.

[2022-03-17 22:29] etsyachristensen commented on #413
@onestcom The array you provided appears to be somewhat of a php array. It's tough to read. Can you provide your post data as a JSON array? The data has to posted as JSON data.

[2022-03-17 22:42] etsyachristensen commented on #412
@NSaikevych When you query the API after creating the destinations via the API are the labels correct? Is it only an issue in the Etsy web UI?

[2022-03-17 22:57] etsyachristensen commented on #409
Given that the V2 OpenAPI behaves the same way, we are not going to work on making any changes to this endpoint at this time.

[2022-03-17 22:57] #409 closed

[2022-03-17 22:57] #407 closed

[2022-03-17 22:57] #404 closed

[2022-03-17 23:02] etsyachristensen commented on #401
I'm not sure I follow completely but if I am, in order to add new variants to a listing you have to post it as full part of the inventory. So if you already have some variants, pull your current listing inventory and then add the variant into the inventory array and post that back to the updateListingInventory endpoint (https://developer.etsy.com/documentation/reference/#operation/updateListingInv

[2022-03-17 23:07] etsyachristensen commented on #400
I'm sorry for the confusion @foxfriends. In order to make things simpler for beginners we tried to minimize the use of json data being required as input and opted for form data whenever possible. Unfortunately we are not able to make such a significant change to our API.

[2022-03-17 23:07] #400 closed

[2022-03-17 23:12] etsyachristensen commented on #399
Consistency would be nice. Many of the V3 OpenAPI endpoints were written by many different developers so we end up with some different names. I'll this to our list of enhancements, but it will likely be a while before we can address it.

[2022-03-17 23:15] etsyachristensen commented on #398
@foxfriends We have this on our list of issues to address in the future.

[2022-03-17 23:21] #394 closed

[2022-03-17 23:21] #391 closed

[2022-03-17 23:25] etsyachristensen commented on #380
The "is" nomenclature is more consistent with standard data architecture as being a boolean value. This may be addressed in the future.

[2022-03-17 23:25] #380 closed

[2022-03-17 23:28] etsyachristensen commented on #379
Unfortunately we are not able to help you with your programming issues. Your best bet is to ask in the [Google Group](https://groups.google.com/g/etsy-api-v2) or on [Stack Overflow](https://stackoverflow.com/c/etsy/questions/tagged/docsbuilder).

[2022-03-17 23:28] #379 closed

[2022-03-18 00:04] yovasx2 commented on #300
V2 also failing:

2022-03-17T20:40:21.780Z ==> error: Upload failed for product 7303685 - applyOps shopId 25190 userDb db5. Error: Error: {"message":"Bad Request","status":400,"text":"variation with property_id 200 and value_id 51995096597 is invalid","method":"POST","path":"/v2/listings/1195609441/variation-images","url":"https://openapi.etsy.com/v2/listings/1195609441/variation-images","params":

[2022-03-18 08:06] onestcom commented on #413
Thank you @etsyachristensen for your quick reply,
here is my post data as json array:
"products" => [
				"sku" => 2167
				"property_values" => {"property_id":513,
										"value_ids":[1],
										"property_name":"Size",
										"values":["4x6ft\/120x180cm"]
										}
				"offerings" => {"price":858,
					"quantity":100,
					"is_enabled":true
					}
			]
An important notes that when i'm

[2022-03-18 08:54] Euse commented on #396
Sorry, but I still can't see the dimensions... Do you have access to this listing? 905518709
I'm using a legacy token to do the call and it should have all the permissions.

[2022-03-18 09:29] NSaikevych commented on #412
@etsyachristensen According to the Etsy v3 API docs there are no country labels. But the `destination_country_iso` is correct.
I think it is the Etsy web UI issue only

[2022-03-18 15:32] mhaydenetsydev commented on #396
@Euse
Yes I have access to the listing. You initially created the listing with dimensions set to null:
  "item_weight": null,
  "item_length": null,
  "item_width": null,
  "item_height": null,
  "item_weight_unit": null,
  "item_dimensions_unit": null,

Can you please edit the list and give the dimensions NON null values and see if that overwrites those null values.

[2022-03-18 16:24] yovasx2 commented on #402
That's really weird because we are using createSectionV3 which requires the title: https://developers.etsy.com/documentation/reference/#operation/createShopSection

Is this fixing the 400 and 500?

[2022-03-18 16:27] etsyachristensen commented on #402
Yeah I think the fact that they are blank was outside of the OpenAPI and something that was a bug in another app. The bug was fixed but it still left blank section names.

I couldn't find a 400 error on this one. The change may fix both but if you can provide an example of a 400 error I can look into that as well.

[2022-03-18 16:28] etsyachristensen commented on #412
@NSaikevych We have a solution we are working on. We hope to have this fixed next week. This is not actually an issue with the OpenAPI, but with another area of the the Etsyverse. I'll leave this ticket open but our team won't be the ones working on the fix. If/when I get an update I'll let you know.

[2022-03-18 16:31] yovasx2 commented on #402
the query above is producing the 400, I hit it multiple times with postman like 10, and from time to time the 400 is coming

[2022-03-18 16:33] etsyachristensen commented on #402
Oh sorry. I see it now. Hmm. I'm not able to duplicate that error exactly. I'll keep trying.

[2022-03-18 17:06] #396 closed

[2022-03-18 17:14] etsyachristensen commented on #402
Ok the fix for the 500 error is now in production. Please test is out and let us know if you still have the 400 errors. If you do get them, please post the resulting headers (remove any private info of course).

[2022-03-18 17:58] main24 commented on #374
Thank you @Gareth064, missed https://github.com/etsy/open-api/issues/271 previously.

I guess `shipping_method` is redundant in the response as it seems to be always `nil`, or I'm missing something yet another use case?

[2022-03-18 18:02] Gareth064 commented on #374
No worries @main24 . Hopefully @etsyachristensen can update on the situation soon.

[2022-03-18 21:06] yovasx2 commented on #402
all is good, thx

[2022-03-18 21:06] #402 closed

[2022-03-18 21:07] yovasx2 commented on #324
Thx. To clarify translations are not wiped out anymore correct?

[2022-03-18 21:12] etsyachristensen commented on #324
correct

[2022-03-18 21:14] yovasx2 commented on #278
Hi, I can see that values as still not nullable according to docs (I am using a fixed shipping profile, which doesn't require units or values fro weight and dimensions)

<img width="921" alt="Screen Shot 2022-03-18 at 15 12 28" src="https://user-images.githubusercontent.com/3578401/159083817-432d14ba-ccaf-4f9c-8812-5d7ab4c831b4.png">

[2022-03-18 21:15] yovasx2 commented on #293
Any update on this?

[2022-03-18 21:17] yovasx2 commented on #311
probs involves #278

[2022-03-19 06:48] NSaikevych commented on #412
@etsyachristensen I understand that it is not related to the API.
Please share where to log such unrelated to the API bugs, just in case for the future.
Thank you for your feedback!

[2022-03-20 08:56] NSaikevych commented on #412
@etsyachristensen
I have found an API issue regarding the creation of the Shipping Profile Destination.
`destination_country_iso: BY` and `destination_country_iso: RU` leads to the 500 Server Error.

Would be great to get another HTTPS error code for it.

[2022-03-20 23:00] valeriu-balaban commented on #333
**Highly desired.** At least exposing a simple delivery status for USPS such as ['pretransit', 'intransit', 'delivered'] would be welcomed.

[2022-03-21 15:22] main24 commented on #374
Closing the issue as current logic has been clarified.

[2022-03-21 15:22] #374 closed

[2022-03-21 19:07] ProgramerAnel opened #414 "[BUG]: findAllActiveListingsByShop SKU returned unclear"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

By using GET : https://openapi.etsy.com/v3/application/shops/{shop_id}/listings/active

We got response which contains array of SKUS like shown bellow

`  "tags": [
    "14k gold ring",
    "gold diamond ring",
    "14k diamond ring",
    "14k gold pearl",
    "estate diamond ring",
    "diam

[2022-03-21 19:20] Y0lk opened #415 "[BUG]: createShopShippingProfile returns new error about origin_postal_code that contradicts the documentation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Since last week, it seems the createShopShippingProfile endpoint returns this new error: `We currently do not support submitting postal codes for this country: CA` when creating a shipping profile with an origin_postal_code in Canada. I have never seen this error before. In the documentation

[2022-03-21 21:50] etsyachristensen commented on #412
@NSaikevych The API will now return a 400 Bad Request response when using RU or BY for the time being.

Also, the GG and JE should start showing up in the UI soon, if not already.

[2022-03-21 21:50] #412 closed

[2022-03-21 22:12] etsyachristensen commented on #415
@Y0lk I am not able to duplicate your experience. I was just able to create a new shipping profile destination using `origin_postal_code` of "A1A1A1" and the `destination_country_iso` of "CA".

Can you post the full payload (with your credentials redacted) you are sending?

[2022-03-21 22:48] etsyachristensen commented on #413
I'm not sure if this is related but if you are adding a new property to a listing you won't include any values in the `value_ids` array. Leave that array empty. The system will create a new value id for the new property value. Try submitting with an empty array for `value_ids`.

[2022-03-22 04:17] Y0lk commented on #415
As mentioned, the `origin_country_iso` should be CA. Here's an example of a payload that triggers the error

`{
    "title": "Test title",
    "origin_country_iso": "CA",
    "destination_country_iso": "CA",
    "primary_cost": 18.51,
    "secondary_cost": 3.70,
    "min_processing_time": 5,
    "max_processing_time": 10,
    "min_delivery_days": 1,
    "max_delivery_days": 7,
    "processing_time

[2022-03-22 05:55] kediaankita opened #416 "[DOCS]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developers.etsy.com/documentation/reference#operation/getShopReceipt

### What would you like to change?

To fetch the delivered orders, earlier we used to get a field "status" in shipments array for the  delivery status but now we are not getting any such field.
How can we

[2022-03-22 15:35] etsyachristensen commented on #415
Ah ok thanks for the clarification @Y0lk. At the moment, the documentation is a little bit incorrect. Currently the postal code for Canada is only required/allowed when the shipping profile is a calculated profile. The calculated profiles can only be created via the Esty UI. We are currently working on opening up the fixed/manual profiles to allow for use of postal codes in other countries. We wil

[2022-03-22 18:48] probc opened #417 "[BUG]: Clicking App name in developer account results in a 404 page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

The documentation is telling me to click on my App name in my developer account for additional settings, however when I do this I am presented with a "Uh oh! Page Not found" error.  I suspect this is because my new App is still set as "Pending Approval".

I have sent in about a dozen emails t

[2022-03-22 19:27] Gareth064 commented on #417
Hey @probc, please see #410 for a description of this issue and the work around.

[2022-03-23 01:24] yovasx2 commented on #403
hey we are receiving shipping_template_ids (products endpoint GET) that are not in the catalogue (shipping profiles GET)
here are some shop ids:
[code]

[2022-03-23 09:13] onestcom commented on #413
Hi @etsyachristensen,
Thank you for your reply, I did send the post data with an empty array for value_ids, but still get the same error:  "error" => "Expected int value for 'property_id' (got NULL)".
what I want to do is to add new variations (Sizes) to my listing,  and as I mentioned before when I'm updating existing variations prices using the endpoint updateListingInventory it works perfectly,

[2022-03-23 14:36] etsyachristensen commented on #296
ok working on this.

[2022-03-23 14:56] onestcom commented on #413
Thank you @etsyachristensen  for your reply and your patience.
I did find the issue.
My bad,
offrenigs and property_values should be an array of OBJECTS.
for example
    "offerings" => array:1 [
            0 => array:3 [
              "price" => 858.0
              "quantity" => 100
              "is_enabled" => true
            ]
          ]

Best Regards

[2022-03-23 14:56] #413 closed

[2022-03-23 15:11] probc commented on #417
Thanks for the info.  As it turned out my app still hadn't been approved (almost 4 weeks later), and coincidently yesterday it was approved.  Now I do see the same issue here when trying to click the App name with the extra / / in the url.  Simply removing this does load the page as expected.

Our next challenge is to finally start programming our functions with the API.  Slowest approval process

[2022-03-23 15:11] #417 closed

[2022-03-23 18:42] sarahschroeter commented on #171
+1 for this feature, our shop receives roughly 200+ messages a day, and it is not sustainable to manage that volume in the Etsy messenger without more tools. We have 4 cs agents in this queue daily, which we are not easily able to monitor each agent's volume, automatically tag issues using key words, etc. Our shop also sells on other marketplaces which all integrate with Zendesk, leaving Etsy as a

[2022-03-23 21:05] vethan opened #418 "[BUG]: Edit app URL on your apps page has a space"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

On the page https://www.etsy.com/developers/your-apps clicking on the name of an app generates a URL with an extra space inserted

e.g.: https://www.etsy.com/uk/%20/developers/edit/{APPID}

instead of: https://www.etsy.com/uk/developers/edit/{APPID}

### Steps to reproduce

1. Have a app crea

[2022-03-24 01:56] neilnguyendev opened #419 "[BUG]: UpdateListing - "There was a problem with price : must be above min price""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I'm trying to update the listing by using this API: [updateListing](https://developer.etsy.com/documentation/reference#operation/updateListing).

But the response always has status 400 code and message:
`{"error":"There was a problem with \/price : must be above min price \u20ab4,420 VND"}`

[2022-03-24 09:18] neilnguyendev commented on #419
I tried to remove the price from the request's payload. But I still get the same error.

[2022-03-24 20:12] yovasx2 commented on #296
could u please reopen this?

[2022-03-24 20:55] etsyachristensen commented on #385
We've been through this ticket and determined that while the error isn't particularly useful, it does prevent erroneous inventory from being written. As this is somewhat of an edge case, we'll simply log it as a future task and close this ticket out.

[2022-03-24 20:55] #385 closed

[2022-03-25 09:58] amitshuklaCedcoss commented on #153
@peepo3663 @Gareth064 now we are able to get cancelled order status in V3 API (y)

[2022-03-25 10:05] Gareth064 commented on #153
@amitshuklaCedcoss are you saying that they appear in the results a long side open and fulfilled orders, without having to pass any extra parameters with the Get query? If so, then this is great news.

[2022-03-25 10:09] amitshuklaCedcoss commented on #153
status required | stringEnum: "paid" "completed" "open" "payment processing" "canceled"
-- | --

https://developers.etsy.com/documentation/reference/#operation/getShopReceipts

yes @Gareth064 , many of my clients are already getting this new status

[2022-03-25 10:12] Gareth064 commented on #153
@amitshuklaCedcoss - awesome, thank you for letting me know :)

[2022-03-25 11:31] kediaankita commented on #416
please reply to this query asap.

[2022-03-25 11:57] Gareth064 commented on #416
Are you saying that the Shipments Array, in the new V3, used to have a status to say if the order was delivered to the end user?

![image](https://user-images.githubusercontent.com/22307223/160116340-44f481e7-9720-4903-94e8-02a89c16b883.png)

I have looked back to a very old OAS file for V3 and I couldn't see such Status field.

There is already a Feature request related to getting the delivery st

[2022-03-25 13:08] kediaankita commented on #416
that means currently delivered status is not there in the API, right?
and I will not be able to fetch delivered orders by any means?

[2022-03-25 13:30] ChrSchwarz commented on #386
It is still not working. Creating an app, status is pending and a view hours later it is gone in the managed apps.

[2022-03-25 13:33] Gareth064 commented on #416
That's right.

But You wrote you're original message as if you used to be able to get this data? Were you able to get it before?

[2022-03-25 18:15] etsyachristensen commented on #296
This has now been fixed.

[2022-03-25 18:15] #296 closed

[2022-03-25 20:43] creharmony opened #420 "[BUG]: findShops return 3 results when limit is set to 2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I ask to find shop using this api [findShops](https://developers.etsy.com/documentation/reference/#operation/findShops) with this request parameters:
- limit: `2`
- shop_name: `mony`

This call give me 3 results.
Only 2 results are expected.

### Steps to reproduce

fetch  https://openapi.ets

[2022-03-27 10:26] jon-chambers opened #421 "[DOCS]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developers.etsy.com/documentation/reference/#operation/createDraftListing

### What would you like to change?

Creates a physical draft listing product in a shop on the Etsy channel.

should read:

Creates a physical draft listing product in a shop on the Etsy channel, whic

[2022-03-27 18:32] jmarcv commented on #421
I am way new here, but it seems to me right off the bat that in order to upload images to a listing, the listing has to be created first, since the upload api requires a listing ID.  It isn't like ebay, where you can do both operations in one api call.

[2022-03-27 19:02] jmarcv commented on #371
I know the docs say to use multiform, but the example in the Listings Tutorial uses:
Content-Type: application/x-www-form-urlencode
Maybe try that to see if the docs are wrong?

[2022-03-27 19:18] jmarcv commented on #363
It would be nice if the docs discussed the required encoding.  Using PHP curl, I am using base64_encode and the output doesn't look like your example.  It also does not work.
So what IS the encoding required? 'binary' doesn't tell me much.

[2022-03-28 04:18] jon-chambers commented on #421
Indeed, and at the cost of an extra sentence.

In most of my other experiences, the word "draft" relates to something I scribble on for a bit before throwing away and starting for real. Hearing it used to mean a necessary step towards a final project, even once I know what I'm doing, feels like a misuse of the word. Especially if I'm writing software that will write a draft, then instantly publish

[2022-03-28 16:21] yovasx2 commented on #296
it's still not reflecting the payload in the response (both are different):
<img width="947" alt="Screen Shot 2022-03-28 at 10 20 41" src="https://user-images.githubusercontent.com/3578401/160443063-8fd9f840-9d59-468a-acd9-a4f11e2bbd82.png">

[2022-03-28 16:28] etsyachristensen commented on #296
I noticed you put in “is_personalizable” as false. But required is true. Can you try setting it as true and see if works?

[2022-03-28 16:35] yovasx2 commented on #296
so if that's false all the rest is ignored? That's what I thought but seems to be a little bit weird. Yeah I noticed since the original post it was ignored when it was false

[2022-03-28 16:43] etsyachristensen commented on #388
Can you capture the headers on one of those failures so I can look it up in our system?

[2022-03-28 18:58] etsyachristensen commented on #296
Correct. If it's false the fields don't get processed. I'll add that to the documentation.

[2022-03-28 19:01] stickfigure commented on #388
@etsyachristensen here's a verbose curl session, just the tokens redacted:

[code]

[2022-03-28 19:20] etsyachristensen commented on #388
Jeff I'm not seeing the min_delivery_days/max_delivery_days or mail_class and carrier_id in your PUT. I see the processing time but we need the min/max_delivery_days as well.

[2022-03-29 00:29] stickfigure commented on #388
@etsyachristensen here it is with `mail_class` and `shipping_carrier_id` (which is what I assume you mean by `carrier_id`), same result:

[code]

BTW the docs don't mention these parameters for updateShopShippingProfile.

[2022-03-29 10:22] rkistaps commented on #388
Hello,
We are also facing this issue when trying to update the destination with `/v3/application/shops/26650791/shipping-profiles/{profileId}/destinations/{destinationId}`

Request
[code]

Response
[code]

We recently added both `shipping_carrier_id` and `mail_class` to our requests because for some customers these destinations had `shipping_carrier_id` set, but no `mail_class`. We saw that in API

[2022-03-29 16:39] amitshuklaCedcoss commented on #415
Hi @etsyachristensen i'm also getting issues for few clients when creating shipping profiling
**case 1: "error": "You can't provide a carrier or mail class and min/max delivery days at the same time."**
post data :
{"title":"shipping-united states","primary_cost":5,"secondary_cost":2,"destination_region":"","origin_postal_code":"94619","origin_country_iso":"US","destination_country_iso":"US","proc

[2022-03-29 17:20] etsyachristensen commented on #415
There is an upcoming change that will affect OpenAPI V2 regarding the delivery estimates, which you can read about here (https://www.etsy.com/developers/documentation/getting_started/edd). That said, I am not sure if this is related to that change as none of that was meant to be in place just yet.

I am updating the documentation today as well to make the following more clear:

When adding or upda

[2022-03-29 20:50] assaflei commented on #388
@etsyachristensen I verified with a customer and it looks good
I will update in case additional issues occur
Thanks

[2022-03-30 06:49] rkistaps commented on #388
Yes, seems ok on our end as well. Thanks!

[2022-03-30 11:23] rkistaps commented on #388
@etsyachristensen we just received this issue again

Request
`PUT /v3/application/shops/24965250/shipping-profiles/107895916079/destinations/22114908325`
[code]

Response:
[code]
Does this `X-Etsy-Request-Uuid` helps checking the issue on your end?

[2022-03-30 12:00] amitshuklaCedcoss commented on #294
@etsyachristensen can this be addressed now. We are getting IOSS requests almost every week.

[2022-03-30 15:23] etsyachristensen commented on #388
When you get a 500 error, the `X-Etsy-Request-Uuid` is very helpful. I'll look into this some more.

[2022-03-30 23:06] jon-chambers opened #422 "[FEATURE]: pagination errors"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

The documentation reads "the Open API v3 a maximum limit of 100 for performance reasons, and passing a higher value resolves to the limit of 100 instead of throwing an error."

This means that if I mistakenly set the limit to 101, my error will n

[2022-03-30 23:35] jon-chambers opened #423 "[DOCS]: Wording issue in FAQ"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developer.etsy.com/documentation/migration/faq

### What would you like to change?

"How can I access the new API?
Any developer with an active application can opt-in to access the API."

"How can I access the new API?" should read "Who can access the new API?"

### Why are

[2022-03-31 05:27] amitshuklaCedcoss commented on #276
[profile_type] => manual
[profile_type] => calculated

@assaflei @yovasx2 now profile_type returning string value.

[2022-03-31 08:38] jeevan-dpl opened #424 "[BUG]: Cannot update the listing with calculated shipping template id."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Etsy API Version: V2

While creating the product using createListing endpoint I was able to create the product without any issue or error messages.
I used calculated shipping template id and also my product had no data on height, weight, length and width. So they were set to 0 by my system.

[2022-03-31 14:13] mhaydenetsydev commented on #355
@neekfenwick We are having a hard time recreating your error. Can you provide us with a shop_id and the listing_id where you are POSTING to variation-images.

[2022-03-31 19:22] stickfigure commented on #388
I don't know if this is related or not, but it's pretty weird. I just started seeing:

[code]

I get ` 400: {"error":"There are no supported shipping carriers for the origin country. You can only pass custom min and max delivery days."}`

Since the origin_country_iso is US, that can't be true?

[2022-04-01 05:16] stickfigure commented on #388
@etsyachristensen the "no supported shipping carriers" error has gone away. The original "You must provide either a carrier and mail class or min\/max delivery days." is still present.

Gripe: There was apparently an unannounced breaking change that prevents BY or RU destinations from being created. Etsy should be capable of disabling these destinations internally without sending hundreds (thousan

[2022-04-01 06:23] rkistaps commented on #388
Hello. Our customers are still facing "Mail class is required if carrier is present.", while we are not providing `shipping_carrier_id` nor `mail_class`. Any solution for this would be appreciated. Thanks

[2022-04-01 13:12] Deepshikha-cedcoss opened #425 "[BUG]: Getting error(This listing is not publishable because it's frozen) while calling updateListing API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I'm facing the issue (**This listing is not publishable because it's frozen**) when we change the state of the listing edit to active using [updateListing](https://developers.etsy.com/documentation/reference/#operation/updateListing) endpoint. Please give the reason & proper solution for this

[2022-04-01 13:46] ramwebkul commented on #298
I have the same issue in creating Draft Listing on Etsy:
I have tried with both endpoints:
https://api.etsy.com/v3/application/shops/19453804/listings?language=en
https://openapi.etsy.com/v3/application/shops/19453804/listings?language=en

I have also passed "state"="draft" parameter to make sure. Our request data is:

    "title" => "Mug The best is yet to come"
    "quantity" => 300
    "descrip

[2022-04-01 14:03] amitshuklaCedcoss opened #426 "[FEATURE]: webhook request for new order place or order status change"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

currently, we have to poll Etsy orders on 2 mins intervals for each client.
but most of the time we get no new orders, due to this polling API calls are used.

### Describe the solution you'd like

If we will get a webhook request for each client

[2022-04-01 14:06] #426 closed

[2022-04-01 15:07] etsyachristensen commented on #388
@rkistaps Can you provide a shipping profile id or two that we can check this with? The error you are getting likely means that at some point the shipping profile had a shipping carrier defined.

Also, I noticed in your payload above that you included mail_class in the payload with a value of "null". If you aren't going to pass in a mail_class, you shouldn't include the parameter in the payload. I

[2022-04-01 15:19] etsyachristensen commented on #298
Apologies all. I haven't run into this issue on the API previously except when "image_ids" is provided as part of the payload into the createDraftListing endpoint.

You do NOT include a state when creating a listing as the system will automatically set it to default. You can't create a listing in any other state.

@ramwebkul Are the parameters you provided your full payload? Can you provide the fu

[2022-04-01 15:30] etsyachristensen commented on #388
@stickfigure We are still looking into that error you are getting regarding the min/max. It shouldn't be giving that. Is it happening on all listings/profiles with your app or just specific ones?

As for the changes, you are correct that a change was made internally to block the RU/BY country codes from being set as destinations. This was new to all of us as we've never had to block a country befo

[2022-04-01 15:37] #425 closed

[2022-04-01 18:36] stickfigure commented on #388
@etsyachristensen It seems to only be that specific shop/profile: /shops/27293077/shipping-profiles/161078754561

I can call update on other profiles, and it doesn't seem to matter if the shipping_carrier_id/mail_class are present or not.

[2022-04-01 18:58] stickfigure commented on #388
@etsyachristensen I think I've figured out what's going on. The 'US' ShippingProfileDestination for this ShippingProfile didn't have a mail class/carrier id/min/max delivery. Explicitly adding a shipping_carrier_id + mail_class to the US destination for that profile seems to fix it; I can now update the profile.

This whole thing is a bit weird. I'm guessing here, but it looks like one of the dest

[2022-04-01 20:36] carlosmartinez-dev opened #427 "[BUG]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hi, I am connecting to some of your V3 APIs and when using this particular one https://developer.etsy.com/documentation/reference#operation/uploadListingImage  some times, not always, I get this error message:

`{
    "message": "Bad Request",
    "status": 400,
    "text": "{\"error\":\"The

[2022-04-04 04:56] ramwebkul commented on #298
Hi @etsyachristensen ,
As requested, please find below the full payload as a curl request:

    curl --location --request POST 'https://openapi.etsy.com/v3/application/shops/20816651/listings?language=en' \
    --header 'x-api-key: bmlftw8cspgswbh1tyq8m3vu' \
    --header 'Authorization: Bearer 225902729.4GnBrWuCv4iyh9z6ZvqhR8sX6H6oTzs3il7WJI-SA1s9WCAaGjEmHMxRx6Kekx9a7AmOhYFmKql8LjcwdoRoD7V1Ye' \

[2022-04-04 06:14] rkistaps commented on #388
Hello. Thanks for your help so far, @etsyachristensen.

As per your suggestion, I tried using `"shipping_carrier_id": 0`(instead of `"shipping_carrier_id": null`) to unset any carrier, but this gives me a new error - "You can't provide a carrier or mail class and min/max delivery days at the same time.".

Request sample
[code]

Response
[code]

Some other profile ids that fail: `170102836935`, `17

[2022-04-04 06:17] rkistaps commented on #388
Hello. Thanks for your help so far, @etsyachristensen.

As per your suggestion, I tried using `"shipping_carrier_id": 0`(instead of `"shipping_carrier_id": null`) to unset any carrier and removed `mail_class`, but this gives me a new error - "You can't provide a carrier or mail class and min/max delivery days at the same time.".

Request sample
[code]

Response
[code]

Some other profile ids that

[2022-04-04 09:52] NSaikevych opened #428 "[BUG]: API v2. Zip code is invalid for not the USA countries"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

[code]

The creation of such a template sometimes fails with the `ZIP Code  is invalid` error.

### Steps to reproduce

1. Create a shipping template without a postal code for other than the USA country.
2. Sometimes it fails with the `ZIP code is invalid` error.

### Expected behavior

It is

[2022-04-04 14:16] etsyachristensen commented on #428
@NSaikevych I need to know what shipping profile you are using. Can you give me the shipping profile id?

[2022-04-04 14:49] amitshuklaCedcoss commented on #415
@etsyachristensen seems this issue is rectified now, tested for same client now shipping template create without any issue. Can you plz confirm same from your end?
Thanks

[2022-04-04 14:51] etsyachristensen commented on #428
Oh gotcha. You are working with the V2 OpenAPI. For help with that, you will need to post in the Google Group. https://groups.google.com/g/etsy-api-v2. This repo is for V3 OpenAPI.

[2022-04-04 14:51] #428 closed

[2022-04-04 14:58] etsyachristensen commented on #427
This happens sometimes when images are deleted. The easiest fix is to call `updateListing` and pass in the `image_ids` parameter with a comma delimited list of the images currently assigned to the image. This will force a re-numbering based on the order you put them in the comma delimited list. Then call the uploadListingImage endpoint and upload the new image. Our system is designed to force a se

[2022-04-04 15:04] etsyachristensen commented on #424
This github repo is for V3 version of the OpenAPI. For support with V2, you can use the Google Group here: https://groups.google.com/g/etsy-api-v2

[2022-04-04 15:04] #424 closed

[2022-04-04 15:15] #423 closed

[2022-04-05 07:20] rkistaps commented on #388
Hello. Adding to this issue seems like we also have problems creating listings that reference these shipping templates. It means that we cannot fix these templates and cant add new products to these templates.

Request example
[code]

Response
[code]

The only solution we see is to remove these broken templates and create a new one, but that will require us to remap all existing products to new te

[2022-04-05 13:54] etsyachristensen commented on #388
@rkistaps Are you using the V2 or V3 of the OpenAPI? The data payload doesn't look like V3. It appears you're using V2. In V2 there was a big announcement made a couple months ago about new min/max delivery requirements but they only affected V2 because V3 already conformed to the new requirements. If you are using V2 this would explain your issues. And if so, this isn't something I can do anythin

[2022-04-05 14:07] etsyachristensen commented on #388
All of this is because of the announced change that we believed would only affect V2 users regarding the min/max delivery requirements.

Our fulfillment team put out a patch recently that should also not validate the profile itself when attempting to add destinations. That is why you were getting that message. The profile itself needed to be correct but wasn't. Likely as not the profiles were crea

[2022-04-05 14:14] rkistaps commented on #388
The issue of not being able to update existing shipping profile destinations is for v3. We still cannot update some of the shipping profile destinations and receive

"You can't provide a carrier or mail class and min/max delivery days at the same time.". (see my request/response examples above)

This listing creation issue would be irrelevant if we could fix those destinations. I just mentioned th

[2022-04-05 16:29] ulandj commented on #254
Hi @etsyachristensen ,
As @main24 mentioned variants of the same listing may have identical SKU's and that's why we can't rely on SKU's to find required listing variant.
If there are no plans to change then can you please show how to detect a right variant of listing in case they have no SKU's or have the same SKU's using Receipt response?

Thanks

[2022-04-05 16:58] carlosmartinez-dev commented on #427
Thanks @etsyachristensen , if all I want is to replace an image in a given position, will be enough to just update an image for a listing passing the `rank` value and also the `overwrite` property as true ?

[2022-04-05 18:27] etsyachristensen commented on #388
@rkistaps We have added a patch that should fix this issue. Can you try again and see if it's resolved on your end?

[2022-04-06 06:08] rkistaps commented on #388
Good morning. Seems like this patch had no effect. We still see and receive multiple complaints from our customers. We will try to drop and recreate all the destinations in the profile when we see these errors.

[2022-04-06 07:10] rkistaps commented on #388
@etsyachristensen ok, it seems like the patch did help. But I just had to remove the previously added `"shipping_carrier_id": 0`. Thanks for the help here.

[2022-04-06 11:11] jeevan-dpl commented on #384
I am also facing the very same problem. The variation images are getting unlinked.
I tried fetching the variation image object before product update and tried to POST the same json and ended up with the error
"error":"Could not update variation images because of the following error: variation with property_id 200 and value_id 566******* is invalid"

Any workaround??

[2022-04-06 11:22] ramwebkul commented on #298
Hi @etsyachristensen,
Any update on this issue?

[2022-04-06 14:59] etsyachristensen commented on #388
Glad to hear that @rkistaps! Sorry for all the trouble.

[2022-04-06 14:59] #388 closed

[2022-04-06 15:53] rpinedaetsy commented on #254
Sorry I'm a little confuse with this:

It is ok for you to return the exact same fields that the getListingInventory so the Receipt variations will look like this:

[code]

[2022-04-06 16:14] main24 commented on #254
@rpinedaetsy Yep, that would work for us!

Although I think it would be good to preserve `variations` and `product_data` attributes of a transaction from V2 API (with adjustments made to inventory data structure in V3), so API users can opt out unnecessary one.

[2022-04-06 21:28] etsyachristensen commented on #178
@VasilVelikov @BoredGameGeek @benjymouse @assaflei The score option has been added back into the sort_on parameter.

[2022-04-06 21:28] #178 closed

[2022-04-06 21:31] benjymouse commented on #178
@etsyachristensen Awesome!!!!  Thank you kind sir. We'll test it this evening.

[2022-04-06 23:56] luiderek opened #429 "[BUG]: bad <a> tag on migrating from v2 page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

broken link on https://developers.etsy.com/documentation/migration/index/ that points to https://developers.etsy.com/documentation/migration/ which is a 404

![image](https://user-images.githubusercontent.com/12964172/162093215-7c48d0c8-ccfa-4bd3-904b-be18f3cf1830.png)

### Steps to reproduce

[2022-04-07 05:38] assaflei commented on #178
Can someone answer this? @etsyachristensen @VasilVelikov

[2022-04-07 08:51] TungNguyen205 opened #430 "[BUG]:[API V3] Update shop shipping profile returns new error about origin_postal_code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hi ,
I use api POST shop shipping profile to create a new one with the shipping origin is VIETNAM, the payload:
`{
    "title": "new shipping",
    "min_processing_time": 1,
    "max_processing_time": 2,
    "origin_country_iso": "VN",
    "destination_country_iso": "VN",
    "primary_cost":

[2022-04-07 09:20] rkistaps commented on #415
Hello, @etsyachristensen. We recently launched a feature on our end that allows customers to select one of our fulfillment centers as a default country of origin for their listings. We use this information when creating and updating shipping templates we create in their Etsy accounts(fields `origin_country_iso` and `origin_postal_code`). But we are facing validation issues for three countries - "C

[2022-04-07 09:51] lehoangnnx commented on #430
I also have the same problem

[2022-04-07 14:28] etsyachristensen commented on #178
Sure! The score is basically "keyword relevance". Whatever your search terms/filters are, the results are ranked and assigned a "score". If you sort by score, it will return the most relevant results. We don't expose the score values, it's just an internal application.

[2022-04-07 15:03] cdatwood commented on #386
I"m also experiencing a variation of this issue. I was able to create an app, it shows up in "Manage Apps," but whenever I try to use a public endpoint, I get an error that the API key is invalid. It's been a few weeks since the key was generated, I'd have thought it would work by now.

URL: https://api.etsy.com/v3/application/openapi-ping
cURL:
curl --location --request GET 'https://api.etsy.com/

[2022-04-07 15:11] etsyachristensen commented on #429
Thank you for bringing this to our attention. We will get it fixed ASAP.

[2022-04-07 15:23] etsyachristensen commented on #427
It should work that way yes. However, if the images are currently out of order for some reason (meaning there's a gap in the numbering) then it will throw that error. If you are still getting the error and the images are ranked properly let me know. The easiest way to know the rank is to call the [getListingImages](https://developers.etsy.com/documentation/reference#operation/getListingImages) end

[2022-04-07 15:25] etsyachristensen commented on #422
We appreciate the feedback on this. However, this the way our various versions of the OpenAPI have always behaved. We felt it didn't warrant returning an error given the documentation is fairly clear.

[2022-04-07 15:25] #422 closed

[2022-04-07 15:27] etsyachristensen commented on #420
Thanks for the heads up on the docs. We'll get that fixed shortly. As for returning 3 instead of 2... I'll look into that!

[2022-04-07 15:36] etsyachristensen commented on #419
@neilnguyendev Can you please try to use the [updateListingInventory](https://developers.etsy.com/documentation/reference#operation/updateListingInventory) endpoint instead? It will be helpful to call [getListingInventory](https://developers.etsy.com/documentation/reference#operation/getListingInventory) first to get all of the inventory structure that you will need to return in the `updateListing

[2022-04-07 16:00] etsyachristensen commented on #430
We are aware of this issue. We are working on a fix that should be in place early next week.

[2022-04-07 16:01] etsyachristensen commented on #415
@rkistaps and @Y0lk We are aware of this issue. We are working on a fix that should be in place early next week. Sorry for the issues with this. Dealing with postal codes around the world is rather challenging. Some countries use them 100% of the time. Some use them only sometimes and some don't use them at all.

[2022-04-07 16:29] creharmony commented on #236
v2 getListing was able to retrieve Inventory so would be great to keep this feature to avoid twice api call were only one could suffice. 🙏

[2022-04-07 16:32] main24 commented on #254
@rpinedaetsy the example you have provided above would work. I just suggested keeping `product_data` and `variations` attributes instead of changing `variations` attribute for the sake of backward compatibility and avoiding breaking changes if it makes sense (I guess other API users leverage `variations` in the current state). Basically I'd suggest to make transaction contain attributes like the f

[2022-04-07 16:51] rpinedaetsy commented on #254
Ok thank you for your suggestions. I will work this and I'll let you know once is done.

[2022-04-07 17:32] rkistaps commented on #415
Thanks for heads up. We will be waiting for updates on this one.

[2022-04-07 19:09] creharmony opened #431 "[BUG]: variations values translation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

(it's close to #254 but not the same issue)

I worked with listing having **variations**, and using previous v2 version of api, I were able to get complete translations of a given listing: fr, en. especially variation **property values**.

If we focus on variations, the v2 getListing with "Va

[2022-04-08 09:22] multiorders opened #432 "Unique "product_id" value is always changing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

`I was not sure if this is the way it works, if yes, then this should have been a feature request, apologies`

We are attempting to use the "product_id" value as a unique identifier to map Etsy products to our inventory so that the system could communicate and update stock and price correctly

[2022-04-08 10:24] ramo-karahasan-riechardt commented on #386
Hello,

we're also facing the same issue. @nateswart  is there any timeline you can give us or any alternative communication path we could take to continue developing against the API and testing it out?

[2022-04-08 12:05] rakeshdobariya1 commented on #386
Now its "months". Still our application is pending approval. I request to reject app submitted for production review (Which we actually did not) , so at least we can carry on development.

I think this ticket should be reopened as issue still exists ?

Any words of hope ?

[2022-04-08 12:06] rakeshdobariya1 commented on #386
Now its "months". Still our application is pending approval. I request to reject app submitted for production review (Which we actually did not) , so at least we can carry on development.

I think this ticket should be reopened as issue still exists ?

Any words of hope ?

[2022-04-08 22:16] yovasx2 commented on #296
@etsyachristensen now the API is not updating even when the is_personalizable value is true, could u please check it, I attach a SS for the 3 individual fields s
<img width="949" alt="Screen Shot 2022-04-08 at 17 10 41" src="https://user-images.githubusercontent.com/3578401/162540433-27104534-c692-4d99-baac-e888058e6273.png">
ent with is_personalizable

<img width="945" alt="Screen Shot 2022-04-08

[2022-04-09 00:50] neilnguyendev commented on #419
@etsyachristensen Thanks for your comment. I tried to use the `updateListingInventory` endpoint to update prices and it works. But when I use the `updateListing` endpoint to update the listing state, the same error happens.

[code]

I tried to remove the price field in the body param.

[2022-04-11 02:49] cssssb opened #434 "[FEATURE]: I need a sandbox environment"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

_No response_

### Describe the solution you'd like

I need a sandbox environment

### Describe any alternatives you've considered

_No response_

### Additional context

_No response_

[2022-04-11 02:57] cssssb opened #435 "[FEATURE]: I need SDK"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

_No response_

### Describe the solution you'd like

I need SDK

### Describe any alternatives you've considered

_No response_

### Additional context

_No response_

[2022-04-11 15:56] etsyachristensen commented on #420
@creharmony This has been fixed. Thanks for letting us now!

[2022-04-11 18:24] etsyachristensen commented on #419
are you using the V3 OpenAPI? Or V2 OpenAPI? In V3, we don't use "shipping_template_id" but rather "shipping_profile_id" so I'm concerned you're asking for help on V2 which isn't done here. I'm still looking into the issue though because it may not be related to the version of the API.

[2022-04-11 18:55] creharmony commented on #420
Hi @etsyachristensen : ✅ my test confirm that /shops limit is fixed 🙏  as migration doc 👍

[2022-04-11 22:01] etsyachristensen commented on #435
We do not have an SDK. We have an OpenAPI Restful interface. There are some Etsy libraries out there, however none are official.

[2022-04-11 22:01] #435 closed

[2022-04-11 22:09] etsyachristensen commented on #432
The inventory system does work as intended. We are aware that this can be challenging because the product ids and offering ids are changed each time you save the inventory.

However, this is by design. Every time the inventory is updated, a new set of inventory data is created and the previous set of data is archived for posterity and tracking purposes. There is no single key id for any given prod

[2022-04-11 22:24] etsyachristensen commented on #431
@creharmony
1. First off, yes you can remove `shops/{shop_id}` from the getListingVariationImages endpoint call as it's no longer needed.
2. On the translations... I'm a bit confused. We don't translate the `Property Name` value currently. I can see that and will look into the reasoning for that. But the your examples for V3 are incorrect I think.

In your examples you are asking for French and ar

[2022-04-11 22:28] etsyachristensen commented on #430
This should be fixed now. Please let us know if you continue to get errors.

[2022-04-11 22:28] etsyachristensen commented on #429
This is fixed.

[2022-04-11 22:28] #429 closed

[2022-04-11 22:41] etsyachristensen commented on #415
This issue should be fixed now. Please give it a try and let us know if you run into issues still.

[2022-04-12 03:06] neekfenwick commented on #355
Thanks for the update @mhaydenetsydev .. it does seem like a pretty confusing API.  If I go back to Etsy dev work I'll try to incorporate this info.  I think I got my items working by trial and error but we've had next to zero views and no sales so Etsy isn't on our priority list at this point.

[2022-04-12 03:06] #355 closed

[2022-04-12 03:07] DemiImp opened #436 "[BUG]: updateVariationImages doesn't seem to work?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Here's an example of a request

[code]

When I make that request, I'm getting this error:

`{"error":"Missing input parameter: [variation_images]"}`

Not only does this error not make any sense, but the error is incredibly unhelpful.

### Steps to reproduce

POST https://openapi.etsy.com/v3/a

[2022-04-12 07:08] multiorders commented on #432
I see, thank you for confirming the situation.

[2022-04-12 13:59] etsyachristensen commented on #436
Try removing the "value" node from your arrays. The API only expects to receive `property_id`, `value_id`, `image_id`.

[2022-04-12 14:01] #432 closed

[2022-04-12 14:02] #415 closed

[2022-04-12 14:08] #401 closed

[2022-04-12 14:11] etsyachristensen opened #437 "Consistent naming on timestamp fields in V3 OpenAPI"
Original post: https://github.com/etsy/open-api/issues/399

Our field naming structure in OpenAPI V3 uses a mixture of conventions for the created and updated timestamp fields.

Pick one format such as `created_timestamp` and `updated_timestamp` and make all endpoints use the same format.

[2022-04-12 14:15] etsyachristensen commented on #398
@foxfriends I just re-read your post and wanted to address one thing. You requested "PATCH requests to update only certain fields". The `updateListing` endpoint already accepts partial data updates. While they aren't set as `PATCH` but `POST` you only need to include the fields you want to update, with few exceptions such as `who_made`, `when_made` and `is_supply` all have to be provided together

[2022-04-12 14:41] main24 commented on #96
Hi @etsyachristensen,

Is there any chance that `Inventory` association will be added to the listings endpoints? Inventory data is used to build product variants and track available quantity, which means with V3 it's required to fetch inventory per product individually once it gets updated -- that will be quite expensive in terms of requests quota usage. So adding inventory association to listings

[2022-04-13 04:26] ramwebkul commented on #298
Hi @etsyachristensen,
I already sent the complete request data as you asked in following thread:
https://github.com/etsy/open-api/issues/298#issuecomment-1087115449

Please check and guide me through the correct process to create Etsy listing.
I am stuck in process and waiting for your response.

[2022-04-13 08:30] neilnguyendev commented on #419
@etsyachristensen I'm asking for help on V3. I changed the field to "shipping_profile_id" but the error still happens.

[2022-04-13 09:12] evangelosdaniil commented on #302
@etsyachristensen any update from your side?

[2022-04-13 14:27] etsyachristensen commented on #298
@ramwebkul Sorry I haven't been able to get back to this thread.

I tested your payload and on my test accounts both in-house and in production I'm able to create listings with that same payload (and my own token/api key). So I used your token and api key and sure enough I got the same error as you are getting.

It seems to be something with the account that's getting in the way and we are looking

[2022-04-13 15:08] etsyachristensen commented on #298
@ramwebkul It appears that your shop isn't fully complete. I don't know for sure that this is the issue, but if you could please go into your shop manager in the Etsy website and complete the setup of the shop. The API doesn't allow creating listings without the shop being setup all the way. Odd that you are getting an array too short error. If completing the shop setup fixes the issue, please let

[2022-04-13 15:28] etsyachristensen commented on #419
We have a theory @neilnguyendev that will be easiest for you to test. Can you try removing the taxonomy_id value from your update post data? Let me know if you're able to update with that out of there. Hard to explain why this may be the case. But if this does allow you to update, we have a clearer picture of what is going on and we can work on fixing it.

[2022-04-13 15:49] neilnguyendev commented on #419
@etsyachristensen Oh yeah. I have already tried to remove the taxonomy_id value and it works!

[2022-04-13 15:52] etsyachristensen commented on #419
That's great news! I believe I have the start of a plan to correct the problem. Will let you know when we have addressed the problem.

[2022-04-13 16:22] etsyachristensen commented on #302
Sorry for the delay.

Are you unable to find the payment adjustments in the `getPayments` endpoint? https://developers.etsy.com/documentation/reference/#operation/getPayments

Or in the `getPaymentAccountLedgerEntryPayments`
https://developers.etsy.com/documentation/reference/#operation/getPaymentAccountLedgerEntryPayments

I may be confused as to the issue here.

[2022-04-14 14:03] josefanostylus commented on #365
when creating a new listing using the createDraftListing API though, it is not possible to set "who_made" to "someone_else". I get the same error. However, there's no way of specifying a "production partner" via API, correct? Is this a manual process where the user will have to select a production partner for each listing that's created by a 3rd party app ?

[2022-04-14 16:42] josefanostylus commented on #365
Got it, thank you so much @etsyachristensen . Any plans on making creating a production partner available trough the API ?

[2022-04-14 18:55] DemiImp opened #438 "[BUG]: Getting error "User does not own shop", but the user DOES own the shop"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

One of my customers is suddenly getting the error "User does not own Shop 7360467".  However, when I check what shops are owned by that account with the API, I get "{"count":1,"results":[{"shop_id":7360467"

This error only appears to happen when I'm adding an image to a listing.

`POST https

[2022-04-14 19:46] etsyachristensen commented on #419
Ok this issue has been fixed. You should be able to include taxonomy_id without triggering that error.

[2022-04-14 19:46] #419 closed

[2022-04-14 19:58] etsyachristensen commented on #438
@DemiImp I will need more information to debug this. Can you email developers@etsy.com and reference this ticket and ask that the email be forwarded to me "Andrew Christensen". I can then look into the issue further.

In that email be sure to include the auth token being passed into the endpoint for that user as well as the payload you are sending.

[2022-04-14 19:58] #437 closed

[2022-04-14 20:01] DemiImp commented on #438
@etsyachristensen - I can try that.  I have made several emails to developers@etsy.com and I haven't gotten a response from them in about 2 months for any of my tickets.

[2022-04-14 20:03] etsyachristensen commented on #438
Understood. I'll make sure they are aware that you are sending this and have them look for it.

[2022-04-14 20:07] etsyachristensen commented on #436
were you able to get his working @DemiImp ?

[2022-04-14 20:11] etsyachristensen commented on #96
@main24 At this point there are no plans to add that association. That's not to say it won't happen, just that we haven't discussed it or made any decisions.

[2022-04-14 20:16] DemiImp commented on #438
Sent.

[2022-04-14 20:24] DemiImp commented on #436
After removing the value field, it looks like it's working now.  I'll keep an eye out for further errors and if I see any I'll mention it here.

[2022-04-14 21:30] DemiImp commented on #436
Looks like I closed it too soon.

[code]

API call:

[code]

[2022-04-15 14:31] etsyachristensen commented on #438
@DemiImp I got the email. The person requesting this change on that listing is not the owner of the listing.

The first part of the OAuth2 token is the user id, which in your payload says "21037442". But listing id 1215498087 is owned by a different user id. That said, it appears to be the same person that has two different shops:

https://www.etsy.com/shop/SilkDivine (21037442)
https://www.etsy.c

[2022-04-15 17:57] DemiImp commented on #438
Thank you, that would make a lot of sense.  They must have unlinked their
account with their one Etsy shop and went ahead to link it to a completely
different shop that they also own.  When they switch shops like that, we
don't automatically delete all their old work.

I'm very glad this was a simple problem.  I'll put in protections to
prevent this from happening again.

Thank you so much for you

[2022-04-15 18:14] #438 closed

[2022-04-15 18:28] DemiImp commented on #436
Here's another simpler example that I did on my own account:

[code]

[code]

Can you show me a valid example of the POST data I am supposed to be sending?

[2022-04-15 18:30] DemiImp commented on #436
Hold on, I just noticed I'm sending application/x-www-form-urlencoded instead of application/json.  Will be testing that fix soon.

[2022-04-15 18:33] etsyachristensen commented on #436
Ah yeah that would likely do it.

[2022-04-15 18:44] DemiImp commented on #436
Okay, that error has been fixed.  Now I'm getting a new one:

`{"error":"Could not update variation images because of the following error: variation with property_id 200 and value_id 49928889192 is invalid"}`

What I'm doing is I'm querying the current variation images, store the property_id's and value_ids, delete the listing's current images and replace them with new images, and then I generate

[2022-04-15 20:21] etsyachristensen commented on #431
The V3 OpenAPI does not use the `language` and `translate_keywords` variables. We don't currently have a way in the OpenAPI V3 to get translations for the inventory or any other association for the listing. We only have the `getListingTranslation` endpoint that returns translation of the listing. At the moment, all other endpoints will return the default shop language information.

I will add a ne

[2022-04-15 20:50] DemiImp commented on #436
I did more testing and this is what I've got.

This is the current inventory:

`{"products":[{"product_id":9505508752,"sku":"","is_deleted":false,"offerings":[{"offering_id":9326405641,"quantity":1,"is_enabled":true,"is_deleted":false,"price":{"amount":1000,"divisor":100,"currency_code":"USD"}}],"property_values":[{"property_id":200,"property_name":"Primary color","scale_id":null,"scale_name":null

[2022-04-15 21:16] etsyachristensen commented on #436
What colors do those two value ids represent? I'm curious if you tried saving using our default common ids for those colors if it would then save correctly. I'll do some digging on my end.

[2022-04-15 21:18] etsyachristensen commented on #436
Disregard my last. I just realized we have the colors in the data. So try using just `2` for the value id on the Blue property. Let me know if that works.

[2022-04-15 21:22] DemiImp commented on #436
I will try to override the value to be 2 and get right back to you.  That isn't going to help me long-term though... We need to support any and every value.  If Etsy accepts the value of 2, why does Etsy return to me 49928889192 instead of 2?

[2022-04-15 21:24] etsyachristensen commented on #436
Absolutely agree. I just want to know if it works. I'll be digging in for the moment to figure it out.

[2022-04-15 21:38] DemiImp commented on #436
Yes, changing the value_id to be 2 makes it work.

[2022-04-15 21:38] etsyachristensen commented on #436
Ok thanks. I'll work on a fix. Likely won't be out until early next week.

[2022-04-15 21:47] DemiImp opened #439 "[DOCS]: Small Doc Errors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developer.etsy.com/documentation/reference#operation/updateVariationImages

### What would you like to change?

https://developer.etsy.com/documentation/reference#operation/updateVariationImages

`Creates variation images on a listing.\n\nvariation_images is an array `

Loo

[2022-04-15 21:49] DemiImp commented on #436
Thank you!

[2022-04-17 22:26] VasilVelikov opened #440 "[BUG]: Incorrect count in findShops results"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

The **count** value provided by the findShops method is incorrect. Currently the **count** field in the response is equal to the number of elements in the results array. In V2, the **count** field used to provide the total number of results which match the search criteria, not only the return

[2022-04-18 14:21] etsyachristensen commented on #439
Thanks @DemiImp . I'll get those updated ASAP.

[2022-04-18 16:19] Allen209 opened #441 "[BUG]: "error":"Server Error" returned on PUT request for updateListing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I am re-writing the V2 api code for the new V3. I am trying to update the quantity of a listing. I did a token exchange from my legacy token (which has write access as I am currently able to update listings). The token exchange was successful but when I try and call the updateListing endpoint

[2022-04-18 18:00] etsyachristensen commented on #436
@DemiImp When you get a chance can you test it again passing the correct id numbers? I put up a change that I'm hopeful will fix it.

[2022-04-18 18:17] etsyachristensen commented on #355
@neekfenwick We actually just put out a patch that should allow you to use the custom id as well as the default ids.

[2022-04-18 20:47] DemiImp commented on #436
I just tested it and it looks like it's working.

I don't see any errors in my log from other users, so I think it's fixed.  Thank you so much for jumping on this and helping me out.

[2022-04-18 20:47] #436 closed

[2022-04-18 23:05] corsoa opened #442 "[DOCS]: getShopPaymentAccountLedgerEntries: enum for ledger_type, reference_type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developer.etsy.com/documentation/reference#operation/getShopPaymentAccountLedgerEntries

### What would you like to change?

I would like for the specific ledger_type entries to be an enum, similar to other response entities (see example: https://developer.etsy.com/document

[2022-04-19 01:41] Kickbut101 opened #443 "[DOCS]: Quick Start Tutorial"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developers.etsy.com/documentation/tutorials/quickstart/

### What would you like to change?

"To begin, you’ll need a development envinronment with Node.js installed. If you’re unfamiliar with this setup, [follow these official instructions](https://nodejs.dev/learn/how-to-

[2022-04-19 18:18] #278 closed

[2022-04-20 05:51] amitshuklaCedcoss commented on #430
@etsyachristensen still getting same error for previous client. https://github.com/etsy/open-api/issues/433

[2022-04-20 13:44] etsyachristensen commented on #430
@amitshuklaCedcoss Can you give me the shop id and the error message you are getting? An updated UUID would be helpful too. Thanks!

[2022-04-20 15:45] NSaikevych opened #444 "[BUG]: Shipping Profile Destination is created for RU/BY/IR despite the error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

It is related to the already resolved issue - https://github.com/etsy/open-api/issues/412.

1. Creation of BY/RU/IR shipping profile destinations fail with the following errors, but the destinations are created anyway
2. Despite the POST request failing with that error, these destinations are

[2022-04-20 15:48] NSaikevych opened #445 "[BUG]: A missing label on the UI when creating shipping profile/destination for AX via API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Related to https://github.com/etsy/open-api/issues/412

It is possible to create a shipping profile or shipping profile destinations with destination_country_iso: `AX`. The shipping profile/destination will be created but the label of this country is missing:
<img width="735" alt="image" src=

[2022-04-20 16:20] stickfigure opened #446 "[BUG]: Addresses contain encoded HTML entities"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Fetching receipts, I have found several addresses that contain encoded HTML entities. This doesn't seem right? It also doesn't appear to be documented anywhere. It's caused at least one failed package delivery :-(

I've attached an example in the steps to reproduce.

### Steps to reproduce

I

[2022-04-20 17:39] nmrdxt opened #447 "[BUG]: Listings shows 2 different shipping profile IDs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

We're seeing some products that contain 2 different shipping profile IDs:

[code]

When a query the API for the shop's shipping profiles, I'm seeing '39120556343' but not '170670066893' (both manual profiles). When I specifically query the API for the profile 170670066893, Etsy can find it.

[2022-04-21 07:30] RatndeepGithub opened #448 "[BUG]: Etsy Dimension update issue"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When using updateListing call the dimensions are not visible on etsy seller product edit section even if the data is returned in api response .
As per the response it says that the dimensions are there  but when you see on etsy product edit page they are blank.
Any help would be appreciated.

[2022-04-21 15:38] #439 closed

[2022-04-21 15:38] etsyachristensen commented on #418
This has been fixed @vethan . Thanks for the help!

[2022-04-21 15:51] etsyachristensen commented on #448
@RatndeepGithub I just logged into the shop for that listing and I am not able to get to the listing edit page because you haven't completed the billing information on the account. How are you getting to that page to see the dimensions not getting updated?

[2022-04-21 16:37] mhaydenetsydev commented on #440
@VasilVelikov Can you try again. We have just pushed up what we believe should fix this issue. Please let us know how the response time is working compared to before this push.

[2022-04-21 21:29] #440 closed

[2022-04-21 21:39] etsyachristensen commented on #440
This has been fixed.

[2022-04-21 21:41] etsyachristensen commented on #447
Ah ok. This is due to the fact that the shipping profile used on this listing was `170670066893` BUT this profile was originally based on the shipping profile `39120556343`. This is what we call the "source shipping profile". I'm looking into trying to figure out why this is coming up.

[2022-04-22 05:03] RatndeepGithub commented on #448
@etsyachristensen the shop is not live yet but I can see the dimension not being updated in etsy backend product section.
I have attached an image for reference.
![screenshot-www etsy com-2022 04 22-10_30_25](https://user-images.githubusercontent.com/49195083/164606541-a2e14543-d9c2-4d03-b2ac-916838874120.png)
Let me know if it helps .

I can share the live if the shop not being live is the reason

[2022-04-22 14:20] ambikeshkumargautam-cedcoss commented on #58
Yes, I'd like to mention getting the recipient from Etsy though webhook would be amazing, Whenever there'll be any purchase could be fetched by that webhook.

[2022-04-22 14:50] etsyachristensen commented on #448
When you say you are viewing the "backend product section" what is the URL? Is this on Etsy's site? I am not able to get there. I need to be able to see this for myself before I can begin debugging it.

[2022-04-22 15:02] RatndeepGithub commented on #448
![screenshot-www etsy com-2022 04 22-20_29_58](https://user-images.githubusercontent.com/49195083/164741091-2e08ce64-4ab5-4f4a-af23-3d3732595a66.png)

[2022-04-22 15:51] etsyachristensen commented on #448
Ok thanks. We're looking into this now. Out of curiosity, are you able to see the dimensions and weight if you enter them into a listing in the UI and save? Can you test with a different listing so that we can debug with the one you provided?

[2022-04-22 17:15] VasilVelikov opened #449 "[BUG]: Offset parameter in findShops doesn't work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Currently, the offset parameter in the findShops endpoint is treated as invalid by the API if its value is greater than the limit parameter. This is incorrect - the offset parameter should be allowed to get any non-negative value, possibly limited only by the total search results in findShops

[2022-04-22 17:52] Allen209 opened #450 "[BUG]: OAuth 2.0 tokens generated from an OAuth 1.0 token exchange NOT retaining the scope of the original OAuth 1.0 token"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

As per the  [Authentication | Etsy Open API v3](https://developer.etsy.com/documentation/essentials/authentication/#exchange-oauth-10-token-for-oauth-20-token) documentation, the OAuth 2.0 tokens generated from an OAuth 1.0 token exchange are supposed to retain the scope(s) of the original OA

[2022-04-22 17:59] etsyachristensen commented on #448
Ok so we have some answers. The live shop example you sent won't show the dimension fields at all in the UI because we only show the weight and dimensions on shops in US + CA because they are the only countries where we do calculated shipping.

For the former shop for listing 1205197284 you will need to complete the setup of the shop configuration and see if that data appears. We believe the infor

[2022-04-22 19:13] RatndeepGithub commented on #448
Yes , the dimensions and weight gets saved when entering them directly in Etsy UI but they are getting wiped off once the listing is updated via API.
https://www.etsy.com/your/shops/GoToStar/onboarding/listings/1205197284

I will try the same with the live listing and update the results here.

Thanks !

[2022-04-22 22:05] etsyachristensen commented on #449
@VasilVelikov This has been corrected. Sorry for the trouble!

[2022-04-22 22:05] #449 closed

[2022-04-22 23:00] VasilVelikov commented on #449
That was fast! Thanks for fixing it :)

[2022-04-23 06:04] amitshuklaCedcoss commented on #430
[shop_id] => 20232052
[shipping_profile_id] => 72471460592
 [error] => There was a problem with /item/weight : Invalid Shipping Data
  [X-Etsy-Request-Uuid] => Array
                        (
                            [0] => Eur1aDVaXZ05UqmqiH58OvHCCfba
                        )

hope this info will help you in debug.
thanks

[2022-04-23 18:15] nmrdxt commented on #447
Hey, Thank you for checking.

The weird thing is that the merchant received an order, with the transactions' shipping profile set as 39120556343, but the shipping totals do not match the shipping profile set prices (order #2446218464) – could it be related?

[2022-04-23 20:33] ProgramerAnel commented on #414
This issue still persist.
What may be issue here since I kept getting empty skus array.

Note: I'm not seeking other shopIDs , I'm querying my shop id for my active listings.

[2022-04-23 20:39] ProgramerAnel commented on #414
Well, answer is contained here

https://github.com/etsy/open-api/issues/408

[2022-04-23 20:39] #414 closed

[2022-04-23 22:34] DVSoftware commented on #28
So the developers will still need to poll and waste their and Etsy's resources to find out if there are any changes?
Imagine making an app that needs to pick up new orders from Etsy, and you have thousands of users. Now do the maths and see how many requests would that be if you want to at least maintain a minute of latency.

[2022-04-24 04:59] stickfigure commented on #28
1. I'm sure the smart folks at Etsy can figure out how to use CloudFlare or similar cache to dial the polling load to a trickle.
2. A smart implementation of /events would be application-specific, not store-specific. Scaling is linear with the number of apps.
3. As an app developer, you still need to poll for safety. Webhooks can and do fail.
4. It's strictly better than the current polling approa

[2022-04-24 08:57] DVSoftware commented on #28
It is not only about wasting resources on Etsy's side. It is a huge waste on the app's side to check for changes every minute for thousands of users. Combination of webhooks and events is fine, as Stripe does, but I'm not sure why are you recommending a crippled solution which would bring very little benefit to the developers...

[2022-04-24 14:11] stickfigure commented on #28
Making one call a minute (or one every few minutes, or however long Etsy decides is reasonable - they ultimately decide how often we poll via the response cache header) is not a "huge waste of resources" unless you're running on a TRS-80.

Right now Etsy requires an enormous amount of polling that actually *is* a huge waste of resources. An /events endpoint would be dramatically better without req

[2022-04-24 14:30] DVSoftware commented on #28
It's not one call a minute, it's one call times how many shops you have to keep in sync, unless you can somehow tell the API which shops you are interested in a single call.
Anyway, there is no point in arguing as it doesn't do good to anyone, Etsy should ultimately decide which solution will they implement.

[2022-04-24 21:43] stickfigure commented on #28
Please reread my posts more carefully.

[2022-04-25 15:10] etsyachristensen commented on #28
Thats for the discourse everyone! While we have not made any firm decision on this either way we have been talking about webhooks recently and how we might be able to implement this. @stickfigure your /events suggestion is a good one as well and we'll discuss that as well. Perhaps doing both may be in order. I'm not really sure. But rest assured that discussions have begun.

[2022-04-25 15:19] etsyachristensen commented on #447
That's good information! I'll pass this on to the shipping teams so that they can investigate. My bet is that the shipping costs are actually based on `170670066893` which is the correct shipping profile id. For some reason it's returning the source profile id that it was originally based on. Do you have any way to confirm that the shipping costs would match that profile?

[2022-04-25 15:22] shrestharikesh opened #451 "[BUG]: Tracking number is required on v3 api for order fulfillment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Most of my Order fulfillment request went good even when tracking_code and carrier_name are blank. But some of my API calls is giving me response like this `{"error":"A tracking number is required"}`.
I am using v3 order fulfillment API and the documentation says that the fields are not requi

[2022-04-25 21:16] #418 closed

[2022-04-25 22:23] etsyachristensen commented on #451
@shrestharikesh Out of curiosity, have you tried making the call but NOT passing in the fields?
tracking_code
carrier_name
send_bcc

Let me know if that changes the response.

[2022-04-25 22:31] DemiImp opened #452 "[BUG]: Updating Variation Images - Error: "variation images contains multiple property_ids""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I'm trying to update a listing to have the following variation images:

`{"variation_images":[{"property_id":513,"value_id":104821235544,"image_id":3830827950},{"property_id":513,"value_id":104821235780,"image_id":3830827974},{"property_id":513,"value_id":104821235640,"image_id":3830827964},{

[2022-04-25 23:27] yovasx2 commented on #403
Hi @etsyachristensen, we noticed some shops on our end having the same problem reported above, the API (getLisitng endpoint) is returning a shipping profile id that doesn't exist in the catalog of shop shipping profiles (shipping profiles endpoint).

He is one example part from the list above:
https://openapi.etsy.com/v3/application/listings/259630284?includes=Shipping
returns
[code]

The id 19446

[2022-04-25 23:33] yovasx2 opened #453 "[BUG]: when_made value is returned as null for active listings"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

when_made is a required field to publish a listing, the API is returning that field as null

### Steps to reproduce

hit https://openapi.etsy.com/v3/application/listings/540708000?includes=Shipping
get the null value:
[code]

### Expected behavior

the when_made field must be different than n

[2022-04-25 23:39] yovasx2 opened #454 "[BUG]: digital listings with when_made as "made_to_order" are converted into physical when all their files are removed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Removing all the files associated with a digital listing with when_made as "made_to_order"  will convert it into a physical listing

### Steps to reproduce

1. Create a digital listing with when_made as 2022...
1. Attach a file to it
1. Then hit edit listing endpoint sending when_made (made_t

[2022-04-26 09:56] multiorders opened #455 "[FEATURE]: Return "HS Code" info via API"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

As with most new fields added to the Etsy products, the users have mentioned if we can import the HS Codes from their Etsy marketplace.

### Describe the solution you'd like

Would be great to have included in the same request where we get all th

[2022-04-26 13:09] nmrdxt commented on #447
The shipping costs do not match the `170670066893` profile – both `170670066893` and `39120556343` look like the same profile with different IDs (they share the same prices as well). There is something strange going on there. Thank you for looking into this.