[2022-04-26 13:36] akowi-sknobloch opened #456 "[FEATURE]: Add a Route to get all aktive SKU's"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

We want to be able to synchronize our product catalogue in both directions.
When we remove an Article in the Etsy Webinterface our local Database should synchronize to that.

For that we currently fetch all active Listings and then **for each** L

[2022-04-26 16:31] etsyachristensen commented on #454
@yovasx2 We did some testing to confirm this. You are correct that it's converting the listing to physical when removing the attachment. However, this isn't something we can fix at the moment as applying a change here may affect how other areas of the system. For now, I suggest that after removing the attachment on a digital listing, you fire off a call to updateListing to change the type back to

[2022-04-26 16:50] etsyachristensen commented on #453
@yovasx2 I checked that listing id: 540708000. In our system there hasn't been an update via API on that listing for over 2 years. The last update has when_made input set to null.

Can you give me a listing id that's recent that is behaving this way?

[2022-04-26 17:38] etsyachristensen commented on #403
@yovasx2 Your issue appears to be a bit different. The shipping profile that is being returned in the example above for listing `259630284` is `19446745833` which is a custom shipping profile. We don't return custom profiles in the getShopShippingProfiles endpoint.

[2022-04-26 17:44] etsyachristensen commented on #452
@DemiImp I believe the solution is to make different calls to the `updateListingImageVariations` endpoint. Make one call for the ids for property 513 and one for property 514.

[2022-04-26 18:23] yovasx2 commented on #453
[code]

[2022-04-26 18:24] yovasx2 commented on #454
any eta to deliver this?

[2022-04-26 18:28] yovasx2 commented on #403
how can I know the shipping profile is custom and it's not the old problem of having a corrupted nonexisting shipping profile id, on the API side there is no way to discover that. Could u take a look at the list above: https://github.com/etsy/open-api/issues/403#issuecomment-1075812622, please?

[2022-04-26 20:28] etsyachristensen commented on #453
@yovasx2 I checked the listings. Here's what I found:

789057784 - invalid value: 2010_2021
668507712 - invalid value: 2010_2021
867115379 - invalid value: 2010_2021

630753520 - invalid value: 2010_2020
644816025 - invalid value: 2010_2020
639349924 - invalid value: 2010_2020
778089157 - invalid value: 2010_2020
691760354 - invalid value: 2010_2020
726960494 - invalid value: 2010_2020
630990998 -

[2022-04-26 20:45] DemiImp commented on #452
The docs suggest that updating the variation images will wipe the old variation images:

`The update overwrites all existing variation images on a listing, so if your request is successful, the variation images on the listing will be exactly those you specify.`

Do you have any idea why when I request the existing variation images I get multiple property_id's?  I cannot figure out how to reproduce

[2022-04-26 21:06] etsyachristensen commented on #452
The get endpoint gives you all of them simply because don't have it setup to break them down by property id.

[2022-04-26 21:08] etsyachristensen commented on #452
I will check on the wording of that. I was under the impression that it would only wipe out the images for the specific variation you are uploading to (which is based on the property id).

[2022-04-26 21:26] etsyachristensen commented on #403
Sorry for the confusion @yovasx2. We don't show the custom shipping profiles because there are usually so many of them. However, any shipping profile you get back in the listing object should still be able to be fetched via the `getShopShippingProfile` endpoint. This will let you get the shipping profile information.

[2022-04-27 06:09] akowi-sknobloch commented on #296
We experience the same Bug as @yovasx2.
Please revisit this issue.

We set `is_personalizable` to true
Add a `personalization_instructions`
And set `personalization_is_required` to false

In the Response
`is_personalizable` is true
`personalization_instructions` is null
`personalization_is_required` is false

In the Webinterface Personalization is still required even we are setting it to false.

[2022-04-27 08:15] hyyyper commented on #448
@etsyachristensen
I have some additional details for this issue.

Updating dimensions via the API requires the same units that appear in the UI.

Updating a shop in US, the dimensions will only appear in the UI when the dimensions and weight units are [in, oz/lb].
Updating a shop in CA, the dimensions will only appear in the UI when the dimensions and weight units are [cm, kg].

This is a problem

[2022-04-27 16:16] etsyachristensen commented on #445
@NSaikevych I've pushed an update that should fix this.
![image](https://user-images.githubusercontent.com/83842847/165564754-ec39e3da-68c8-488c-808a-4d40d5454eb3.png)

[2022-04-27 16:16] #445 closed

[2022-04-27 16:39] yovasx2 commented on #453
what does it mean `630990998 - invalid value: 2010_2020` and how do the customers have a null value in this field if this is mandatory?

[2022-04-27 16:47] etsyachristensen commented on #453
Well I'm not sure how the invalid date range was added to the system. I am bringing it to the fulfillment team to look into but the reason it's coming out `null` is because our system can't evaluate that invalid range value to a string to return. It is required to add a value for that field when creating a listing and technically in our database it's not null. It just returns as null because it ca

[2022-04-27 16:51] yovasx2 commented on #403
is the custom shipping profile unique per listing or a custom shipping profile can be associated with many listings?

[2022-04-27 16:52] yovasx2 commented on #453
gotcha, when we take a look to the shop manager the when_made is displayed correctly but API is showing null, I can provide a longer list if needed

[2022-04-27 18:38] etsyachristensen commented on #403
many are custom per listing due to the V2 behavior of creating a new shipping profile when a listing is created. Ultimately down the line we hope that this will change to be largely the same profiles being used across many listings.

[2022-04-27 18:39] etsyachristensen commented on #453
Sure thing. I'll look at any you can send me.

[2022-04-27 20:52] rpinedaetsy commented on #254
Hey @main24 @ulandj just letting you know that this change is already in PROD you should see a new field product_data in the response for getShopReceipt v3 endpoint

[2022-04-27 21:16] etsyachristensen commented on #456
@akowi-sknobloch We have added the SKUs and production partner arrays to the `findAllActiveListingsByShop` endpoint.

[2022-04-27 21:16] #456 closed

[2022-04-27 21:17] yovasx2 opened #457 "[BUG]: The upload listing image is not returning correct urls belonging to the listing_image_id"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

from time to time the endpoint: https://developers.etsy.com/documentation/reference/#operation/uploadListingImage is returning a response mixing URL belonging to a different image, seems to be a race condition in Etsy side, because after a while the https://developers.etsy.com/documentation/r

[2022-04-27 22:08] etsyachristensen commented on #457
@yovasx2 Does there seem to be any correlation to whether this happens with there is a new image being uploaded versus an image_id being provided to the endpoint to replace an existing image? Or does it not matter?

[2022-04-27 23:21] yovasx2 commented on #403
Hello again, I understood the technical point of custom shipping profiles, but when we look into the customer account our gut tells us there is something weird, take a look at the next screenshot, the customer is selling shirts and he has a unique shipping profile, it doesn't make sense to have products with custom shipping profiles if the product is having same characteristics:

<img width="1346"

[2022-04-27 23:48] tman16 opened #458 "[FEATURE]: Run a sale"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

_No response_

### Describe the solution you'd like

I wish to request that it should be possible to create product sales via the api including scheduling.

- Create a sale and assign certain products
- To select the country the sale applies to
-

[2022-04-28 05:55] shrestharikesh commented on #451
No sir, The response is still same for some of the order. @etsyachristensen

[2022-04-28 10:34] Gareth064 commented on #392
@etsyachristensen I just wanted to say that it's great to see so many new "Releases" being published with their change notes. On other possible slight cherry on the top would be to include against a Change Note, the GitHub Issue or Issues that the change addressed. This would provide a quick link for anyone to go back and read the history behind the change. A lot of the time the issues contain goo

[2022-04-28 12:17] main24 commented on #254
Hey @rpinedaetsy
That's good news! Is it possible to do the same for [getShopReceipts](https://developer.etsy.com/documentation/reference/#operation/getShopReceipts) please? Usually we fetch list of orders updated/created since some period, with V2 we don't have to request every single order from that list to get complete information. So adding `product_data` to `getShopReceipts` will save a lot o

[2022-04-28 14:02] etsyachristensen commented on #451
Ok thanks. Is there any correlation to where the shipments are going to or coming from (origin country/destination country) for the orders where this is happening? Can you provide a few receipt ids so we can look into this? If you prefer, you can email them to developers@etsy.com and mention that the email is for me (Andrew Christensen) and reference this github issue. The support team will forwar

[2022-04-28 14:38] etsyachristensen commented on #458
Thank you for the suggestion. I'll add it to our list of items to discuss. This likely won't happen soon though, just to set expectations.

[2022-04-28 14:43] etsyachristensen commented on #455
@multiorders Can you provide more information on this? We aren't clear on exactly what this would be used for within the Etsy system.

[2022-04-28 14:44] etsyachristensen commented on #454
I have no ETA unfortunately. The fix for this will be up to our fulfillment team and they are currently busy with other projects.

[2022-04-28 15:26] multiorders commented on #455
I have used a different name for the feature, so that could have caused confusion. I am talking about the Tarif Numbers. Your system already has the option to add these on listings, we just wanted to be able to import them into our system.
![image](https://user-images.githubusercontent.com/42347031/165787011-f35bda8e-b93e-4269-8b7f-42358ade064e.png)

If you're asking why do we need that, the HS Co

[2022-04-28 17:54] yovasx2 commented on #457
it's always uploading a new file no lisitng_image_id provided, only the file (data) so it generates a new listing_image_id

[2022-04-28 21:04] DemiImp commented on #452
Were you able to check on how it's implemented?  Will setting two different sets of property_id+image_id replace or add?

[2022-04-29 09:47] multiorders commented on #302
Hi @etsyachristensen we have investigated the getPayments endpoint and you are correct, but to get information from it we first need to get the payment_id's, which from what I understand can only be done via getShopPaymentByReceiptId?
it does return all relevant payment and refund info, but there are two problems we are facing with the current solution:

1. There is no way of getting Payment info

[2022-04-29 16:20] main24 commented on #236
Same here, we heavily use `Inventory` association in V2, returning it back in V3 would be a great optimisation.

[2022-04-29 16:21] main24 commented on #96
@etsyachristensen Thanks for the reply. Just to add a bit more votes for `Inventory` association https://github.com/etsy/open-api/issues/236

[2022-04-29 17:47] etsyachristensen commented on #453
@yovasx2 We have deployed a fix for this issue. It should only return null when it's actually null or if the value (for some odd reason) is horribly formatted. We are working on implementing some protections against invalid values from being written, but this isn't coming through the OpenAPI so we are good there.

In the case where values are like the ones above, the safest approach is to return t

[2022-04-29 17:47] #453 closed

[2022-04-29 18:09] etsyachristensen commented on #453
Oops. Spoke too soon. Caused a problem. Had to revert. will address and re-deploy hopefully today.

[2022-04-29 19:28] yovasx2 opened #459 "[BUG]: must be below max price $50,000.00 USD returned even when we don't update price"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

PUT /v3/application/shops/13057046/listings/976687714 is getting 400 error

with next params:
[code]

### Steps to reproduce

hit the endpoint with the parameters above

### Expected behavior

to get the update pass

### Additional context

the price is set into the variations so Idk why the

[2022-04-29 20:00] yovasx2 commented on #296
@akowi-sknobloch as a workarrounf I send the 4 values as a bundle and API works

[2022-04-30 00:25] fsheedy opened #460 "[BUG]: Incorrect count of result when using limit parameter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When using limit parameter, the count return in the response is invalid

This is maybe related to the fix on #440

### Steps to reproduce

**Incorrect result using limit=1**
https://openapi.etsy.com/v3/application/shops?offset=0&limit=1&shop_name=WithCindyMarie

Result returned:
[code]

**Cor

[2022-04-30 18:02] nmrdxt opened #461 "[ENDPOINT]: Proposed design change for updateListing"
### Is there an existing issue for this?

- [X] I have searched the existing tickets

### Current Endpoint Design

Currently, the body schema includes the property 'type'.

### Proposed Endpoint Design Change

Body schema should include 'listing_type' instead of 'type'.

### Why are you proposing this change?

For consistency. Thanks!

[2022-04-30 18:08] nmrdxt opened #462 "[BUG]: Updating digital listings results in Server Error if body does not include type => 'download'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

It looks like specifying the listing type during updateListing is required for digital listings, but not for physical. Moreover, the error returned appear to be a 500 error and not 400 error.

### Steps to reproduce

updateListing a digital listing with a body that does not include the type o

[2022-05-01 22:14] yovasx2 opened #463 "[BUG]: The updateListing endpoint not changing materials for certain products"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I am trying to set materials for a listing via updateListing endpoint but materials are not modified

### Steps to reproduce

hit
https://openapi.etsy.com/v3/application/shops/10779725/listings/540678554
with

{
    "materials": ["Gio"]
}

The response is
{
    ...,
    "materials": ["Ceramic

[2022-05-02 06:00] akowi-sknobloch commented on #296
@yovasx2 OK i tried setting all 4 values and now it works! Thanks!
If this is the intended behaviour, this should be better documented.

[2022-05-02 16:51] etsyachristensen commented on #453
@yovasx2 Ok this is now in production (sans errors). Please check it out.

[2022-05-02 17:16] etsyachristensen commented on #463
We are looking into this. I am able to duplicate it with one listing but not with others. It's like it's locked to Ceramic on this one listing. Will let you know when we can figure it out.

[2022-05-02 17:18] etsyachristensen commented on #462
@nmrdxt Can you provide some example listing ids? I'm not able to duplicate this behavior.

[2022-05-02 17:19] etsyachristensen commented on #461
This has already been suggested and is on our list of changes to get to. https://github.com/etsy/open-api/issues/398

[2022-05-02 17:19] #461 closed

[2022-05-02 17:27] danegigi commented on #451
hey @etsyachristensen,

I used the [createReceiptShipment](https://developers.etsy.com/documentation/reference/#operation/createReceiptShipment) to mark an order complete and at the same time send the carrier and tracking number back to Etsy.

The problem I'm having is that the tracking number is not being reflected by Etsy, it marks it completed but it keeps saying "No Tracking" which is very ann

[2022-05-02 17:30] etsyachristensen commented on #451
@danegigi Can you give me a listing ID number to check this out? I need to see if it saved to the database.

[2022-05-02 17:35] danegigi commented on #451
hey @etsyachristensen,

The order number is Order#2451895934.

Thanks @etsyachristensen.

[2022-05-02 17:47] yovasx2 commented on #453
@etsyachristensen I don't get a clear understanding of the problem could u provide an example of what is going on and if I need to implement a data fix (which is gonna be complex because the values could be totally random depending on the product)

[2022-05-02 17:51] etsyachristensen commented on #451
Thanks @danegigi I don't see any tracking information in the order. Can you give me the payload you are sending for the `createReceiptShipment` endpoint (without your auth credential data)?

[2022-05-02 18:00] etsyachristensen commented on #453
Oh sorry about that. So what we found was that there were quite a few listings (many created via other apps) that had invalid date ranges, such as "2010-2020" or "2010-2021" just to name a couple. However, our system doesn't operate that way and the date range should have been either "2010-2019" or "2020-2022". This is why some listings were coming out of the OpenAPI as `null` for `when_made` when

[2022-05-02 21:14] etsyachristensen commented on #451
@danegigi Are you using Shiprocket? I'm looking at that transaction and our database has recorded the carrier id under the Shiprocket id. I'm just wanting to make sure.

Also when you FIRST tried to submit the tracking you had both the tracking code AND carrier name right?

[2022-05-02 23:45] danegigi commented on #451
hey @etsyachristensen

No, we're not using shiprocke. We use axios and PHP client to send the request to etsy.

Yes, we both send the tracking number and the carrier which is usps.

[2022-05-03 08:32] assaflei opened #464 "[BUG]: Listing SKU return as numberic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When getting shop's listings (https://developer.etsy.com/documentation/reference#operation/getListingsByShop) the returned skus property is sometimes numeric instead of string

I will send the details offline in email if required

### Steps to reproduce

1. Invoke getListingsByShop api
2. For

[2022-05-03 17:08] danegigi commented on #451
hey @etsyachristensen,

Just want to follow up on this and also want to ask why our record shows that we're using shiprocket, we don't use shiprocket instead we have our own account under grandshipper.

Thanks

[2022-05-03 17:10] etsyachristensen commented on #451
We are still investigating this. Every transaction that has a shipment has a "carrier id" in the record. For some reason that one shipment is marked with that id. We are trying to figure out why or how that could have happened. Our shipping system team will get back to me and I'll relay to you.

[2022-05-03 17:11] etsyachristensen commented on #451
@danegigi Is this happening on ALL shipments for you?

[2022-05-03 17:27] etsyachristensen commented on #459
@yovasx2 I've deployed a change that I'm hoping will fix this issue. Can you try it again and let me know?

[2022-05-03 19:56] yovasx2 commented on #459
it's still happening, this is my curl:

[code]

response:
[code]

[2022-05-03 21:19] etsyachristensen commented on #460
@fsheedy A fix has been put into production for this.

[2022-05-03 21:19] #460 closed

[2022-05-03 23:39] danegigi commented on #451
hi @etsyachristensen,

I only tried 2 orders for testing but both don't show tracking numbers only marking the order as complete.
Is there a way to see the record being passed to Etsy to confirm that the records are being saved and under our account since it's weird that it shows shiprocket.

Thanks @etsyachristensen

[2022-05-04 03:20] yovasx2 commented on #453
seems to be populating the majority of our listings, thanks!

[2022-05-04 05:54] amitshuklaCedcoss commented on #430
@etsyachristensen @jasonpincin can you plz re-open this case until it's resolved?

[2022-05-04 15:06] etsyachristensen commented on #451
@danegigi In the response headers, you should see a "X-Etsy-Request-Uuid". If you can send at least that we can hopefully look it up. If you could send us the full post with all the headers (minus your credentials) and the full response with headers that may help us figure this out.

I just did a test on that same shop for receipt id `2455750484`. It went through and stored properly. Here's the Ax

[2022-05-04 15:50] etsyachristensen commented on #298
Sorry for the confusion @amitshuklaCedcoss. I believe this was a recent requirement put in place around the time we put OpenAPI V3 out.

[2022-05-04 16:02] etsyachristensen commented on #430
@amitshuklaCedcoss Can you give me the full payload and headers you are sending to the api for this (remove your api key and token)?

[2022-05-04 16:45] etsyachristensen commented on #459
@yovasx2 It seems this is due to the taxonomy id being in there. I'm working on figuring out why, but in the meantime, you can leave that out and it will update properly. We had this problem before and we had fixed it. Not sure why it's cropping up again.

[2022-05-04 17:27] etsyachristensen commented on #464
@assaflei We have deployed a correction for this. The listing resource skus should now come out a strings, even if only numbers.

[2022-05-04 17:27] #464 closed

[2022-05-05 10:17] NSaikevych opened #465 "[FEATURE]: Support "Courier Express" carrier and make it trackable on Etsy"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

Etsy has warned our merchants about the “no tracking status for order” that could harm their accounts.

In this case, it is related to [Courier Express](https://courierexpress.net/) shipping carrier.

### Describe the solution you'd like

It woul

[2022-05-05 10:29] sergey-chegaev commented on #302
@etsyachristensen
We need a mechanism to get `PaymentAdjustment`'s related `Payment`, having only `LedgerEntry` associated with the `PaymentAdjustment`.
This `LedgerEntry` is one related to `Payment`:
[code]
We can fetch an actual `Payment` with a new V3 API endpoint [getPaymentAccountLedgerEntryPayments](https://developers.etsy.com/documentation/reference/#operation/getPaymentAccountLedgerEntryPa

[2022-05-05 12:13] danegigi opened #466 "[BUG]: Tracking number is not showing or is not accurate."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I tried posting back to Etsy the tracking number using the [createReceiptShipment](https://developers.etsy.com/documentation/reference/#operation/createReceiptShipment). Back to Etsy, it showed that the order was completed but no tracking number is showing. After several tries, I was able to

[2022-05-05 17:21] samborambo305 opened #467 "[BUG]: The flow for getting approval for Etsy integration seems broken"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

We've implemented an integration with the Etsy API for our e-commerce SaaS and submitted an application well over a month ago. We have not heard back, and our application has stayed in the awaiting approval status.

I've tried emailing developer@etsy.com and developers@etsy.com but again, I h

[2022-05-05 17:21] samborambo305 commented on #467
@etsyachristensen

[2022-05-05 18:21] etsyachristensen commented on #466
@danegigi To answer your concern about the tracking code being on the wrong receipt, that was from me testing your inputs the other day.

I think the format of the data coming into our system isn't formatted properly. I think it may be the RequestOptions::JSON that's doing it. The two parameters need to be passed in as post variables.

[2022-05-05 21:28] etsyachristensen commented on #465
@NSaikevych Can you provide an example tracking code for this carrier (it doesn't have to be a legitimate code, just formatted so that we know what to expect)? Also a url that would be used to track this code. We don't do the tracking inside of Etsy, but we provide links out to the carrier's site (or whatever 3rd party) for their tracking system. We use Aftership.com for many of our existing carri

[2022-05-05 21:30] etsyachristensen commented on #465
I can say that we can't provide an integration with EasyPost. But if they have a URL that we can link users to with the tracking code, then we can add Courier Express to the carrier list.

[2022-05-05 22:21] etsyachristensen commented on #457
@yovasx2 I'm having some trouble duplicating this issue. Do you have a test listing (not an actual client listing) where you are able to duplicate this and that I can make attempts to duplicate with (without messing up your client data)?

[2022-05-06 03:16] yovasx2 commented on #457
it's randomly happened when we bulk over ~25 listings we process them sequentially and one of them is most of the time getting the error, what do u need specifically, I think I can send u a video but the affected listing is getting the correct URL after the post via get, the problem is the post response which is spontaneous

[2022-05-06 05:57] danegigi commented on #466
hey @etsyachristensen, thank you so much for your big help. It works. Update the code and use form_params and it works.

[2022-05-06 05:57] #466 closed

[2022-05-06 08:08] amitshuklaCedcoss commented on #430
[code]

@etsyachristensen hopes this data will be sufficient for debugging.
Waiting for your next response.
Thanks

[2022-05-06 08:32] NSaikevych commented on #465
@etsyachristensen Thank you for your answer. Do I understand correctly that if Aftership does not support this carrier, Etsy could not support tracking as well?

[2022-05-06 14:27] etsyachristensen commented on #465
No that's not what I mean. We use Aftership for many of the carriers simply because we can formulate the URL to track the package. Some carriers you have to go to a page and enter a tracking code and press a form submit button. With Aftership it's just a common url with a tracking code at the end.

If you can't get a URL for tracking, we may still be able to add them and you can still enter the tr

[2022-05-06 14:30] etsyachristensen commented on #457
Ok thanks for that info. When you say "one of them" I assume you mean just one out of ~25, not a SPECIFIC listing that it happens with every time right? I think this is coming down to some cache issue. I will certainly keep looking into this. If you can do a video that would be great, though I'm not entirely sure it will give me specific context. I'll have to see if there's a way I can generate a

[2022-05-06 14:59] etsyachristensen commented on #430
@amitshuklaCedcoss Is this an `updateListing` call or a `createDraftListing` call?

In update, there is no `processing_min` or `processing_max`. But in create, there's no `state` option. It only creates a draft. You then have to do update to set it to active. Even then, you couldn't take it live without setting price and quantity using the `updateListingInventory` endpoint or by passing those vari

[2022-05-06 15:12] #451 closed

[2022-05-06 21:03] etsyachristensen commented on #236
@main24 @creharmony @chanpory @samborambo305 @chris-rogala This has just been added!

[2022-05-07 16:29] oliverbenns commented on #233
The docs are incredibly poor on this `To upload a new image, set the image file as the value for the image parameter.` - what does the image file mean? A url to the file? Binary data? B64 encoded? What?

[2022-05-09 08:44] multiorders opened #468 "[DOCS]: Actual end of service date"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developer.etsy.com/documentation/reference/

### What would you like to change?

At the moment it says "...The API endpoints are meant to replace Etsy's Open API v2, which is scheduled to end service in 2022."
Is it possible to get a more specific date? Also, will it be a s

[2022-05-09 13:17] gordonturner opened #469 "[BUG]: Receipt Object - Status Enum"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

The List of Shop Receipt resources returned in the getShopReceipts has an inconsistency in the definition of the `status` object.

- The definition of the status is:

status
required
string
Enum: "paid" "completed" "open" "payment processing" "canceled"
The current order status string. One of

[2022-05-09 13:28] bizmate opened #470 "[BUG]: empty reviews, with return type null, cause an argument error in TransactionReviewsResultsItem"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

[code]

At the moment with shops that have empty reviews, returned as NULL, an error is thrown as empty strings are passed around as null somewhere

### Steps to reproduce

1 - require and install Jane OpenAPI as per docs https://jane.readthedocs.io/en/latest/documentation/OpenAPI.html
2 - Ge

[2022-05-09 15:55] #254 closed

[2022-05-09 15:55] #444 closed

[2022-05-09 15:56] #236 closed

[2022-05-09 16:55] main24 commented on #236
Thank you @etsyachristensen, really appreciate that!

[2022-05-09 16:56] yovasx2 commented on #457
That's correct

[2022-05-09 16:59] etsyachristensen commented on #462
@Allen209 I will see if I can duplicate this, but I can tell you that you should NOT use `updateListing` to change the quantity or price. You need to use the `updateListingInventory` endpoint. This will be enforced starting June 6th anyway.

[2022-05-09 18:20] yovasx2 commented on #459
hey guys, was this fixed?

[2022-05-10 06:52] amitshuklaCedcoss commented on #430
@etsyachristensen please try to update the listing (**listing_id: 793723890**), I had tried after removing processing_min and processing_max from updateListing call.
if you wish you can create test listings, and we will reimburse the listing charge to the client.
thanks

[2022-05-10 15:41] etsyachristensen commented on #403
@yovasx2 Sorry it has taken so long to get through this one. I'm having trouble figuring out how this is happening. If the customer is always choosing the same shipping profile for all of their listings, then it should conceivably always return the same shipping profile id UNLESS a change has been made to the listing that would affect the shipping profile.

Oddly though, the shipping profile id `1

[2022-05-10 15:57] kmcdermott17 commented on #468
@multiorders
We don't have any specific dates yet, but are still aiming to sunset API v2 in the second half of 2022. Once we have more concrete dates we will update the dates listed in the [Launch Stages documentation](https://developer.etsy.com/documentation/migration/index#launch-stages).

We will also share out the same update in our [developer Google Group](https://groups.google.com/forum/#!fo

[2022-05-10 17:02] yovasx2 commented on #403
Vela only pulls profiles it doesn't create them

It's wide spread 95% of support cases suddenly appeared saying the profiles were gone

[2022-05-10 17:16] etsyachristensen commented on #403
Oh interesting. Were they showing up just fine using V3 and only just stopped working recently? Or has V3 been a problem for this issue all along?

[2022-05-10 17:34] etsyachristensen commented on #470
@bizmate Is the image url field being null also an issue for your development?

[2022-05-10 18:57] VasilVelikov opened #471 "[BUG]: Server Error on listing update"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Executing partial listing update for certain listings fails with status code 500 and message 'Server Error'. The issue occurs only for some listings from some shops. The issue is consistent - a listing cannot be updated no matter how many times I execute the request.

### Steps to reproduce

[2022-05-11 07:45] multiorders commented on #468
I see. Thank you.

[2022-05-11 07:50] bizmate commented on #470
hi @etsyachristensen
thanks for checking this. In short the answer about *image_url_fullxfull* is that it is ok as it is.
As the specification for *image_url_fullxfull* is

[code]

-> nullable: true

The client is able to handle null values because indeed this is defined like as nullable in the definition. Here is a snippet of the normalizer generated by Jane (not sure if you use PHP but the code

[2022-05-11 10:00] james-thompsoncouk opened #472 "CreateDraftListing requires image[BUG]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When using the endpoint https://openapi.etsy.com/v3/application/shops/{shop_id}/listings posting for createDraftListing

The documentation states a list of existing image id's need to be supplied for the item, if the item is active. To me, I'm creating a draft listing, hence createdraftlistin

[2022-05-11 10:34] cal-tec commented on #54
It is over a year since this was suggested, I have a real usecase for this also... Please can we all have an update on where you are at with it internally

[2022-05-11 10:58] cal-tec opened #473 "[BUG]: updateListing state results in unexpected behaviour"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

If you submit
{"state":"incative"} to the updateListing endpoint for a listing the result is that the listing enters the "edit" state not a state of "inactive"

### Steps to reproduce

make a put request to updateListing endpoint for a listing with the following data {"state":"incative"}

###

[2022-05-11 13:28] Gareth064 commented on #472
Without seeing the payload your sending, if you are sending an empty array for images then try not including the array at all.

[2022-05-11 14:42] etsyachristensen commented on #472
@james-thompsoncouk There's a few things:

1. Your `shipping_profile_id` needs to be a real id. I assume in the payload above you just changed it to 1 but want to be sure.
2. Same for the `taxonomy_id`.
(BTW for future info, neither `shipping_profile_id` or `taxonomy_id` are private data that needs to be protected)
3. You don't have `is_supply` included in your payload. That field is required when

[2022-05-11 15:01] etsyachristensen commented on #473
@cal-tec On our end, the "inactive" and "edit" states are synonymous. When you set a listing to inactive, it's actually in "edit". This is an old legacy nomenclature that simply hasn't been updated. Originally, the idea (from what I've gathered - I wasn't here back then) was that once a listing went active, the ability to edit the listing was severely limited. You had to deactivate the listing (pu

[2022-05-11 15:07] etsyachristensen commented on #54
@cal-tec Which endpoints would you be wanting to make this query on? It's helpful to have a use case in mind as we evaluate the options. Changing the endpoints to accommodate this may be a larger lift than we can do at the moment, but having just the few requests on it so far hasn't made it a huge priority. If the data weren't available any other way, it would certainly be much higher on our list.

[2022-05-11 15:08] etsyachristensen commented on #472
Thanks for the follow-up @james-thompsoncouk. I'll get this added to the list of things to deal with. You are correct that the error you received makes no sense to the issue you were experiencing. We'll see what is causing this and get it fixed.

[2022-05-11 15:19] etsyachristensen commented on #302
@sergey-chegaev @multiorders @evangelosdaniil @samborambo305 @zoborg @shoecake @andriuspuskorius
This has been shortlisted for development. We haven't begun the work just yet, but the running thought is to include the refund information as part of the receipt and ledger endpoints, rather than create new endpoints to be queried for the payment adjustments. We will of course let you know when this i

[2022-05-11 15:42] bizmate commented on #470
Can you please confirm how the fix is deployed and what to expect from the client side?

I just requested https://openapi.etsy.com/v3/application/shops/6812120/reviews and still see

[code]

[2022-05-11 16:30] obxjack opened #474 "[BUG]: create_date and created_timestamp in getShopPaymentAccountLedgerEntries return same datatype"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

create_date and created_timestamp are both returning the same data type (EPOCH TIME).

### Steps to reproduce

Make standard call to getShopPaymentAccountLedgerEntries API using OAuth Token and APIKey

### Expected behavior

Was create_date recently added?  In my app, I have a trigger that po

[2022-05-11 16:33] etsyachristensen commented on #470
Hmm. Ok. I'll check on this. I am seeing this now too.

[2022-05-11 17:25] etsyachristensen commented on #403
Ok so I have not been able to figure out how the listing `839008392` got set to the custom shipping profile `104189587646`. I can see in our system that the profile was created via the shop manager. My only assumption is that the shop owner modified the listing to use that profile manually via the shop manager. I checked this shop owner and they have only one shipping profile that is fetchable via

[2022-05-11 18:26] #474 closed

[2022-05-11 19:09] etsyachristensen commented on #474
yes at some point. We want to give developers a good long time to adjust to the consistent naming.

[2022-05-11 19:59] yovasx2 commented on #300
we detected a similar error for another property id 513
[code]

[2022-05-11 20:42] etsyachristensen commented on #300
@yovasx2 I just checked and that value_id belongs to property id 514, not 513:
![image](https://user-images.githubusercontent.com/83842847/167944145-eff9dbc0-6a2f-4db9-a262-c3b59df1aa9b.png)

[2022-05-12 07:42] bizmate commented on #470
thank you

[2022-05-12 17:33] yovasx2 commented on #293
Any update on this?

[2022-05-12 17:34] yovasx2 commented on #300
we obtained the ids from the properties endpoint is that wrong?

[2022-05-12 17:35] yovasx2 commented on #311
is there an update on this?

[2022-05-12 17:35] yovasx2 commented on #313
is there an update on this?

[2022-05-12 17:40] yovasx2 commented on #403
but that's part of the problem, the customer and some others have only one profile, it isn't making sense to create that amount of manual profiles, The API was working and suddenly one day all the products were associated to this custom profiles by some reason and my guess is the customers didn't create them, probably we can move the investigation to another case

[2022-05-12 18:06] etsyachristensen commented on #403
Oh I see. So the listings WERE associated to their one common shared profile but then were suddenly associated to a different profile? I hadn't realized that was what you were saying. My apologies for the misunderstanding. That is certainly very concerning. I'll connect with our shipping team to see if something was done recently that would have caused this. We didn't change the OpenAPI in any way

[2022-05-12 18:09] etsyachristensen commented on #403
Just a quick note on this. Most, of all of those manual profiles were created via the old V2 API when listings were created. We don't do that in V3 any longer so moving forward we don't create all those manual profiles. The only way they can be created is via the Shop Manager UI on Etsy.com.

[2022-05-12 18:22] etsyachristensen commented on #300
No that is how it should be done, but is that endpoint showing you that value id being tied to property 513? It shouldn't be.

[2022-05-12 18:47] yovasx2 commented on #457
it's still happening

[2022-05-12 19:02] etsyachristensen commented on #457
What do you mean by editing photos? are you just referring to the same process above? (replacing photos)?

[2022-05-12 19:06] yovasx2 commented on #457
yes

[2022-05-12 21:06] etsyachristensen commented on #459
@yovasx2 We've been trying to find the problem here. I'm curious if this is happening with other listings or if this is an outlier. There's a complication to this in that we can't duplicate the issue in our development area and production edit-ability is heavily restricted so I can't debug the actual listing. We recreated the listing in dev but like I said it's not throwing the error. Our suspicio

[2022-05-13 04:04] marie-erank commented on #96
hi @etsyachristensen , can I ask if adding back the `view` property is being considered for this endpoint?

[2022-05-13 07:08] thisisjake opened #475 "[FEATURE]: Add item price and discount information to getReceipt endpoint data"
### Is there an existing issue for this?

- [x] I have searched the existing tickets

### Current Endpoint Design

There is presently no ability to determine how much an individual item was sold for when one or more discount(s) are applied.

When an order only contains one product it is easy to determine this as it is a simple math problem. If however an order includes two different products it be

[2022-05-13 14:31] etsyachristensen commented on #403
Can you give me a list of listing ids that are currently appearing to have the wrong shipping profile id in your system? We checked the couple listing ids we have from the examples you provided above. Both listings appear to have had the same shipping profile ids for a long time. Neither have been updated any time recently. I'm wondering if their list of shipping profiles changed rather than the l

[2022-05-13 16:20] yovasx2 commented on #459
understood i have seen this in at least 5 different shops

[2022-05-16 07:38] amitshuklaCedcoss commented on #430
@etsyachristensen did u tried to regenerate above bug?

[2022-05-16 14:10] etsyachristensen commented on #430
@amitshuklaCedcoss Not yet. I've been backlogged on some stuff. Will try to get it done as soon as I can. Thanks!

[2022-05-16 18:50] yovasx2 commented on #459
here is the shop ids identified:

[code]

[2022-05-17 05:31] mwashington2022 commented on #467
We are in same situation with ETSY.
Any update yet to your email to them?

[2022-05-17 07:57] kbasali commented on #149
Hello @etsyachristensen , Andrew
I've sent an email to developer@etsy.com
If you have time, can you check it, please? Email Title: Big Update

[2022-05-17 14:04] etsyachristensen commented on #467
Rest assured, the process is not broken. We have had a lot of requests. Our trust and safety teams have to evaluate each request, especially when "full access" is requested. There is more security around this now than there used to be and we are taking each request seriously. I can't speak to the timeline for each of your app requests as I'm not on that team. But they are working through them as f

[2022-05-17 14:06] etsyachristensen commented on #149
@kbasali I have requested that they forward the email to me.

[2022-05-17 14:34] main24 opened #476 "[BUG]: Empty `product_data` in the `getShopReceipts` endpoint"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

`product_data` attribute of orders transactions provides original (not formatted) options and values of the ordered variations which helps with identifying the variation strictly rather then using fuzzy match on formatted values (as id of variations are being changes with every inventory upda

[2022-05-17 20:43] DemiImp opened #477 "[FEATURE]: View scopes"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

I just ran into an issue where Etsy gave back an error "insufficient_scope" when trying to add an image.  I honestly don't know how that's possible, since we've always have requested the **listings_w** scope.

So to help debug the issue, I wanted

[2022-05-17 22:56] etsyachristensen commented on #476
This should be doable @main24 . I've added it to our list of development tasks.

[2022-05-17 22:57] etsyachristensen commented on #459
@yovasx2 Is the count column a count of listings that are having this same problem or just the number of listings in the corresponding shop?

[2022-05-18 14:15] etsyachristensen commented on #149
@kbasali What email address would it be coming from? Our support team can't find the email. Can you try to re-send to developers@etsy.com?

[2022-05-18 15:10] kbasali commented on #149
Hello @etsyachristensen Andrew

Yes, I sent it 2 times to this email address.
Now I sent it again and the Ticket was created. Ticket ID: #8556483
The Ticket ID was not created in the emails I sent before.

The title of the emails I sent before: Big Update
The title of the email I just sent: Please Forward this email to Andrew Christensen
Sorry again to bother you here.

[2022-05-18 17:43] elizabethyalkut opened #478 "[ENDPOINT]: Proposed design change for findAllUserFavoriteListings"
### Is there an existing issue for this?

- [X] I have searched the existing tickets

### Current Endpoint Design

The `findAllUserFavoriteListings` is being deprecated in v3.

### Proposed Endpoint Design Change

I'd like to keep this endpoint in, as I'm working (slowly!) on an app to allow users to sort and filter their favorites, and won't be able to in the current design.

### Why are you prop

[2022-05-18 17:56] yovasx2 commented on #459
count is the number of errors seen in that shop (I updated the table)

[2022-05-18 17:58] etsyachristensen commented on #459
Ok great thank you! That helps for sure.

[2022-05-18 19:07] NathanConroyOrd opened #480 "[DOCS]: Receipt Object - Status Enum Inconsistency"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developers.etsy.com/documentation/reference/#operation/getShopReceipts

### What would you like to change?

In the description of the receipt object, there are two lists of possible statuses.

Enum: "paid" "completed" "open" "payment processing" "canceled"
The current order

[2022-05-18 19:24] etsyachristensen commented on #480
@NathanConroyOrd You are correct. That's a documentation error. That said, we are looking at adding canceled orders to the output. Not sure when that will happen. In the meantime, I'll take a look at the documentation.

[2022-05-18 19:37] NathanConroyOrd opened #481 "[DOCS]: Details on Receipt Statuses"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developers.etsy.com/documentation/reference/#operation/getShopReceipts

### What would you like to change?

In the description of a 200 response from the getShopReceipts method, an enum is given listing the possible receipt statuses.

I can't find a detailed description of

[2022-05-18 20:03] etsyachristensen commented on #480
@NathanConroyOrd I misspoke. We already have the canceled status in there. It was just left out of the documentation for the input type. We'll fix the docs.

[2022-05-18 20:14] etsyachristensen commented on #481
We can work on adding something, but the `open` status means an order that is placed, but not yet paid. This likely won't happen unless the seller has some offline method of payment. I'm honestly not sure if this is even possible anymore so it may just be legacy.

Orders typically start out as 'open', then go to 'payment processing' (which again is a very short-lived status), to `paid` and finally

[2022-05-18 20:33] etsyachristensen commented on #478
@elizabethyalkut Unfortunately the user favorites functionality has been retired within the OpenAPI for Etsy. I don't think it will be resurrected, but I've added it to our discussion board to talk about. I wouldn't count on it making the system any time soon though.

[2022-05-18 20:35] yovasx2 commented on #459
Here are the listing examples belonging to the shops above:
--------------------------------------------
|etsy_shop_id  | etsy_listing_id |
|----------|-------|
| 16237718 | 858140479  |
| 16237718 | 844234052   |
| 16237718 | 754718242   |
| 16237718 | 754725208    |
| 11096131 | 694856495    |
| 11096131  | 399496361     |
| 11096131 | 520251782     |
| 11096131 | 281226002     |
| 13861920 | 71

[2022-05-18 21:31] etsyachristensen commented on #430
Oh my goodness. I can't believe I didn't see this before... The problem is that the item_length should be the greatest value of the item dimensions. So in your update you have item_length as 9 and item_width as 12. Swap those values and it will work. So sorry I didn't catch that before. I had to duplicate the problem to see it. I'll look at documentation and errors to see if we can get it to expla

[2022-05-19 11:04] main24 commented on #476
Thank you @etsyachristensen, really appreciate that!

[2022-05-19 17:29] NathanConroyOrd commented on #480
Thank you!

[2022-05-19 17:29] NathanConroyOrd commented on #481
Thank you!

[2022-05-19 17:47] NathanConroyOrd opened #482 "[DOCS]: Details on getShopReceipts `was_paid`, `was_shipped`, `was_delivered`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developers.etsy.com/documentation/reference/#operation/getShopReceipts

### What would you like to change?

For the v3 API's getShopReceipts method, one can filter receipts by these three boolean flags:
[code]

I'd like more detail on two things:

1. Is it meaningful to set

[2022-05-20 04:41] amitshuklaCedcoss commented on #430
Thank you so much @etsyachristensen
Gratitude

[2022-05-20 20:07] etsyachristensen commented on #476
This has been added @main24 .

[2022-05-20 20:07] #476 closed

[2022-05-22 15:34] IamPARAMESH opened #483 "[BUG]: Few Mandatory Informations Are Missing in V3 compared to V2."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

1. In getShopReceiptTransactionsByReceipt as well as getShopReceipts V2 API, Inside transactions array we used to receive **non_taxable node under Listings array** which has been removed in V3 which is causing issue in our workflow.

2. We are **unable to find Rate Limits** for **Token Fetch

[2022-05-23 00:51] johnbie opened #484 "[FEATURE]: Add ability to update marketing information"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

There are no marketing endpoints for open-api, and my clients are quite annoyed that they have to manually check and update their advertisement information. I'm sure that the ability to read and write this information will not only increase their

[2022-05-23 09:01] namlv94 opened #485 "[BUG]: Open Api v3 updateListing 500 Server Error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Open Api v3 updateListing 500 Server Error

### Steps to reproduce

update draft product with api: https://developers.etsy.com/documentation/reference/#operation/updateListing.
data body:
{"title": "simple product123", "description": "sdfds", "tags": "", "item_weight": 0, "item_length": 0, "i

[2022-05-23 09:02] chucuoinb commented on #471
Did you get any updates? Until now I still get this error

[2022-05-23 10:49] main24 commented on #476
Great news, huge thank you @etsyachristensen!

[2022-05-23 12:53] VasilVelikov commented on #471
@chucuoinb Unfortunately I haven't heard anything yet.
The interesting thing in my case is that it happens only for some listings. For the majority of listings the update works as expected.

[2022-05-23 18:19] codyjmcguffie commented on #122
Another upvote for this issue. The listing views are SO SO SO important for our app. Please add listings views to V3.

Thank you.

[2022-05-23 18:34] natalyar16 commented on #122
One more upvote for this issue.
The views are a critical piece of data for our application as well. Without them we would have to deprecate several important tools on our website. This is a blocking issue for us to start any kind of migration to API v3.
[@harjas](https://github.com/harjas) Do you have any information about the re-release of listing API with views field included?

[2022-05-23 18:43] codyschneiderx commented on #122
Another upvote. This is essential to our app.

@harjas please share an update on this if you can 🙏

[2022-05-23 21:05] NathanConroyOrd commented on #481
@etsyachristensen

This leads me to another question. For users who are migrating from the v2 API to the v3 API, it would be helpful to know the definitions of the v2 receipt statuses as well.

As far as I can tell, v2 receipt statuses are listed here https://www.etsy.com/developers/documentation/reference/receipt#method_findallshopreceiptsbystatus, but I cannot find exactly what these statuses me

[2022-05-24 06:49] thisisjake opened #486 "[BUG]: getShopShippingProfileDestinationsByShippingProfile returning deleted destinations"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

getShopShippingProfileDestinationsByShippingProfile returns destinations that have been recently removed.

For example shipping_profile_destination_id: 22690441217 has been removed, but still appears when queried. If I attempt to remove the destination I see the following message:

"error":"C

[2022-05-24 07:34] assaflei commented on #399
@etsyachristensen can you share a backlog of all impacted APIs and fields?
There are references to many types of fields and I want make sure all of them are updated correctly

[2022-05-24 08:19] assaflei opened #487 "[BUG]: Property with PK does not exist"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Sometimes, when invoking [this API](https://developers.etsy.com/documentation/reference/#operation/getListingsByShop) for inactive listings (state: inactive) I get this error response:
{statusCode: 404, data: {error: Property with PK .... does not exist} (I can share the PK value offline)
Can

[2022-05-24 10:22] AyseBusraKoc opened #488 "Existing From Developer Mode"
I have accidentally take my Etsy shop HANDEAVOUR to developer mode while I was trying to get an API code for a separate app for a standalone website.

Can you please remove me and my shop out of developer mode, I have spent a week now sitting in  Pending status and despite my numerous emails and complaints to devoloper team or help team no one is answering! I am losing sales and time by not being

[2022-05-24 10:25] AyseBusraKoc commented on #488
I meant "index my shop again on Etsy". Sory about this.

[2022-05-24 13:37] abhijit-bora commented on #122
Another upvote for this issue. The views from Etsy API v2 are so much essential for us and it gives much more value to our application. That helps many Etsy users gain a better understanding of the listed product.

@harjas Please provide us some details about the addition of views in v3

[2022-05-24 13:47] etsyachristensen commented on #399
Every endpoint that had a date field name that wasn't created_timestamp or updated_timestamp now has these fields. The old fields are still there. I'll have to go through our repo to find out which endpoints were touched as I didn't do this work. It'll take some time to get that info.

[2022-05-24 13:50] etsyachristensen commented on #122
Unfortunately Harjas has moved on to a different team. We are still investigating how to bring this back. The old method was no longer usable as it didn't accurately represent the view count.

[2022-05-24 14:05] etsyachristensen commented on #488
@AyseBusraKoc I've turned this over to our support team to review. Not sure why you haven't had a response yet, but as the API team, we don't have the permissions to change app statuses or limits. We have to turn those requests over to the support team. You should hear back shortly.

[2022-05-24 14:05] #488 closed

[2022-05-24 14:09] etsyachristensen commented on #487
@assaflei I will need the shop ID where this occurring. I'm not able to duplicate it on our end. That error indicates that the primary key association for that property is not pointing to a valid record in another table. I'll need to go through the inactive listings for the shop to find out which listing is doing it. The PK id isn't a private detail and would be meaningless to anyone else so you c

[2022-05-24 14:12] etsyachristensen commented on #471
@VasilVelikov and @chucuoinb I will need to know the listing ids that are affected by this as well as the payloads you are sending to those listings so I can try to duplicate the issue on our end.

[2022-05-24 14:15] etsyachristensen commented on #485
@chucuoinb Are you passing in the blank tags field to remove tags? And the dimension fields are all zeros. Is that intentional? If so, the listing will have to be a fixed shipping profile. Also, in v3, the field is `shipping_profile_id` not `shipping_template_id`.

[2022-05-24 14:26] etsyachristensen commented on #483
@IamPARAMESH

1. We don't return the listing as an object in the receipt/transaction endpoints in V3. We do provide the listing_id though so you can query `getListing` endpoint to get the listing data. Inside the listing array returned by the get endpoints for listings, you will have `non_taxable` and `is_taxable`.

2. The rate limit information is returned in the headers sent back by the API. Bel

[2022-05-24 14:26] #483 closed

[2022-05-24 17:32] nmrdxt commented on #487
Happens here as well, the same PK value (17521439), first noticed it 4 days ago, but in the last 24 hours it has been exploding. I'm seeing this error returning for various endpoints, for many shops.

[2022-05-24 19:50] stickfigure opened #489 "[FEATURE]: Support for Etsy Pattern (aka channels)"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

I can't tell if this is a documentation issue or something missing from the API. How can we specify channels when publishing or updating listings?

I'd like to be able to create listings that are Pattern-only. Or update draft listings to put them

[2022-05-24 21:46] etsyachristensen commented on #477
This endpoint has been created. https://developers.etsy.com/documentation/reference/#operation/tokenScopes

[2022-05-24 21:46] #477 closed

[2022-05-24 21:48] etsyachristensen commented on #489
Pattern has been removed from API support. OpenAPI V3 does not allow you to create/update listings in Pattern. This can only be set via the Etsy Shop Manager.

[2022-05-24 21:54] stickfigure commented on #489
Can you give us some idea of where Etsy is going with that? Is this something to be supported by the API in the future, or is Etsy winding down Patterns?

We just discovered Patterns recently. It actually seems pretty cool as a Shopify replacement and could be of interest to our merchants, but I can't really tell if this is viable or a good idea.

[2022-05-25 01:20] chucuoinb opened #490 "[FEATURE]: Tariff number in Api"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

Recently I am developing an app for shop owners. And I really need to work with the Tariff number field. But I don't find it in the API, am I missing something?
https://prnt.sc/h2qKSQ3Iy1Ec

### Describe the solution you'd like

I hope Etsy can a

[2022-05-25 07:32] AyseBusraKoc commented on #488
My problem is solved last night. Thank you very much for your precious interest and support.
Best regards.

[2022-05-25 09:57] amitshuklaCedcoss opened #491 "[BUG]: listing dimensions are not visible on product edit listing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

listing created on etsy via API with all the dimensions info but listing dimensions are not prefilled on etsy.com item edit page

### Steps to reproduce

    [item_length] => 4
    [item_width] => 4
    [item_height] => 3
    [item_dimensions_unit] => in

### Expected behavior

item dimension

[2022-05-25 15:55] etsyachristensen commented on #490
At this time, we are not planning to add the tariff information to the OpenAPI.

[2022-05-25 15:55] #490 closed

[2022-05-25 17:15] FloppyChips commented on #467
We are in the same position, have been waiting for many weeks.

[2022-05-25 17:21] etsyachristensen commented on #467
Have you all checked your apps page to see if it lists a status? https://www.etsy.com/developers/your-apps

I'll forward again to the support team.

[2022-05-25 17:51] FloppyChips commented on #467
"Awaiting Approval". thanks.

[2022-05-25 21:52] etsyachristensen commented on #491
The dimensions are showing up for us in the listing management page:
![image](https://user-images.githubusercontent.com/83842847/170373431-7019acaf-02fc-4674-8b8e-d199de55521b.png)

[2022-05-25 21:58] etsyachristensen commented on #491
How soon after creating the item is the seller looking at the item edit page in Shop Manager?

[2022-05-26 02:43] mwashington2022 commented on #467
@etsyachristensen
We have also been waiting for now several weeks and still just the "awaiting approval" message
The message is ok, just not helpful as it does not help us to know if we are actually making any progress in the "waiting line"

[2022-05-26 03:58] thisisjake commented on #475
Hello,

It's been about two weeks since this was posted, any chance of a response?

Thank you.

[2022-05-26 04:10] jon-chambers opened #492 "[DOCS]: Links in reference OAS documentation are outdated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developer.etsy.com/documentation/reference/

### What would you like to change?

Click all the links. Most of them don't go where you'd expect them to. Many of them link back directly to where themselves.

### Why are you proposing this change?

I keep clicking these links

[2022-05-26 07:58] amitshuklaCedcoss commented on #491
Thanks, @etsyachristensen for the update.
The client is checking instantly just after creating a listing.
by the way, how much time dimension will take time to reflect, other fields populate instantly on shop manager.

1 more qn, can we see these dimensions fields on [etsy.com](https://www.etsy.com/listing/1207745873/shea-jojoba-butter), so we can verify from our end too that everything going perf

[2022-05-26 08:10] FloppyChips commented on #354
I have found that if you browse a page whilst logged in, e.g. your shop page, https://www.etsy.com/uk/shop/xxxxxxxx and then inspect the page with Chrome debug tools (F12) you'll see the first element is:

<html lang="en-GB" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml" data-user-id="551762807" data-user-login-name="exfkohif5jbzf464" data-user-is-seller="true" style="-

[2022-05-26 10:51] diogogomeswww commented on #477
@etsyachristensen is this endpoint on production?

We're having the same problem. Getting insufficient_scope errors after exchanging the v2 for v3 tokens.

[2022-05-26 10:59] amitshuklaCedcoss commented on #430
@etsyachristensen again getting this error on different stores
using [createDraftListing](https://developers.etsy.com/documentation/reference/#operation/createDraftListing) call
[shop_id] => 27068452

error details :
Client error: `POST https://openapi.etsy.com/v3/application/shops/27068452/listings?language=en` resulted in a `400 Bad Request` response:
[{"path":"\/item\/weight","type":"shipping_p

[2022-05-26 13:08] etsyachristensen commented on #430
The error you are getting is that you don't have a domestic shipping profile. A domestic option is required when the profile is not set to ship for free domestically. I would check the shipping profile settings.

[2022-05-26 14:17] etsyachristensen commented on #491
There appears to be some form of caching going on after creating the listing. I'm not entirely sure why but I'm having someone look into it. There's no way to view the dimensions on the Etsy site to confirm that the data is stored. You can do a getListing endpoint call to see if the data comes back immediately after creating.

[2022-05-26 14:52] etsyachristensen commented on #302
Would any of you be able to provide me with a shop id and a few receipt ids that should have refunds on them? This will help me test the work I'm doing to ensure that what we are providing is what you actually need. These ids themselves aren't generally a secure value so you can share them here, or you can email developers@etsy.com and mention this issue number and request that it be forwarded to

[2022-05-26 15:06] etsyachristensen commented on #492
@jon-chambers - I'm just adding some comments here for internal issue tracking. If you have any other examples, please feel free to add them.

**Some examples:**
- In `createDraftListing` endpoint docs, the shipping_profile_id description has a link to Shipping Profile, but it needs to be updated.
- Same issue in `getShopShippingProfile` and other Shop Shipping Profile endpoints.

[2022-05-26 19:06] DemiImp commented on #477
@etsyachristensen - Thank you so much for implementing this endpoint so quickly!

Could you update the API documentation's Response Sample to include a response sample?

I was surprised to find out v3 uses a POST instead of a GET.  Is that intentional?  Usually POST is for creating/setting and GET is for retrieving data.  API v2 uses a GET.

[2022-05-26 19:17] etsyachristensen commented on #477
Yes. It is a POST endpoint because you can't pass the token as a get input parameter with our architecture. For security sake, it will get stripped off. A post is more secure.

Unfortunately, the documentation is auto-generated. Because this endpoint returns nothing more than an simple exploded array of strings, it doesn't know what to generate. An example would be:
[code]

[2022-05-26 20:24] etsyachristensen commented on #477
For security reasons, once the request has passed through the gateway, we don't have access to the access token in the header. Thus we have to have it as a form input.

[2022-05-26 20:27] DemiImp commented on #477
Ah, that's what you meant.  I understand now.  Thank you.

[2022-05-26 20:35] DemiImp commented on #450
A user that has used of for many many years ran into this issue.  For some reason the API for both v2 and v3 are returning no scopes at all.  I'm not sure if this is because of how old the tokens are (some legacy support issue), if the scopes got removed somehow, or something else.

[2022-05-27 06:05] jon-chambers opened #493 "[FEATURE]: auto-renew should make more sense"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

"should_auto_renew | booleanWhen true, renews a listing for four months upon expriation. If set to true when previously false, etsy.com renews the listing before it expires, but the renewal period starts immidiately rather than extending the list

[2022-05-27 08:06] diogogomeswww commented on #477
@etsyachristensen thank you for your quick reply and for the new endpoint.

Just one more question:
I can retrieve ShippingProfiles with my V2 token and using the v2 endpoint.
Using the v3 token (by using the endpoint to exchange the v2 token to v3 token) on the get shipping profiles endpoint is returning an `insufficient scopes` error.

Is this a bug?
I should have the same scopes, right?

[2022-05-27 08:23] Gareth064 commented on #493
What a dumb way to ask something. No-one is going to listen to you when you write messages like that. This is a technical place to discuss a technical API layer on top of a very old and complex system. No-one needs you to write a story then get super defensive/passive aggressive before anyone from Etsy gets a chance to respond to you story.

[2022-05-27 11:12] jon-chambers commented on #493
I don't care anymore. So long as my competitors are struggling with this also, it gives me the competitive advantage against them.

This isn't even an issue I want fixed. My backend is fully automated. I'm not going to make mistakes like forgetting to auto-renew. So it's in my best interest that you keep this bug in.

I'm not asking for anything. Make a note to never fix this. It doesn't bother me

[2022-05-27 11:12] #493 closed

[2022-05-27 21:17] yovasx2 opened #494 "[ENDPOINT]: Proposed design change for getPropertiesByTaxonomyId"
### Is there an existing issue for this?

- [X] I have searched the existing tickets

### Current Endpoint Design

Currently, you are able to send values and value_ids for a specific property, let's say **craft type** (**47626759760**) this is restricted in the UI to **max 5 values selected**, but in the API there is no property indicating this limit neither the put property endpoint is limiting t

[2022-05-30 10:23] FloppyChips opened #495 "[BUG]: PUT v3/application/listings/<listing_id>/inventory does not create all products"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

PUT with an array of two products only creates one:

URI: https://openapi.etsy.com/v3/application/listings/1228243738/inventory
2022-05-30 11:21:10 INFO  [main] com.trackmetrics.apodle.ecommerce.etsy.outgoing.etsy.logging.LoggingInterceptor:38 - HTTP Method: PUT
2022-05-30 11:21:10 INFO  [mai

[2022-05-30 11:11] GiorgosPanagiotopoulos commented on #302
Hello @etsyachristensen,

Thank you for the response and the explanation. I understand that a refund breakdown will be possible by using the "reference_id" to find the corresponding information in the relative payment and receipt.

But how will we identify this payment and receipt having only the `LedgerEntry` of the refund? As @sergey-chegaev mentioned, in V2 we were able to use [findPaymentAdjus

[2022-05-31 04:23] ravi18969 opened #496 "Should be able to identify refunded/cancelled orders from receipts API response with payment adjustment details"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

In our current requirement we need to fetch paid/refund/cancelled orders from Etsy store through V3 REST API.
We are able to get paid orders from shop receipts as it has all the fields which are required for our mapping.

However we are not able to differentiate between normal orders and refu

[2022-05-31 10:34] sergey-chegaev commented on #302
@etsyachristensen
**Shop Id**: 27673215
**Ledger Entry Id for Payment**: 11594841764
**Payment id**: 101096642631
**Receipt id**: 2335394517
**Ledger Entry Id for Payment Adjustment (Refund)**: 11594841764
**Payment Adjsutment Id (Refund)**: 100307830422

[2022-05-31 12:54] etsyachristensen commented on #302
Thanks @sergey-chegaev! That should help a lot. I'll let you know if i had anymore questions or progress.

[2022-05-31 15:51] etsyachristensen commented on #302
@sergey-chegaev So here's what I've been working on and using your example above, here's a modified output of the `getShopPaymentAccountLedgerEntries` showing two entries that contain adjustments as well as the adjustment items as part of the data array.
https://gist.github.com/etsyachristensen/7f5c2e2b809b6693c9b9b86124132f8f (Once you've reviewed this, I'll delete the gist.)

Will a change like

[2022-05-31 16:01] #243 closed

[2022-05-31 16:02] etsyachristensen commented on #71
Please track #302 for this moving forward. We are working on adding refund information to receipts and ledgers. I'll close this issue out to clean up the board.

[2022-05-31 16:04] etsyachristensen commented on #496
This is a duplicate of #302. Please track that issue. We are getting close to providing this data. I'll close this issue out to clean up the board.

[2022-05-31 16:04] #496 closed

[2022-05-31 16:09] etsyachristensen commented on #495
I'm not 100% positive on this, but it appears that the two products are identical other than the SKU. But you have `price_on_property` as a price affecting option. Since the two products are the same price the system overwrote the first with the second entry. Please try either removing the value from `price_on_property` or change the price on one of the products. Let me know if it still fails to c

[2022-05-31 16:17] etsyachristensen commented on #494
Good catch @yovasx2. Just to make sure I'm on the same page with you, are you talking about calling `updateListingProperty` endpoint where you're able to add more values/value ids to a listing property than the UI allows? I think the solution will be to add a hard-set limit of 5 value/value id combos per property per listing and have the documentation reflect that. I don't know that we need to hav

[2022-05-31 16:22] etsyachristensen commented on #450
Want to make sure I understand. You're checking at token that was generated in 2010? If so you really need to regenerate a new token. I can't say for sure but I'd guess there's some legacy stuff that isn't included in the new endpoint.

Can you email developers@etsy.com and provide the api key and token in question so I can look it up internally? Just reference me (Andrew Christensen) and ask that

[2022-05-31 16:25] etsyachristensen commented on #475
Apologies @thisisjake. I added it to our queue of issues to review and resolve. I just haven't be able to get onto this one yet.

[2022-05-31 16:38] FloppyChips commented on #495
Thanks for the suggestions, here is my testing.

1) Removing property 513 from `price_on_property`

PUT
`{"products":[{"sku":"UK-1304-sku1-16526","property_values":[{"property_id":513,"property_name":"Option","values":["11oz Mug"]}],"offerings":[{"price":5.99,"quantity":999,"is_enabled":true}]},{"sku":"UK-1304-sku2-16526-16527","property_values":[{"property_id":513,"property_name":"Option","values

[2022-05-31 17:11] sergey-chegaev commented on #302
@etsyachristensen Basically, attaching a payment adjustment to the `LedgerEntry` will work for us since it gives us ability to get information from related `PaymentAdjsutment`.
Will the endpoint to get a single `LedgerEntry` by its `id` be introduced later? (Such an endpoint looks natural)
For now, if we want to retrieve a particular `LedgerEntry`, we need to store its `create_date` and then call

[2022-05-31 17:29] etsyachristensen commented on #302
That's a great point. We should have that as an endpoint. The intention originally was to streamline these endpoints to have one endpoint serve the data that you used to get from several in V2. So the thought was that you'd just get all the Ledger Entries and you wouldn't need to hunt for one in particular. That said, I think it makes sense to add that endpoint.

I've removed the gist just to make

[2022-05-31 19:33] yovasx2 commented on #494
you got the problem but I think hard code it to 5 is arbitrary, some attributes are having a limit of 3 some 5, it varies, API v2 is giving an option called **maximumValuesAllowed**:

Endpoint: https://openapi.etsy.com/v2/taxonomy/seller/get

[code]

[2022-05-31 20:29] etsyachristensen commented on #494
Oh ok I see. I've never seen that max allowed values. I'll have to find out what that's all about and make sure we address this.

[2022-06-01 09:58] thisisjake commented on #475
@etsyachristensen no problem, thanks for letting me know it's in the queue. Appreciate it.

[2022-06-01 14:10] etsyachristensen commented on #465
Yes. Sorry. I am hoping to get on that this week.

[2022-06-01 18:39] DemiImp commented on #450
I'll send an email shortly.

I asked them to re-authorize and it looks like they followed my instructions.  I saved their old tokens just in case they were handy.  I don't know if the old tokens receive updated permissions when they reauthorize.

[2022-06-01 18:52] Allen209 commented on #450
Hi @etsyachristensen

This was my mistake. I had a billing and non-billing token and mixed them up, so the error message was in fact correct. I went down this rabbit hole because when I tried to update a listing description for a digital item, I would get a server error as a response. I found that if I set `'type' => "download"`, I did not get this error. Not sure why I have to set this field in o

[2022-06-01 22:05] etsyachristensen commented on #450
Thanks for the update @Allen209. I'm going to close this out for now. Let me know if anything comes up regarding the tokens.

[2022-06-02 17:29] diogogomeswww opened #497 "[BUG]: getShopByOwnerUserId returning a single shop but user can have many shops"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

An user can have many shops, so this endpoint should return an array of Shops, instead of a single Shop.
The V2 endpoint `getUser` with the `includes=Shops` returns an array of shops.

How can I retrieve all shops own by an user?

### Steps to reproduce

Call the endpoint: getShopByOwnerUserI

[2022-06-02 17:44] hyyyper opened #498 "[BUG]: API Keys no longer work after receiving an increased request limit"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Yesterday, I received an increased rate limit and request limit from the developer support team.
Today, none of my API Keys are working.
This is happening with my production API Key and obviously everything is broken now.

Requests are rejected with this:

Status: 400
[code]

### Steps to rep

[2022-06-02 17:46] #498 closed

[2022-06-02 19:58] etsyachristensen commented on #497
@diogogomeswww I can't really speak to what the V2 `getUser` endpoint was doing for you. But I can say that Etsy policy is that any single user can only have 1 shop. The user can create separate user accounts under different email addresses but that still only leaves one shop per user. If you were somehow able to get multiple shops per user in V2, you won't be able to in V3.

[2022-06-02 19:58] #497 closed

[2022-06-02 22:29] etsyachristensen commented on #227
Support for alt_text has been added.

[2022-06-02 22:29] #227 closed

[2022-06-02 22:32] etsyachristensen commented on #302
@zoborg @shoecake @evangelosdaniil @sergey-chegaev @andriuspuskorius @samborambo305 @multiorders
Ok after a lot of discussion and work this is now in production. Please see the [release notes](https://github.com/etsy/open-api/releases/tag/3.0.0-general-release-2022-06-02) for what all we've added to the endpoints. I am hopeful that the changes will provide the information you've all been waiting f

[2022-06-02 22:50] samborambo305 commented on #302
Thank you, will take a look @etsyachristensen

[2022-06-03 03:00] jon-chambers commented on #233
Why isn't this in the tutorial? This is exactly the sort of thing I'd expect to see in the tutorial, with examples of local paths and url paths.

[2022-06-03 06:24] andriuspuskorius commented on #302
Great! Thanks, @etsyachristensen !

[2022-06-03 07:01] evangelosdaniil commented on #302
Thank you @etsyachristensen for all the help!

[2022-06-03 07:41] multiorders commented on #302
Looking good, @etsyachristensen.
Thank You.

[2022-06-03 09:00] sergey-chegaev commented on #302
I guess, our issue is resolved now. Thank you @etsyachristensen!

[2022-06-03 13:09] #302 closed

[2022-06-03 13:14] etsyachristensen commented on #233
I'll look into adding a tutorial using the above code as example.

[2022-06-03 13:55] etsyachristensen commented on #450
@DemiImp I received the email with your token info. The V2 token you provided was of course revoked when the new token was generated. But based on the length I would say it's likely that it was so old the system couldn't exchange it properly. I've never seen an OAuth 1 token so long, which makes me think that it's for sure an older outdated token.

[2022-06-03 19:23] DemiImp commented on #450
@etsyachristensen - Ah, ok.  Yes, we have used the v2 API for a very long time and have many accounts that have API keys that are that long.  Is there no way on your end to properly get and transfer the OAuth scopes?

In the meantime I'll have to add some scope checking when converting tokens from v2 to v3 and figure out the best way to notify accounts we can't transfer.

[2022-06-03 20:49] etsyachristensen commented on #302
@sergey-chegaev I've added the singular ledger entry lookup endpoint here: https://developers.etsy.com/documentation/reference#operation/getShopPaymentAccountLedgerEntry

[2022-06-03 21:20] etsyachristensen commented on #494
There is now a `max_values_allowed` data point in the array for the properties.

[2022-06-03 21:20] #494 closed

[2022-06-04 03:12] jon-chambers commented on #233
Keep in mind, I'm literally helping my competition by saying this, because I wasted a day figuring this out and they'll have it solved in ten minutes, but remember the images might be stored on the same server, a different web address, or on the hard drive of the local host.

Information on the exact syntax for these three situations are very difficult to find, and even then they're generally out

[2022-06-04 03:13] jon-chambers commented on #233
Also, there is no error message for "the file at this address does not exist". It just returns with no response. Yeah, that was a hellish day, but I figured it out in the end.

[2022-06-06 14:48] codyjmcguffie opened #499 "[BUG]: OUR APP has been moved to "Pending Approval" after being live for over 12 months??"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hi there... Last night our API key was moved to "Pending Approval" without any notice at all. Is anyone else experiencing this issue?

Our APP has been APPROVED and LIVE for about 12 months now with no issues.

We have many customers and users that aren't able to use the app.

Can you please

[2022-06-06 15:07] codyjmcguffie commented on #499
@etsyachristensen our ticket ID is ID: #8707175 - would you mind helping us figure this out?

[2022-06-06 16:01] etsyachristensen commented on #499
@codyjmcguffie I have someone looking into that.

[2022-06-06 16:54] codyjmcguffie commented on #499
@etsyachristensen your response is appreciated more than you know. Thank you so much for the help. Seriously appreciate it.

[2022-06-06 17:28] codyjmcguffie commented on #499
@etsyachristensen This happened when we were researching V3 API migration... Could we have triggered this incident on accident while researching V3 migration (per the API testing article: https://www.etsy.com/legal/policy/api-testing-policy/169130941112) We did have our shop in "developer mode" and it may have caused Etsy to flag us a "security or fraud" risk.

What do you think?

[2022-06-06 17:56] codyjmcguffie commented on #499
@etsyachristensen Artemis got back to me and reinstated the App. He wasn't sure what caused that when researching the V3 API. He said "It does not appear to be due to any punitive action from your researching api v3."

Either way, we'll continue to research the migration to V3. Hopefully no issues further.

Again, thank you for escalating this issue Andrew. Means so much. Very helpful.

[2022-06-06 18:20] yovasx2 commented on #459
I used v3 to update taxonomy to and the error comes, with v2 it passes:
[code]
response:
[code]

with v2 I got 200

[code]

[2022-06-06 18:50] FailMelon commented on #21
Can we get user avatar previously found in v2 with UserProfile.image_url_75x75 and also __SELF__, mostly need the avatar but  having to split the accesstoken for userid is just mildly annoying.

[2022-06-07 04:08] khaivddev opened #500 "[BUG]: Register new application"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I want to claim API Key to connect to the Etsy API.
But when I register a new application, it's pending approval for a long times

### Steps to reproduce

1. Register new application
2. Sit here and wait for approval year and year ...

### Expected behavior

My pending approval application di

[2022-06-07 18:00] etsyachristensen commented on #500
This is a duplicate of many other issues. The OpenAPI team does not handle authorization of apps. This is done by a different team. All we can do is pass along your request for review. I can say that while reviews did get backed up over the past few months, they should be going much faster now with added staffing. Please be patient.

[2022-06-07 18:02] etsyachristensen commented on #495
Ah yeah I see what you are saying. I'll see if I can add something to documentation for this but unfortunately the inventory system is so complex it's hard to cover everything.

[2022-06-07 18:02] #495 closed

[2022-06-08 12:10] FatihGokmen opened #501 "[BUG]: Unable to finalize product stock. (update Listing Inventory)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hello,

Until the last 10 days, we used to send 0 stocks of products that were out of stock to be closed from sale on etsy. Now it gives an error that stocks must be greater than 0.

How do we close out of stock products?

**********REQUEST***********
PUT https://openapi.etsy.com/v3/applicati

[2022-06-08 12:13] zbora23 commented on #28
+1 on webhooks or other real-time alternative

[2022-06-08 15:27] amitshuklaCedcoss commented on #430
@etsyachristensen client had updated shipping profile for domestic option
![image](https://user-images.githubusercontent.com/25526103/172654391-065d4233-037a-46c5-8926-cdbd87466a98.png)

Here is the response header for issue debugging

`[shop_id] => 27068452`

[code]

[2022-06-08 17:05] mwashington2022 commented on #467
@etsyachristensen
3rd time rejected after waiting almost 10 weeks and no reason or details on why were rejected again.
What would be the best way to correct the reason for why we were rejected then?
We are certainly willing to try again, but if we make same submission, then wouldn't reject us again?

[2022-06-08 19:48] FatihGokmen commented on #501
OK, I fully understood the process. thank you.

[2022-06-08 22:47] etsyachristensen commented on #475
I have added `buyer_coupon_discount` and `shop_coupon_discount` to the transaction object in the receipts. The transaction represents a specific product so the discount amount represents the amount discounted on that specific product in the receipt.

[2022-06-08 23:21] yovasx2 opened #502 "[BUG]: properties not shown in UI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

after hitting edit a property like length or width, the value_id received from an existing product is not accepted by api

[code]

response:
[code]

as u can notice the scale_name is null and when u visit that product in etsy manager, the form is not showing the value 6 for the length, the va

[2022-06-09 05:47] thisisjake commented on #475
@etsyachristensen thank you, much appreciated.

[2022-06-09 05:47] #475 closed

[2022-06-09 06:48] superxaiogu opened #503 "[BUG]: use getListingsByShop v3 APi retrieving 0 records"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

1、I have 'active' two listings and  two 'draft' listings, but the v3 APi getListingsByShop  does not get the data.
2、My store is in development mode, but why is my store in holiday mode again? Is this the reason why I can't get the data? If so, how can I get the data? I  think the developer a

[2022-06-09 10:57] amitshuklaCedcoss commented on #494
@etsyachristensen can u make it little more clear that this new index (**max_values_allowed**)  will only work when any attribute is **is_multivalued**  or it will ve applied always?
![image](https://user-images.githubusercontent.com/25526103/172820669-1d5d4b71-0a34-4d37-865e-8fbc402f0b64.png)

thanks

[2022-06-09 16:21] #487 closed

[2022-06-10 00:40] mwashington2022 commented on #467
@kmcdermott17 [kmcdermott17](https://github.com/kmcdermott17)
@etsyachristensen
Thank you for your messages.

We have sent many many email messages though never received any reply except for the first automated-we-received-acknowledge reply and then nothing and that is weeks ago....
It is very disconcerting as we have a strong business case, and ready to provide all our customer =s with ETSY acces

[2022-06-10 07:59] Gareth064 commented on #467
Just to chip in my two cents here about emailing the developers email address.

That first automated response you get back from them gives you lots of info to try to get you to do some self help. BUT it says that you need to respond to that email if you want the team to continue to look into your original query.

If you don't respond to it then I think they never actually see your original query.

[2022-06-10 14:56] nikolajevs86 opened #504 "[BUG]: Cannot get user shops list"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

We cannot get shops list of some users. For example, for user: 648736420 it returns an error:
{
    "error": "Could not find a shop for user with user_id = 648736420"
}

It seems like the store does not exist at all or the store is the draft state.
Is it possible to know what is the reason an

[2022-06-10 19:18] kmcdermott17 commented on #467
@mwashington2022
Gareth064 is correct. If you are needing additional help be sure to reply to the initial informational email you receive. I’ll also reach out to our support team to ensure you get a response to your most recent email. They will be able to discuss any details regarding your app with you directly.

[2022-06-13 18:07] etsyachristensen commented on #10
As an initial first step, we have implemented the new endpoint `updateShopReceipt` with the ability to mark a receipt as paid or shipped. See documentation: https://developers.etsy.com/documentation/reference#operation/updateShopReceipt

Future development on this endpoint may come later. For the moment, this is meant to bring this feature on par with V2's updateReceipt endpoint.

[2022-06-13 18:49] SEPAHL commented on #10
Hi Andrew, god work. Will there be the possibility to ad a comment/message for the buyer along with the update? This would be very helpful for good customer care...

[2022-06-14 00:44] npike commented on #146
Has there been any changes on this?

[2022-06-14 06:00] amitshuklaCedcoss opened #505 "[BUG]: error when deleting outdated ListingProperty"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

There was a problem with /attributes : Attributes not valid for property

[code]

### Steps to reproduce

- previously item published on `[taxonomy_id] => 1005` with attributes

[code]

now when client want to remove these attributes and push some new one then getting error as
`[error] => The

[2022-06-14 15:25] etsyachristensen commented on #459
We finally found the problem! Pesky typing issue in the inventory system. We've made a correction and it is now live. Please let me know if it still gives you errors.

[2022-06-14 15:28] #459 closed

[2022-06-14 15:51] etsyachristensen commented on #503
I just checked our system and we show the shop `35072348` as being closed with no listings. Are you sure that id is the shop id or could it be the user id?

[2022-06-14 16:08] etsyachristensen commented on #502
I am not sure I'm following, but if you include a value_id, the system will always prioritize the id over the value string as this is a more precise identification.

We did discover on June 9 that there was some cross-talk in our caching system from our development environment into production so it's possible you saw some value ids that were actually ids from development and not from production. T

[2022-06-14 16:15] etsyachristensen commented on #491
@amitshuklaCedcoss is this still an issue for you or are you able to confirm via the API that the data is in fact stored after you update the listing?

[2022-06-14 16:20] yovasx2 commented on #502
let me clarify, there are 2 types of properties with scale those with predefined values (size in dresses taxonomy) and those that are open (no predefined values, infinity of possibilities) like length, width, etc. When I send a value_id in an open property the value is not correctly set, you can appreciate that in the response above, where scale_name is null (**"scale_name": null**). I notice the

[2022-06-14 16:24] etsyachristensen commented on #489
We truly appreciate your interest in Pattern. We are evaluating the feedback and are considering it as part of our product roadmap.

[2022-06-14 16:24] #489 closed

[2022-06-14 16:29] etsyachristensen commented on #502
Ah ok now I follow. Give me some time to figure through this. It will likely involve getting another team involved.

[2022-06-14 16:31] yovasx2 commented on #502
the result of the property in the state above: "scale_name": null, is it's not rendered in shop manager

[2022-06-14 16:44] yovasx2 commented on #459
seems to be working for a couple of the mentioned products, thanks a lot

[2022-06-15 16:51] NathanConroyOrd opened #506 "[DOCS]: Listing Response State Field Enum Unclear"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developers.etsy.com/documentation/reference#operation/getListing

### What would you like to change?

For the 200 response schema for the
[code]
endpoint, the docs say this about the `state` field:

[code]

There are two sets of `state`s here: `"active" "inactive" "sold_out

[2022-06-15 17:07] etsyachristensen commented on #506
Sorry for the confusion @NathanConroyOrd . Our documentation on this version of the API can be confusing. It's auto generated from our code and we are still fine tuning somethings. We re-used field strings on some of these so in a GET you may seem notations like this that actually pertain to the PUTs and see fields saying they are required on the GET statements when those are the returned fields.

[2022-06-15 20:34] etsyachristensen commented on #502
Ok so this can be confusing. It is for me as well. We have two types of properties: `continuous` and `discrete` which you have referred to as "open" and "predefined" respectively.

For the Etsy web UI, essentially what we do to determine if the property/attribute is continuous (such as length) we check to see if the `scale` is empty (or null) and if the `possible_values` is empty. If this is the c

[2022-06-16 15:43] daryayermakova commented on #504
@etsyachristensen Thanks for your description.
We would like to know a bit more. Before certain time draft shops were returned in the response. Could you say when it was changed and for what purpose? Or was it for v3 always?
And when you say `disabled` do you mean draft shop (shop with not finished first activities to be active, like add payment and so on)?

Additional user id example for checking

[2022-06-16 16:59] samborambo305 commented on #302
@etsyachristensen Do you know if there's a way to generate a URL to a listing given a Product_id or listing_id?

[2022-06-16 17:32] etsyachristensen commented on #504
@daryayermakova I just checked that other user id. It does have a shop but it has not yet been confirmed:
![image](https://user-images.githubusercontent.com/83842847/174128370-756de050-bc84-40d3-bd2f-f3d4b4683aa3.png)

I've checked our code and there has not been any change to the system for returning shops. I am able to call `getShop` on both of those two shops: 36116546 (user id 648722366) and 6

[2022-06-16 17:36] Gareth064 commented on #302
Should be pretty easy using the listing_id.

I think the URL is standard across the board for listings. Just append the listing_id on the end of this URL

https://www.etsy.com/uk/listing/{listing_id}

[2022-06-16 18:56] etsyachristensen commented on #302
There's no way with just a product_id, but with the listing_id yes as @Gareth064 said, just take the base url for your region, such as uk in Gareth's example or just https://www.etsy.com/listing/{listing_id} for the US. The rest of the URL you see in the Etsyweb is really there for SEO and tracking metric stuff. You can do it with just the listing_id.

[2022-06-16 21:14] etsyachristensen commented on #430
Sorry for the delay. I just tried to look up that ID (27068452) and that shop has no apps attached. I'm not sure how you even got that error message given the shop owner hasn't authorized any apps.

[2022-06-16 21:45] yovasx2 commented on #403
hey @etsyachristensen i will take your advice to mirror the current shipping_profile_id when it's custom, but I found a weird inconsistency in the API, the shipping ids are different for some listings, we are taking into consideration the one at product level:

by hitting: https://openapi.etsy.com/v3/application/listings/1036178158?includes=shipping
the response is:

[code]

Where u can see 2 diff

[2022-06-16 22:01] yovasx2 commented on #502
That depends on the property but they appear normally above holiday and occasion fields
I named it length but it could be whatever continuous property Sleeve Length and Hem Length may work to call the API to set the scale_name as null

[2022-06-17 05:34] amitshuklaCedcoss commented on #430
may be client had removed my app from shop, but I'm still able to call [getShop](https://developers.etsy.com/documentation/reference/#operation/getShop) , [getShopProductionPartners](https://developers.etsy.com/documentation/reference/#operation/getShopProductionPartners), [getListing](https://developers.etsy.com/documentation/reference/#operation/getListing) etc.

please try once again to check t

[2022-06-17 10:40] daryayermakova commented on #504
@etsyachristensen
If I execute query to `GET {{baseUrl}}/v3/application/users/648722366/shops` I get the error response
[code]
But the request `GET {{baseUrl}}/v3/application/shops/36116546` returns the shop data

[2022-06-17 16:32] etsyachristensen commented on #504
Ok this is fixed!

[2022-06-17 16:32] #504 closed

[2022-06-17 16:36] etsyachristensen commented on #403
Ok I believe this issue is now fixed @yovasx2 . Please check it out. I think the issue came up from a different supposed fix that didn't end up fixing the problem. Well masked though. Anyway, just check it out and let me know if this clears up the issues.

[2022-06-17 16:36] #403 closed

[2022-06-17 16:40] #447 closed

[2022-06-18 11:16] Gareth064 opened #507 "[getListing]: Make the Inventory > Product > Property Values less complex"
### Is there an existing issue for this?

- [X] I have searched the existing tickets

### Current Endpoint Design

Property values are split into 2 arrays "value_ids" and "values"

![image](https://user-images.githubusercontent.com/22307223/174435181-8b96f9a5-66c6-4540-97ab-43beb3a71d24.png)

### Proposed Endpoint Design Change

Update this to make it less complex and return 1 array of a "Value" o

[2022-06-20 03:10] thisisjake opened #508 "[BUG]: getListingsByShop returning incorrect shipping_profile_id <- on Thursday it was correct."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

getListingsByShop returning incorrect shipping_profile_id, this was functioning correctly on Thursday US time however it is now returning shipping profile ids that are either invalid or at least do not exist on our shop.

As a result of this change, our inventory is no longer updating automat

[2022-06-20 03:22] namlv94 opened #509 "[FEATURE]: I'm trying to get the product attached video"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

_No response_

### Describe the solution you'd like

I'm trying to get the product attached videoI'm trying to get the product attached video but can't find that in the API. Am I missing something or not?

### Describe any alternatives you've con

[2022-06-20 03:23] thisisjake commented on #403
@etsyachristensen I believe the changes made here might have caused what I've described in https://github.com/etsy/open-api/issues/508 (I created a new issue as its a different issue to what is described in the title of this issue).

These changes have broken our inventory updating process.

[2022-06-20 12:27] amitshuklaCedcoss commented on #491
seems this concern is resolved now, no new sellers reported in last 2 weeks.
thanks @etsyachristensen

[2022-06-20 15:24] etsyachristensen commented on #508
@thisisjake I have a fix for this, but it needs to be tested. It may not go out into production until tomorrow.

[2022-06-20 17:58] etsyachristensen commented on #403
@thisisjake You are correct. @yovasx2 The fix that *should* have been done last week (that I messed up on) should be in production tomorrow (June 21).

[2022-06-20 18:11] etsyachristensen commented on #491
Ok thank you. I'll close it for now. If it comes up again, please comment.

[2022-06-20 18:13] etsyachristensen commented on #509
No you aren't missing anything. At the moment, the OpenAPI does not support the product video functionality. We hope to build this out soon.

[2022-06-20 18:14] #509 closed

[2022-06-20 18:22] etsyachristensen commented on #507
That would actually be really great @Gareth064. I don't know if this is doable at this time, but I'll certainly pass this up to our team that handles the inventory system. Would love to have it this way though as it makes it more clear what id goes to which value.

[2022-06-20 20:09] yovasx2 opened #510 "[BUG]: getListingByShop is returning duplicated listings and the shop manager is reflecting this wrong number"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

By hitting getListingsByShop (https://developers.etsy.com/documentation/reference/#operation/getListingsByShop)
I get the next products twice in the 3 pages:
[code]

the endpoint is saying there are 271 listings but after filtering duplicates vela gets 258, for example 1236565350 appears with

[2022-06-20 22:30] yovasx2 commented on #510
further details:
apart form the duplication spotted above, we also noticed there are some products in etsy not deliver through the endpoint mentioned above:

here is the list:
| title  | listing_id  |
|---|---|
 | 80 Years Loved Birthday White Gold Forever Love Necklace | 1250496465 |
 | A Lifetime with You Is the Best Gift White Gold Forever Love Necklace | 1250496485 |
 | All You Need Is Love Wh

[2022-06-20 23:45] thisisjake commented on #508
@etsyachristensen thank you.

[2022-06-21 11:38] zubairyou opened #511 "[BUG] CreateDraftListing failing with images array_too_short:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developers.etsy.com/documentation/reference#operation/createDraftListing

### What would you like to change?

I am having this error while creating the listing [
    {
        "path": "/images",
        "type": "array_too_short",
        "message": "cannot be less than 1 it

[2022-06-21 14:14] zubairyou commented on #511
![image](https://user-images.githubusercontent.com/17173019/174821468-36ce99ca-3e59-431b-aa21-a30f032b9a36.png)

[2022-06-21 14:16] zubairyou commented on #511
@etsyachristensen above for your reference how I am calling this API .

[2022-06-21 14:18] etsyachristensen commented on #511
@zubairyou You need to check `is_supply` and set to either true or false. If `when_made` and `who_made` are included, `is_supply` must be included. If any of those 3 are included all three need to be provided.

[2022-06-21 16:55] #507 closed

[2022-06-21 16:58] etsyachristensen commented on #508
This should be corrected now @thisisjake .

[2022-06-21 16:58] #508 closed

[2022-06-21 17:46] etsyachristensen commented on #502
Ok sorry for the delay on this.

On that listing, when I go to edit in shop manager, I see the Sleeve Length and Hem Length as drop-down values. The values being passed in are those that you are feeding into the property via the OpenAPI. Are you saying that you are getting incorrect values in that property on the Etsy UI?

As for the scale name being null, I'll look into that one. Scale 5 is "Inch

[2022-06-21 18:04] assaflei commented on #507
Hi @etsyachristensen,
The new addition seems to break the update api
I now suddenly get this message when updating inventory:
Array contains invalid keys: value_pairs

Can you advice?

[2022-06-21 18:24] etsyachristensen commented on #507
It *shouldn't* be a breaking change. I guess your process is different. I'll update the notes. We can't make the change on the server-side at the moment.

[2022-06-21 18:31] etsyachristensen commented on #507
When being used to update the inventory or property values yes.

[2022-06-21 18:51] assaflei commented on #507
I'll work on a hotfix...

I must say that I truly think that if an API (https://developer.etsy.com/documentation/reference/#operation/updateListingInventory) stops working due to **this** change, it means its a breaking change and it needs to be fixed at the backend
If I field is only meant for ease of read or usage, it shouldn't be relevant to any sanitization during listing updates

[2022-06-21 18:55] etsyachristensen commented on #507
It seemed like such as simple addition that would only help. I hadn't anticipated the affect on updating inventory. It passed all our tests but we already have our tests setup to pass in the correct information. I don't know if other developers are using the same flow you are (pulling inventory and re-posting it) or if they are just assembling it each time. I'll continue to monitor. If we see a sp

[2022-06-21 21:10] etsyachristensen commented on #507
Ok great thanks @assaflei. Sorry for the trouble!

[2022-06-21 23:15] yovasx2 commented on #502
Not really, it was having a blank value in the dropdown (but API was having a value, I think shop manager cannot render it because scale_name and scale_id are null).

The problem is produced when I sent value_ids with content and the property is discrete all works properly (for that case) but if I sent value_ids with content (even the ids from the get endpoint) and the property is continuous the r

[2022-06-21 23:17] etsyachristensen commented on #502
Ok now I think I get it. Thanks for the clarification. I'll work with our teams to figure out what's going on.

[2022-06-21 23:24] yovasx2 opened #512 "[BUG]: scale_id is not correctly set in updateListingInventory endpoint"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When you sent a scale to the endpoint updateListingInventory it's sometimes not updated or returned with null fields

### Steps to reproduce

Hit updateListingInventory endpoint (https://openapi.etsy.com/v3/application/listings/1206331996/inventory) with:
[code]

response:
[code]

As u can se

[2022-06-21 23:25] yovasx2 commented on #502
I added this issue seems to be related: https://github.com/etsy/open-api/issues/512, scale problems

[2022-06-22 00:41] thisisjake commented on #508
@etsyachristensen thank you, appears to be functioning correctly now.

[2022-06-22 02:26] VasilVelikov commented on #471
Hi @etsyachristensen ,
Sorry for the late reply but I have missed your message.

To reproduce send PUT request to https://openapi.etsy.com/v3/application/shops/22006962/listings/1234181138 with body with the following data:

- 'title' : 'Happy Halloween Tumbler, Halloween Png, Skinny Tumbler Svg, Best Selling Png, 20 Oz Tumbler Wrap'
- 'description' : 'Happy Halloween Tumbler, Halloween Png, Skinn

[2022-06-22 08:59] namlv94 commented on #471
i still get this error too. Looks like it's still unresolved

[2022-06-22 09:58] ravi18969 opened #513 "[BUG]: [Etsy] Receipts API response updated_timestamp is not getting updated when there is an update on refund"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have created one order and after that I'm processing partial refund on it. The next day again I have processed partial refund on the same order. However when I checked through the receipts API the **updated_timestamp** has not been updated.

For reference please check with the below endpoin

[2022-06-22 14:28] VasilVelikov commented on #471
It is hard to experiment on my side because these are third party listings and I can't risk changing them by mistake.
However, I am 99% sure that the change doesn't go through and a subsequent getListing would return unchanged values.

[2022-06-22 15:09] #471 closed

[2022-06-22 16:22] etsyachristensen commented on #513
This is actually expected. The receipt object itself doesn't change. The refund doesn't change the original receipt object. You can see a created_timestamp in the refund array of the receipt object.

[2022-06-22 17:26] etsyachristensen commented on #512
@yovasx2 Where did you find the scale_id of 338? We don't have that in our scales list so I wanted to figure out where you're getting it.

[2022-06-22 22:41] matteogiani opened #514 "[FEATURE]: Coupon / Discount Codes"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

I need the Coupon creation and update endpoint available in v2 to be available in v3 of the API in order to be able to create, update and delete coupon codes for a specific shop.

### Describe the solution you'd like

Implement the coupon endpoin

[2022-06-23 06:40] ravi18969 commented on #513
In our requirement we fetch receipts from a particular time based on the updated_timestamp. So even if there are any changes in receipt we fetch it again and update mapping at our end with all the values.
The Problem is if this updated_timestamp is not updated when there are any changes in refund then we will miss those receipts and we won't be able to update refunded amount and might calculate wr

[2022-06-23 12:01] diogogomeswww commented on #263
@etsyachristensen Can you please confirm that the `getSellerTaxonomyNodes` returns all Taxonomy IDs?
I'm getting 15 results back, 15 top-level Taxonomies. is that all?
I've tried adding offset, page, and limit, nothing changes the results.

BTW: I think it would be nice and simple to have a query parameter:
- max_level = 1,2,3... => so we could only retrieve the X top level taxonomies

[2022-06-23 12:57] etsyachristensen commented on #263
@diogogomeswww Yes. `getSellerTaxonomyNodes` will return 15 top level categories. Everything else is sub-category to that. There are a total of about 3200 categories. Sorry we don't have an input like that. Due to the complexity of the taxonomy, it's unlikely to be implemented.

[2022-06-23 13:00] etsyachristensen commented on #514
At the moment, the Coupon/Discount features are considered retired. This isn't necessarily permanent, but it was not considered for the V3 migration. We do have this on the board as something to discuss so it may come out of retirement.
https://developers.etsy.com/documentation/migration/retired-resources

[2022-06-23 13:00] #514 closed

[2022-06-23 13:05] etsyachristensen commented on #511
@zubairyou Were you able to resolve by including the `is_supply`, `when_made` and `who_made`? I'm hoping to look at this more today. Please let me know.

[2022-06-23 13:23] diogogomeswww commented on #263
@etsyachristensen thank you! Just want it to make sure that I was not missing taxonomies. Thank you.

[2022-06-23 19:31] zubairyou commented on #511
@etsyachristensen Yes issue has been resolved after updating my profile information updating the card details. Thanks for your help

[2022-06-24 12:14] ravi18969 commented on #513
@etsyachristensen thanks for quick reply and it will be very helpful if this will be resolved on priority. Otherwise to get latest refunds receipts we have to make multiple API calls.

Sequence of APIs call
1.  getShopPaymentAccountLedgerEntries  --> Passing all these enteryIds to next API call to get payment adjustment
2. getPaymentAccountLedgerEntryPayments --> get unique receipts from the respo

[2022-06-24 13:28] #511 closed

[2022-06-24 17:07] etsyachristensen commented on #510
@yovasx2 We found the issue and have posted a fix.

[2022-06-24 17:07] #510 closed

[2022-06-24 17:54] yovasx2 commented on #510
I checked the shops that report this and seems to be fixed, thx a lot for your help :)

[2022-06-25 07:00] VasilVelikov commented on #471
This is great, everything works as expected now. Thanks for the quick fix!
P.S. I love your continuous deployment flow :)

[2022-06-25 20:45] gokhur opened #515 "[FEATURE]: Sales Currency Request"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

If we can see sales currency it will be perfect for the invoice automation, for example we are using CSV (Etsy Payment Sales CSV) file to fetch sales currency so we can not automate the invoice system.

### Describe the solution you'd like

Sales

[2022-06-27 17:49] NathanConroyOrd opened #516 "[DOCS]: "Edit" Listing State"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developers.etsy.com/documentation/tutorials/listings#listing-lifecycle-and-state

### What would you like to change?

I would like to see the `edit` listing state to be described in the docs.  I don't see it in the Listings Tutorial and I don't see it in the listing state e

[2022-06-27 21:19] MSiUK2021 opened #518 "[DOCS]: How to derive receipt_id from order_id (https://www.etsy.com/your/orders/sold/new?order_id=2121xxxxx)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developers.etsy.com/documentation/reference/#tag/Shop-Receipt

### What would you like to change?

An explanation on how to get the receipt_id from a given order_id.

### Why are you proposing this change?

Would be helpful to anyone who wants to get the details of a specif

[2022-06-27 22:12] Gareth064 commented on #518
Hey @MSiUK2021 - I'm pretty sure that Order_id (from the website) is the same as the Receipt_id from the API.

[2022-06-28 13:55] etsyachristensen commented on #465
@NSaikevych We have added support for Courier Express to the shipping companies.

[2022-06-28 13:55] #465 closed

[2022-06-28 14:00] etsyachristensen commented on #518
@Gareth064 is correct. order_id is the same as receipt_id.

[2022-06-28 14:00] #518 closed

[2022-06-28 14:03] amitshuklaCedcoss opened #519 "[BUG]: invalid_token error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

getting invalid token when calling any API like  [getShopReceipts](https://developers.etsy.com/documentation/reference#operation/updateShopReceipt)

[code]
then when trying to refresh token **[Requesting a Refresh OAuth Token](https://developers.etsy.com/documentation/essentials/authenticatio

[2022-06-28 14:33] etsyachristensen commented on #519
@amitshuklaCedcoss A security change was made to the core of Etsy system on June 15th. If a user changes their password, it invalidates all tokens. This is an intentional change.

I found out about this yesterday and we are working through the issue. But for the moment, you'll need to ask your users that face this issue to re-validate your app.

[2022-06-28 15:54] Gareth064 opened #521 "[DOCS]: Documented Translation Schema doesn't include "compliance_summary""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://www.etsy.com/openapi/generated/oas/3.0.0.json

### What would you like to change?

When translations are returned with a Listing (the only endpoint i've used so far) there is a string called "compliance_summary" in the results. But this isn't mentioned anywhere in the Docs

[2022-06-28 18:22] etsyachristensen commented on #503
@superxaiogu and @NickSealer I believe the issue is that your shops are set to "Not Searchable" as requested by the shop owners. The "find" endpoints use our search mechanism so you can pass in keywords. If you simply need to list all the listings for the shop that are active you can use the `getListingsByShop` endpoint here: https://developers.etsy.com/documentation/reference#operation/getListing

[2022-06-28 18:27] etsyachristensen commented on #521
That should not be there. I'll see about removing it.

[2022-06-28 18:29] etsyachristensen commented on #515
@gokhur I'm not sure I follow completely what you are looking for.

The OpenAPI doesn't have any CSV option so I'm not sure where you're getting that data.

[2022-06-28 18:58] #503 closed

[2022-06-29 16:32] Allen209 opened #522 "[BUG]: getUser returning NULL first_name & last_name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

A few months back, I updated my V2 openapi.etsy.com/v2/users calls to use the V3 getUser endpoint. It worked fine for months. As of 6/23/22, the V3 getUser endpoint started retuning NULL for the first_name & last_name.

### Steps to reproduce

[code]

Here is a snippet of the response

[code]

[2022-06-29 20:32] NathanConroyOrd opened #523 "[DOCS]: updateListingInventory changes offering_id and product_id"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developer.etsy.com/documentation/reference#operation/updateListingInventory

### What would you like to change?

In requests to your `updateListingInventory` endpoint, I've seen listings' `product_id`s and `offering_id`s change as a result. Is this expected behavior?

I cou

[2022-06-30 15:44] etsyachristensen commented on #523
Correct. The product_id and offering_id change with each update. This is intentional because we have to maintain history of inventory changes. I apologize that it's not documented. I'll add this as a task to take care of.

[2022-06-30 15:46] etsyachristensen commented on #522
The endpoint was changed to secure the user data. When you call getUser, if you are requesting a user other than the user that is oauthed, the personally identifiable information will be redacted.

[2022-06-30 15:46] #522 closed

[2022-06-30 20:01] NathanConroyOrd commented on #523
If SKUs are not set for each of a listing's variations, is there any persistent, unique identifier for products and offerings?

[2022-06-30 20:05] NathanConroyOrd commented on #523
Also, if a store changes the quantity of a listing's variations in the store's admin page, does this change the `offering_id` and `product_id`s associated with the listing?

[2022-07-01 16:15] yugri opened #524 "[DOCS]: Open API v3 - property value update"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developers.etsy.com/documentation/reference#operation/updateListingProperty

### What would you like to change?

I want misleading OpenAPI documentation to be changed.

REQUEST BODY SCHEMA: `application/x-www-form-urlencoded`
needs to be changed to
REQUEST BODY SCHEMA: `app

[2022-07-01 18:17] AWAlemu commented on #523
My team observed that `property_value` `value_ids` also change, in addition to `product_id` and `offering_id`, after each request submitted to the `updateListingInventory` endpoint.

---

The behavior of `updateListingInventory` is a major breaking change with significant impact on the ecosystem of solutions that support Etsy sellers.

In addition, this hinders interoperability with Etsy, which li

[2022-07-01 21:07] DevBrent commented on #523
@etsyachristensen This is a major, breaking, and undocumented change and I hope your team will reconsider. The impacts to some sellers will be catastrophic in terms of hours or days spent rewiring their Etsy catalog to workaround this new behavior.

We've noticed the behavior has changed over the last week and hope that identifiers can stay stable but we're quite scared for our Etsy sellers right

[2022-07-01 21:38] DevBrent commented on #523
Maybe Etsy can clarify how their checkout works when a quantity update is made part-way through checkout? Is the cart abandoned or do they have a Krabby Patty formula to re-map and item associated with a now-dead offering_id, product_id, and product_value value_ids.

[2022-07-01 21:44] DevBrent commented on #512
We're seeing product_id, offering_id, and property_value ids all change when using updateListingInventory in #523

[2022-07-01 21:46] DevBrent commented on #505
We're seeing product_id, offering_id, property_id, and property_value ids all change when using updateListingInventory to change quantity/price in #523 the dev's say it's expected???

Maybe the property_id is changing on you between your first and second API call?

[2022-07-01 21:51] DevBrent commented on #523
Related? https://github.com/etsy/open-api/issues/405#issuecomment-1109885797

[2022-07-01 22:59] mfarooq925 commented on #311
@etsyachristensen is there an update on this?

I tried: curl --location --request PUT 'https://openapi.etsy.com/v3/application/shops/24055913/listings/1078113827?item_weight=40&item_weight_unit=oz'

and the response shows that the weight remains unchanged
{
   ...
    "item_weight": 22,
    "item_weight_unit": "oz",
    "item_length": 10,
    "item_width": 10,
    "item_height": 1,
    "item_dimen

[2022-07-02 13:56] Esatyilmaz0 opened #525 "updateListingInventory Problem"
Hi, I'm trying exactly 8 hours and I can't update the products sku in my listings how can I update it? missing error input parameter: products

Test Json:

{"products": [{"sku": "", "offerings": [{"price": 1200.0, "quantity": 1, "is_enabled": true}], "property_values": [{"property_id": 200, "property_name": "Primary color", "scale_id": null, "value_ids": [51995096597], "values": ["Beige"]}]}, {"sk

[2022-07-02 21:00] assaflei opened #526 "[BUG]: Error 500 message when using getShopByOwnerUserId"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When calling [getShopByOwnerUserId](https://developer.etsy.com/documentation/reference/#operation/getShopByOwnerUserId) api for a user that doesn't have a shop, the call returns a server error ({"error":"Server Error"})

User id for example: 658470679

### Steps to reproduce

Invoke getShopBy

[2022-07-03 18:24] KushGoyal opened #527 "[FEATURE]: Add includes=Transactions param for receipts get APIs"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

I reach the API rate limits because to save a receipt I have to fetch the transactions in a different requests. I see that listings can be fetched with an `includes` param which is supper convenient. If you can add `includes=Transactions` param f

[2022-07-03 20:06] chanpory commented on #507
Just looked at my Etsy store to see why many of my items were "sold out", even though I had been using the API to update quantity. Checked my logs and saw a bunch of errors that say `Array contains invalid keys: value_pairs`.

This was quite frustrating since I was losing some sales. Shouldn't the API just ignore invalid keys? Updating quantity for a listing is already cumbersome as it is using th

[2022-07-03 22:38] Gareth064 commented on #527
You don't need to use an include with getShopReceipt or GetShopReceipts, as it already returns the transactions in the response.

Here is a snippet of the response documentation show there is an array of transactions returned.

![Screenshot_20220703-233528.png](https://user-images.githubusercontent.com/22307223/177059521-58efa2f7-dd80-4452-ada6-abf6c14f1611.png)

[2022-07-04 08:12] KushGoyal commented on #527
I missed this when checking the docs. Thanks for the information. V3 api has improved the experience greatly. On a side note the update inventory request which needs the whole inventory object in a mess. If only the quantity needs to be changed the request should be simpler. I will check the docs open a separate issue for this.

[2022-07-04 08:12] #527 closed

[2022-07-04 08:24] wild-arctic-fox commented on #89
+100000

[2022-07-04 17:25] sampok commented on #140
Closing as `Shipping` is now one of the supported includes 🎉.

[2022-07-04 17:25] #140 closed

[2022-07-04 18:03] sampok opened #528 "[FEATURE]: Endpoint for recently ended listings"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

The problem is that [the real-time feed v2 API](https://www.etsy.com/developers/documentation/getting_started/real_time_feeds) has not been implemented for v3 yet. It seems that the team is evaluating whether to implement real-time feed for v3. H

[2022-07-05 08:48] amitshuklaCedcoss commented on #381
@etsyachristensen any plan for this implementation, getting many requests for these points, it was very useful in V2 version.

[2022-07-05 13:24] etsyachristensen commented on #523
Sorry all. I was out of office on Friday and yesterday. I'm not sure I follow as to the breaking change. To my knowledge nothing was changed. I will check in with our other teams to see if anything was pushed that would cause a change.

[2022-07-05 13:55] etsyachristensen commented on #507
@Gareth064 I may need to revert this change. It seems to be causing more issues than it's solving. It may have to be done in a new endpoint or something. @assaflei will reverting this break the work you did to account for the change? I don't want to break something new by taking this out.

[2022-07-05 14:01] etsyachristensen commented on #523
Yes I believe it will. Again, this has to do with maintaining a snapshot of a listing's inventory at any given time.

[2022-07-05 15:03] etsyachristensen commented on #528
@sampok Are you proposing to get all listings - regardless of who owns them - that have gone inactive? We can't do this unfortunately. If your app is querying on behalf of the shop owner you should be able to get this from the `[getListingsByShop](https://developers.etsy.com/documentation/reference#operation/getListingsByShop)` endpoint by using "inactive",  "sold_out" or "expired" as the state an

[2022-07-05 16:12] Gareth064 commented on #523
The next big feature in my app was going to be inventory management but from reading through this issue I am really reluctant to even start to try to implement this.

We definitely need a static Id for each listing/variation that we can use to sync with the app. Like others have said, unless Etsy makes the SKU a mandatory field (and somehow forces every seller to retrospectively update all their l

[2022-07-05 16:14] assaflei commented on #507
Hi @etsyachristensen it will require a small adjustment I will update
Thanks for notifying

[2022-07-05 16:16] etsyachristensen commented on #507
OK Ill get the revert process started shortly and get it into production probably in the next hour or two.

[2022-07-05 16:38] AWAlemu commented on #523
@[etsyachristensen](https://github.com/etsyachristensen) The behavior change is between the V2 updateInventory and V3 updateListingInventory APIs.

Unlike the V2 updateInventory API, we've observed that the V3 updateListingInventory changes the `offering_id`, `product_id`, or product `property_values` `value_ids` as well as `value_pairs` `id`.

Below is an example JSON diff screenshot that shows c

[2022-07-05 16:50] sampok commented on #528
Yes, I meant all listings by specific taxonomy ids.
If you implement the real-time feed for v3, that solves the problem, but I was thinking this could we an easier option and serve the same purpose. Can you share about your plans for the real-time feed v3?

[2022-07-05 16:56] etsyachristensen commented on #528
At this point all I can say is that it's in discussion. We haven't decided on when/how/if it will be implemented.

[2022-07-05 17:18] etsyachristensen commented on #507
Ok this change is reverted. Sorry for the problems everyone.

[2022-07-05 17:18] #528 closed

[2022-07-05 17:21] etsyachristensen commented on #526
@assaflei When I try to call that endpoint with your example id, I get a 404 error:
[code]

[2022-07-05 17:42] NathanConroyOrd opened #529 "[DOCS]: Is it possible for a variation to have multiple offerings?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developers.etsy.com/documentation/tutorials/listings/#listing-inventory-with-different-properties-quantities-and-prices

### What would you like to change?

In the v2 API, products and offerings have a 1:1 relationship: https://www.etsy.com/developers/documentation/getting_

[2022-07-05 17:55] etsyachristensen commented on #524
@yugri I don't know the language you are using for the code above, but if I'm reading this correctly, you are sending an actual array. In the case of `x-www-form-urlencoded` you actually should be sending a simple comma delimited list of values or ids. For example:
value_ids = "597, 544, 550, 556, 573",
values = "Beading,Cross stitch,Embroidery,Framing,Needlepoint"

[2022-07-05 18:05] etsyachristensen commented on #523
No this would not be related. This change only had to do with the process of creating an inventory record when creating a listing and with preventing the use of "quantity" and "price" in the updateListing endpoint. it did not change the `updateListingInventory` endpoint.

[2022-07-06 06:40] truonglong commented on #233
hi @neekfenwick , @etsyachristensen
I try as your code, but I can't upload image.

I don't know where your set header in your code. Please teach me. thanks so much

[2022-07-06 08:01] truonglong commented on #233
I resolved it. I set as
`$image_response = $guzzleClient->request('POST', "application/shops/$shop_id/listings/$listing_id/images",
              [
                  'multipart' =>
                          [
                              'name' => 'image',
                              'contents' => fopen($image_url, 'r')
                              'filename' => name.png

[2022-07-06 10:09] qwg0310 commented on #467
@kmcdermott17 @etsyachristensen
Hello, our development team has also encountered the problem of integrating Etsy API. At present, after repeatedly trying to apply for developers, we are waiting for approval every time. Then we wait until the result is rejected, and we don't know why we are rejected. At the same time, we also contact the official Etsy platform through email and other forms. Except

[2022-07-06 10:10] qwg0310 commented on #467
@kmcdermott17 @etsyachristensen
Hello, our development team has also encountered the problem of integrating Etsy API. At present, after repeatedly trying to apply for developers, we are waiting for approval every time. Then we wait until the result is rejected, and we don't know why we are rejected. At the same time, we also contact the official Etsy platform through email and other forms. Except

[2022-07-06 15:03] cvanvlack opened #530 "[DOCS]: Quickstart documentation ambiguous regarding redirect_uri"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developers.etsy.com/documentation/tutorials/quickstart#implement-the-redirect_uri-route

### What would you like to change?

The Quickstart tutorial uses localhost entirely. In the section [Create the client landing page](https://developers.etsy.com/documentation/tutorials/

[2022-07-06 20:20] etsyachristensen commented on #525
I'm closing this for now. If you still have issues, please post your full payload as requested.

[2022-07-06 20:20] #525 closed

[2022-07-06 20:21] #524 closed

[2022-07-06 21:04] etsyachristensen commented on #516
Apologies @NathanConroyOrd. The `edit` state is actually a legacy term we use for `inactive`. It's still used in various places, but essentially it just means that the listing is no longer `active`, but not `sold out` or `expired`. Since you can't move a listing from `active` to `draft`, when you move to `inactive` it goes into that `edit` state. I'll see if we can get this documented somewhere.

[2022-07-06 21:04] #516 closed

[2022-07-07 14:55] etsyachristensen commented on #311
@mfarooq925 I can't duplicate the experience you are having. I tested the same inputs you are sending on a listing and it goes through just fine. Can you test it again?

@yovasx2 I was just going through this and realized you are sending JSON data to the endpoint in postman. That won't result in any change. Also, if the shipping_profile_id points to a calculated shipping profile it won't allow the

[2022-07-07 16:17] etsyachristensen commented on #521
@Gareth064 This has been fixed. That compliance_summary array will no longer appear.

[2022-07-07 16:17] #521 closed

[2022-07-07 19:48] mfarooq925 commented on #311
@etsyachristensen that is odd. I just ran the same curl call and it remains unchanged. I'm using Postman. Are you sending anything else along with the request?

[2022-07-07 20:02] etsyachristensen commented on #311
no I was only sending through those same fields "item_weight" and "item_weight_unit" and using the same values.

what encoding are you using?

[2022-07-07 20:16] mfarooq925 commented on #311
@etsyachristensen
I left Postman's headers unchanged: Accept-Encoding : gzip, deflate, br

[2022-07-07 20:58] mfarooq925 commented on #311
Apologies for the back and forth. But I tried this curl from terminal and am still getting 22oz back in the response.

curl --location --request PUT 'https://openapi.etsy.com/v3/application/shops/24055913/listings/1078113827?item_weight_unit=oz&item_weight=40' \
--header 'x-api-key: KEY' \
--header 'Content-Type: application/x-www-form-urlencoded' \
--header 'Authorization: Bearer TOKEN' \

[2022-07-07 21:32] etsyachristensen commented on #311
Ok I'm looking at that listing in our logs and I don't see any updates with 40 as the item_weight. These are the most recent api logs we have.

| __Timestamp__ | __UUID__ | __Content__                                                                                 |
|---------------------------|------------------------------|-------------------------------------------------------------------------

[2022-07-07 21:33] etsyachristensen commented on #311
Can you give me the full exact response along with headers? (minus your private data of course)

[2022-07-07 21:38] etsyachristensen commented on #311
I see a new update just came through but again it only has the description, no item_weight or item_weight_unit.

[2022-07-07 22:25] samborambo305 commented on #70
@etsyachristensen is there a way to get associate a ledger entry with a receipt? Apparently this was possible in V2. If this is not possible for V3 then from an accounting perspective, my users are not able to know whether or not certain transactions were impacted by marketplace facilitator sales taxes which would artificially boost the revenue component of a receipt.

[2022-07-07 22:41] samborambo305 opened #531 "[FEATURE]: Expose receipt IDs to ledger entries"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

My solutions matches Etsy receipt summaries to deposits made on a user's accounting system, like QuickBooks Online. The V3 API has an end point, getShopPaymentAccountLedgerEntries, which lists the line items of all payouts. However, Etsy lists to

[2022-07-07 22:53] #531 closed

[2022-07-07 22:54] #473 closed

[2022-07-08 00:41] mfarooq925 commented on #311
[etsy.txt](https://github.com/etsy/open-api/files/9068046/etsy.txt)

Please see attached.  My curl does not have any data-urlencoded params

[2022-07-08 13:13] etsyachristensen commented on #311
Thanks @mfarooq925. I don't believe that will work. If you are in Postman, are you putting the inputs in the Params section or in the Body section? If you are putting them in the params, that's why it's generating the `?item_weight=40&item_weight_unit=oz` in the URL. That's not proper form data. You have to put the in the Body tab:
![image](https://user-images.githubusercontent.com/83842847/177998

[2022-07-08 13:36] etsyachristensen commented on #526
Thanks @assaflei. What is the name of your app? I can find it from that I think. Is user 658470679 one of your users?

[2022-07-08 16:27] #70 closed

[2022-07-08 16:51] assaflei commented on #526
The name is shopupz-inventory-sync-app
And yes, its one of my users

Thanks

[2022-07-08 16:57] etsyachristensen commented on #526
I just tested with your key and the oauth 1 token for that user. I get a proper response of the user's shop data. (info redacted below)
[code]

[2022-07-08 16:58] etsyachristensen commented on #526
Here's the full curl (minus the bearer token and key)
[code]

[2022-07-08 20:21] etsyachristensen commented on #523
@AWAlemu, @Gareth064, @NathanConroyOrd and @DevBrent Can you all try the update again and let me know if you're still having this issue? We reverted a change the other day and we're having trouble duplicating it. I think that MIGHT have fixed it. But want to be sure. Thanks!

[2022-07-08 20:41] AWAlemu commented on #523
@[etsyachristensen](https://github.com/etsyachristensen) Thank you for the update! We noticed that the variation identifiers were not changing in our more recent tests.

Is the reverted change permanent? And, can we rely on the understanding that the V3 `updateListingInventory` will not change any of the following identifiers in the future: `offering_id`, `product_id`, or product `property_values`

[2022-07-08 20:43] etsyachristensen commented on #523
The revert is permanent, BUT the product_id and offering_ids will still change. They always have. But the property ids and value ids should not.

[2022-07-08 21:11] AWAlemu commented on #523
Great! Consistent `property_id` and `value_ids` will suffice for our purposes. We can rely on those as permanent variation identifier.

Thank you very much for your help!

[2022-07-08 21:13] Gareth064 commented on #523
@AWAlemu are you syncing listings with your app? If so, then how do you do it with just consistent property_id and value_id?

I'm struggling a bit with this one I think.

[2022-07-08 21:14] NathanConroyOrd commented on #523
In my testing, the `offering_id`s and `product_id`s do not change - as they did not change in v2.

Here's what I'm doing for my testing: I'm essentially copying all the fields from the listing's products. Then I change only the offering quantities. Then I send all that information back in the update request, and the `offering_id`s and `product_id`s do not change.

Will this behavior continue?

[2022-07-08 21:15] etsyachristensen commented on #523
I wouldn't count on it continuing 100% reliably. I think if you change other values in the variants the product_id and or offering_id may change.

[2022-07-08 21:36] Gareth064 commented on #523
Is this idea then when updating a listing, say for example the description, before we make the request we keep a copy of the original product id and when we get a response we can update the whole item completely overwriting what we had, including the product_id?

[2022-07-08 21:36] NathanConroyOrd commented on #523
Thank you @etsyachristensen for you quick responses!

I'm not clear on what you mean. Can you elaborate? Is it simply that changing other aspects of products may change the `offering_id`s and `product_id`s. Or do you mean that -- in the future -- inventory-only updates may change the identifiers?. What kinds of updates change the IDs and what will keep them the same?

[2022-07-08 21:42] etsyachristensen commented on #523
@Gareth064 yes if you want to use the product id or offering id as the keys, yes you could do it that way. I would say store the id you want to use locally on your system. Then, when you do an inventory update, you can update that with the new id (if applicable).

[2022-07-08 21:44] etsyachristensen commented on #523
@NathanConroyOrd I've seen product and offering ids change for various reasons - all having to do with adding/removing variations and offerings. They should only change when making calls to the updateListingInventory endpoint. Updating the listing itself won't cause the ids to change.

[2022-07-08 21:49] AWAlemu commented on #523
@[Gareth064](https://github.com/Gareth064) We merge all the `value_ids` of a product's `property_values` into a single array, sort and CSV concat them to form a unique identifier.

And, we do something similar with order transaction variations' `value_id`.

This is less than ideal, but it has been reliable for us.

Over the years, Etsy has made advancements such added things such as support for SK

[2022-07-09 20:19] assaflei commented on #526
@etsyachristensen
Interesting, I think there is a different behavior here

For this specific shop a bearer token is required
For other shops I use this method without the bearer, only with the x-api-key field and it works
Only this shop returns an 500 error

Looking at the [documentation](https://developer.etsy.com/documentation/reference/#operation/getShopByOwnerUserId) there is no need to provid

[2022-07-09 22:34] Gareth064 commented on #526
Does it matter that @assaflei is using _openapi.etsy_ in his url?
![image](https://user-images.githubusercontent.com/22307223/178124699-a6edd5d0-1c11-489c-8e90-4ad5dc93e722.png)

Where @etsyachristensen is using _api.etsy_
![image](https://user-images.githubusercontent.com/22307223/178124736-00eac298-aa79-4ef8-9e14-8b6bb50eda89.png)

[2022-07-11 02:33] namlv94 opened #532 "[ENDPOINT]: Proposed design change for getListingsByShop"
### Is there an existing issue for this?

- [X] I have searched the existing tickets

### Current Endpoint Design

for api v2 we can get the entire information of a product in one request using Associations. for api v3 can there be a similar design or not?

### Proposed Endpoint Design Change

can get all information like images, inventory, properties ... in one request

### Why are you proposing

[2022-07-11 08:56] namlv94 opened #533 "[BUG]: uploadListingImage display order is reversed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

uploadListingImage display order is reversed

### Steps to reproduce

uploadListingImage display order is reversed

### Expected behavior

uploadListingImage display order is reversed. although I can reverse engineer my list before importing to etsy. But I don't know if it's a bug or a change

[2022-07-11 14:19] etsyachristensen commented on #533
When you are uploading, I assume you are doing one after another correct? What are you adding for `rank`? Each time you upload you should pass in the appropriate value for `rank` from 1 on up (where rank 1 is the first image). If you don't include rank or you always pass in 1 for rank, it will use the most recent upload as the primary image.

[2022-07-11 14:24] #532 closed

[2022-07-11 14:24] #530 closed

[2022-07-11 15:38] namlv94 commented on #533
I assign a rank to each image. Start from 1 and increase gradually

[2022-07-11 17:02] etsyachristensen commented on #526
@Gareth064 No the urls are interchangeable.

@assaflei For good practice, if you have a token for the current user you should include it in any api call you make (whether required by the endpoint or not) because it will help with your api call rate limits. Without the token the calls count against your app's maximum, but with the token it will count against that user's token. However, that's not r

[2022-07-11 18:31] assaflei commented on #526
Thanks for the update, it all makes sense, I'll update the logic on my side
Maybe you should include this input on the reference as well, which currently suggests putting api-key only in several api calls
Also great tip regarding avoiding quota limitation!

[2022-07-12 09:40] namlv94 commented on #532
Thank you very much for clarifying this issue for me. There's one more problem that I find lacking compared to api v2. It is related to getShopReceipts. Will I be able to get the Listings field like in v2? If not, can you add the has_variations field to the transaction?

[2022-07-12 13:55] etsyachristensen commented on #532
We can't add the Listing object to the receipt, or even the listing id. The reason being is that a single receipt could cover multiple listings. The `getShopReceiptTransaction` and `getShopReceiptTransactionsByReceipt` endpoints will return the listing_id as well as the variation(s) selected by the buyer.

[2022-07-12 17:33] NathanConroyOrd opened #534 "[DOCS]: What is the "Money resource"?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developers.etsy.com/documentation/reference#operation/updateListingInventory

### What would you like to change?

There's a line in the description of the updateListingInventory resource:
[code]

What is the "Money resource?" Is it this: https://www.etsy.com/developers/docu

[2022-07-12 20:01] etsyachristensen commented on #502
@yovasx2 I have deployed a fix to the system that should address this problem and the issue in #512.

[2022-07-12 20:01] #502 closed

[2022-07-12 21:00] etsyachristensen commented on #534
@NathanConroyOrd Good catch. We don't have a writeup on that in the V3 docs, though the V2 docs do pretty much apply. A Money resource is an array of data regarding a value such as price. This array consists of the `amount` (if USD it would be in cents), followed by a `divisor` (if in USD that would be 100 - 100 cents to each dollar) and the `currency_code` which is the string denoting the currenc

[2022-07-12 21:00] #534 closed

[2022-07-12 21:01] #523 closed

[2022-07-13 01:32] namlv94 commented on #533
I'm sure I'm using the correct endpoint you sent. Please see the body I have posted below. Please note that I am running a loop with the rank starting at 0, which corresponds to the index of an array of images that I want to upload. Can you make a request to check this?
**{
			'listing_id': product_id,
			'overwite': 'true',
			'rank': rank + 1
		}**

[2022-07-13 14:48] wild-arctic-fox opened #535 "[BUG]: deleteListingImage returns 500 error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Method https://developers.etsy.com/documentation/reference/#operation/deleteListingImage returns 500 error.

### Steps to reproduce

1. call https://openapi.etsy.com/v3/application/shops/14280094/listings/1043207843/images/4053191169 DELETE method
2. received  500 status and  "error": "Server

[2022-07-13 15:05] etsyachristensen commented on #533
I assume that by "product_id" you're referring to your internal reference for our listing_id.
As for the "rank +1" I assume you're using 0 index internally and thus adding the 1 before sending the rank correct?

I have just tested the process myself and I'm not able to replicate the problem you are having.

I just tried the following procedures:
1. Created a new draft listing. I then uploaded 3 fi

[2022-07-13 16:48] yovasx2 commented on #502
I am a little confuse if the fix was for 512 why this 502 is closed. @etsyachristensen

[2022-07-13 19:09] etsyachristensen commented on #535
@wild-arctic-fox Can you provide me with the response header value for x-etsy-request-uuid? I can look in our logs for this error and try to figure out why you'd get that error.

[2022-07-13 19:12] #526 closed

[2022-07-13 20:53] etsyachristensen commented on #535
Thanks! The error that's coming up is that the user doesn't exist in the call. This means that the authentication of the user isn't right or something. To debug this I will need a full copy of your entire curl that's being made to our system, including the auth token and x-api-key. Do not post it here, but please send it to developers@etsy.com and request that it be sent to me "Andrew Christensen"

[2022-07-13 21:25] etsyachristensen commented on #311
@yovasx2 Are you still experiencing this issue? The only way you should be able to null out those values is by having a listing that is using fixed shipping profile (thus not needing the item weight and dimensions). Since Postman doesn't allow sending null values (it translates into a '' string) I can't really duplicate the issue reliably.

[2022-07-13 23:20] wild-arctic-fox commented on #535
@etsyachristensen Thank you!
Your explanation helped me to understand that I used incorrect credentials.
With right creds it works. Problem is solved.

[2022-07-13 23:20] #535 closed

[2022-07-13 23:51] codyschneiderx commented on #122
@etsyachristensen Any update on this?

Critical for a product feature in our app and if there is no longer an endpoint will have to change the app dramatically.

Thank you for your help.

[2022-07-14 01:56] namlv94 commented on #533
below are the request id that i uploaded the image for listing_id 1253852794
EuNnpmABnjx9s62DRRYJPbU_hMf7: rank 1
EuzlHdnrU5Wf--roPqDCpASy0X3a: rank 2
EucAqAib4Q6iz2QEnr2JTX3ZBKd8: rank 3
EuuLvuASJrxGzr9c4ibdP2sUD4f3: rank 4
Please check it out. There's one more thing I think you should know, all the responses I get after making an image upload request have rank=1

[2022-07-14 02:25] namlv94 commented on #533
Thank you for responding. I greatly appreciate your help, and also extend an apology. That was my mistake, the library I used to send the request was automatically ignoring the body when I attached a file, that's why the rank is always imported as 1.

[2022-07-14 02:26] #533 closed

[2022-07-14 04:07] amitshuklaCedcoss commented on #519
@etsyachristensen when we can suppose to get some solution to it?

[2022-07-14 14:09] etsyachristensen commented on #122
We are currently investigating how to bring this back effectively. It may take some time. But we do want to bring it back.

[2022-07-14 14:10] #512 closed

[2022-07-14 17:25] assaflei commented on #485
Hi, @etsyachristensen I encountered similar behavior now with a listing I try to update
I only send description, listing_id and state (changing state from edit to active)

These are the result headers that might allow further tracing..
x-cloud-trace-context:
'6bee13d4761852d8556a59cbcd655d88/5888947654427419131;o=0'
x-etsy-request-uuid:
'Eu_enU4cPeKTA8e0TS531iWIUv0f'

Can you advice?

[2022-07-14 18:06] wild-arctic-fox commented on #535
@etsyachristensen Sent info as you asked! Thanks for help!

[2022-07-14 19:37] yovasx2 commented on #502
@etsyachristensen I still have problems in the shop manager UI for this issue, the issue seems to be present yet, is will attach a video (sent via email) to demonstrate how I reproduce it, you can replace vela by hitting API directly.
Steps are hit the discrete property with a scale id and a value and then ensure that value is returned by API and then go to the shop manager to appreciate the blank

[2022-07-14 19:40] mfarooq925 commented on #311
Thank you @etsyachristensen ! I think I'm good now

[2022-07-14 19:54] etsyachristensen commented on #502
Ok thank you for the clarification. We can in fact duplicate this and we will get on it. At the moment though the scale name and id are at least returning as not null. So progress is made. Will update you as soon as we figure it out.

[2022-07-15 05:20] dbeleznay opened #536 "[BUG]: listing['creation_timestamp'] and image['creation_tgz'] are inconsistent"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

ShopListings have the following properties
"creation_timestamp": 946684800,
"created_timestamp": 946684800,
"ending_timestamp": 946684800,
"original_creation_timestamp": 946684800,

And ListingImages have the properties
"creation_tsz": 0,
"created_timestamp": 0,

It seems like the pattern mig

[2022-07-15 15:38] etsyachristensen commented on #502
Ok I need to check something with you. I see in your screenshot from your app you are setting the field "Size" and choosing "UK" as the scale. However, in the screenshot from the getListingProperties endpoint, you have "Kid's shoe size" coming back as the property name. I'm concerned that while your interface is trying to send "Size" it is maybe sending the wrong property id. The problem I see is

[2022-07-15 15:46] assaflei commented on #485
@etsyachristensen appreciate your response here..

[2022-07-15 15:53] etsyachristensen commented on #536
@dbeleznay Just checked and the get listing image endpoints do return the `created_timestamp` field and `creation_tsz` will be removed in the future.

[2022-07-15 15:53] #536 closed

[2022-07-15 15:56] etsyachristensen commented on #485
@assaflei What is the listing id? I looked at this yesterday (from memory) and the error returned was that it could not transition from edit to active. There's something with the listing preventing it from being activated. I don't recall what that was and now the uuid isn't appearing in our logs (we only have 7 days retention available). Do you have a more recent UUID and listing id?

[2022-07-15 15:59] etsyachristensen commented on #485
Disregard that. Sorry. I forgot to change the date range in the logs. Doh!

The listing can't be renewed because the shop is currently in vacation mode.

[2022-07-15 17:34] #519 closed

[2022-07-15 17:34] #515 closed

[2022-07-15 17:40] gokhur opened #537 "[FEATURE]: Sales Exchange Rate Request"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

Hi, actually I want to ask for exchange rate, I can get exchange rate for each sale from the Etsy Payment Sales report( as CSV) in our store panel (options >> download data) so I have to download from there manually, is there any chance to get ex

[2022-07-15 17:42] etsyachristensen commented on #515
Oh ok thanks for the update. At this time, there is no plan on adding that information. We will add it to our list of requests for features though.

[2022-07-15 18:28] etsyachristensen commented on #311
@yovasx2 First, in postman, you can't send `raw` to the endpoint as it requires `x-www-form-urlencoded`. That said, I don't think your application is using `raw`. That said, it turns out that `x-www-form-encoded` will send empty values as strings `''`. We need to make some changes on our end to convert the empty string to null before saving. That may take some time though.

[2022-07-16 01:04] namlv94 commented on #532
for the updateListing endpoint, when setting the state of the product to inactive I get the error "There was a problem with /quantity : cannot be empty". I know it's because my product has zero inventory on etsy. Can Etsy skip the quantity check when I update the state to inactive? Because when the product is in the inactive state, the inventory quantity is not important

[2022-07-18 13:48] etsyachristensen opened #538 "Getting "qty cannot be empty" when setting listing to inactive."
From @namlv94 for the updateListing endpoint, when setting the state of the product to inactive I get the error "There was a problem with /quantity : cannot be empty". I know it's because my product has zero inventory on etsy. Can Etsy skip the quantity check when I update the state to inactive? Because when the product is in the inactive state, the inventory quantity is not important

_Originally

[2022-07-18 13:49] etsyachristensen commented on #532
@namlv94 Please start new issues going forward when you have different things to address. It will make tracking these much easier for both of us. As for the problem listed above, see the new thread I started here: https://github.com/etsy/open-api/issues/538

[2022-07-18 13:57] etsyachristensen commented on #537
At this time there is no plan to add this to the OpenAPI. I will add it to our list of requests though.

[2022-07-18 17:54] yovasx2 commented on #502
The UI is missleading but the prodcut is having taxonomy 1430 which has the kids' size property (https://openapi.etsy.com/v3/application/seller-taxonomy/nodes/1430/properties)
[code]

And the product is having the good property id ()properties by listing endpoint:

[code]

the data above is describing the screenshots I shared before

[2022-07-19 14:58] #399 closed

[2022-07-19 15:03] etsyachristensen commented on #232
@chris-rogala @Gareth064 We have made the change to the receipt endpoints to ensure that the updated_timestamp is returned with the latest activity on the receipt (refund/transaction etc). See https://github.com/etsy/open-api/releases/tag/3.0.0-general-release-2022-07-19

[2022-07-19 15:04] etsyachristensen commented on #339
@Xiaoyi-ji-11 We have made the change to the receipt endpoints to ensure that the updated_timestamp is returned with the latest activity on the receipt (refund/transaction etc). See https://github.com/etsy/open-api/releases/tag/3.0.0-general-release-2022-07-19

[2022-07-19 15:04] etsyachristensen commented on #513
@ravi18969 We have made the change to the receipt endpoints to ensure that the updated_timestamp is returned with the latest activity on the receipt (refund/transaction etc). See https://github.com/etsy/open-api/releases/tag/3.0.0-general-release-2022-07-19

[2022-07-19 15:04] #513 closed

[2022-07-20 09:56] namlv94 opened #539 "[BUG]: Oh dear, you cannot sell this item on Etsy."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

https://prnt.sc/llOy-Jq5s2rJ
when i upload a product with information like this i get the above error. To fix it, I changed who_made, when_made. Can you tell me why this error occurs? And can the etsy side fix the error to make the response message easier to understand?

### Steps to reproduc

[2022-07-20 14:07] etsyachristensen commented on #513
Apologies @ravi18969. At this time the only change is to make the receipt updated_timestamp return the most recent value. We are not changing the get date range as this is not something we are able to do right now.

[2022-07-20 16:36] etsyachristensen commented on #539
@namlv94 I need the full payload you are sending to the API to debug this. You don't have to give the headers/credentials. If you can give me the CURL that would be helpful.

[2022-07-20 17:24] etsyachristensen commented on #502
@yovasx2 I am not able to submit values for this listing. I created the listing using taxonomy_id `1430` (Boys' Shoes). I then do the `updateListingProperty` endpoint but the value_id I'm sending is the 1401 from the seller taxonomy:
![image](https://user-images.githubusercontent.com/83842847/180044222-fa3ecfb1-ad5f-4171-9fcd-91858d4fc5d9.png)
When I submit these values:
[code]
I get the property

[2022-07-20 19:26] Gareth064 commented on #513
Hi @etsyachristensen , can you confirm what you mean by this?
`We are not changing the get date range`

If the receipts `updated_timestamp` is updated to show that something has changed, like a partial refund, then why wouldn't the `min_last_modified` query param not pick up on that change to the `updated_timestamp`?

Am I misunderstanding both you and ravi here? 😄

[2022-07-20 19:33] etsyachristensen commented on #513
I mean that we aren't changing how the `min_last_modified` parameter works. Currently, it works off the actual receipt object updated_timestamp which does not ever change. In the endpoint we are overriding the receipt updated timestamp with the latest date from the related objects. Changing this would require searching through the related objects for updated dates and running the entire endpoint i

[2022-07-20 20:07] Gareth064 commented on #513
So when we do a `get` and include that `min_last_modified` query param, it is looking at the original `updated_timestamp`, but when a receipt object is returned, you are replacing the `updated_timestamp` with max stamp from one of the transactions inside the receipt (if its different)

If so then I don't believe the change that's been made helps us, and probably the same for the guys on the other

[2022-07-20 20:10] Gareth064 commented on #339
As per the conversation on #513  This change won't help us pick up a receipt again if the it has been cancelled or a refund has happened.

[2022-07-21 06:05] ravi18969 commented on #513
Yes that make sense instead of replacing timestamp dynamically it has to be updated on actual receipt so that when we pass these query params it should work.
In current case we still won't be able to use this feature as it doesn't serves our purpose.

[2022-07-21 09:52] namlv94 commented on #539
payload: {"quantity": 95, "title": "Gay Male MLM Pride Belt", "description": "Gay Male MLM Pride Belt\nThis Gay Male MLM Pride Belt is a canvas woven belt custom made especially for Pride Shop NZ and is based on the male Gay Male MLM pride flag.\nMade from polyester this one size fits all belt is perfect for pulling your whole look together and is sure to catch people\u2019s eye. The size can be a

[2022-07-22 15:31] tjoyal opened #541 "[ENDPOINT]: ShopListing object to contain includable relationships from queries"
### Is there an existing issue for this?

- [X] I have searched the existing tickets

### Current Endpoint Design

I am relatively new to the internals of open-api so let's keep that in mind.

It seems as per [this issue](https://github.com/etsy/open-api/issues/96) or [this issue](https://github.com/etsy/open-api/issues/236) the "includes" relationships I was looking for have been recently added t

[2022-07-22 17:03] etsyachristensen commented on #539
What were the who_made and when_made settings when you got the error? That particular message means that how you had `who_made`, `when_made` and `is_supply` requires you to have a production partner defined as part of the creation.

[2022-07-22 17:14] #96 closed

[2022-07-22 17:21] etsyachristensen commented on #541
Correct. Those are all done and cover that issue. We've closed that issue.

We're not sure we follow what you are asking for here. The getListing endpoint (and other get endpoints that return the listing resource object) work with those includes. If there is an associated object (or objects) for the listing and you've asked for those in the "includes" input, then you should be getting what you nee

[2022-07-22 17:22] #538 closed

[2022-07-22 19:50] tjoyal commented on #541
The operation `"operationId":”getListing"` returns a `"$ref": "#/components/schemas/ShopListingWithAssociations"`. This behaves as expected and the `includes` parameter additinal response fields can be added to the  `ShopListingWithAssociations` object.

Alternatively, the `"operationId": "getListingsByShop"` returns a `"$ref": "#/components/schemas/ShopListingsWithAssociations"`. So far so good.

[2022-07-23 00:43] namlv94 commented on #539
Where can I get a list of production partners? And can you tell me under what circumstances will cause the above error?

[2022-07-23 04:08] namlv94 commented on #539
I found production partners. The remaining question is when are we required to provide this list? Can you please clarify this?

[2022-07-25 14:33] etsyachristensen commented on #539
At the moment, if a seller wants to sell something that is made by someone else, they MUST enter their Shop Manager interface and click on Settings on the left and then Production Partners. They then enter the production partner before creating a listing that will use that production partner.

[2022-07-26 15:15] aziret commented on #301
Hey @etsyachristensen!

Thanks for your suggestion to use `sort_on = updated` and `sort_order = desc` params to get updated listings first.

I have a question regarding this approach: How do you distinguish listings if multiple of them have the same `last_modified_timestamp`.
Image a case when there are 200 listings with the same dates in `last_modified_timestamp` and those timestamps are not upda

[2022-07-26 15:22] etsyachristensen commented on #301
For a time there, yes you could have gotten the same listing on multiple pages. But we made a change recently to ensure that the sorting goes by the field you are requesting first and then we sort by id after so you are sure to never get duplicates in the different pages.

Yes it's *possible* to have multiple listings with the same last modified timestamp but highly unlikely.

[2022-07-26 15:24] aziret commented on #301
That's great! Thank you!

[2022-07-26 19:40] etsyachristensen commented on #502
@yovasx2 Have you had a chance to review the above?

[2022-07-26 19:55] Gareth064 commented on #513
@etsyachristensen Can this be reopened please as the change put in doesn't solve the actual issue (and the other issues tagged previously)?

When we make a call to the ```getShopReceipts``` endpoint and pass in a value for the ```min_last_modified``` parameter then we need the results to include Receipts/Orders where the following events have happened on them since they were created.

Cancelled
Re

[2022-07-26 22:47] etsyachristensen commented on #405
## updateListing change (07/26/2022)
We’re making a change to the Etsy OpenAPI V3 endpoint for `updateListing`. Previously, the `updateListing` endpoint was designed as a **PUT** endpoint. However, this was inconsistent with OpenAPI Rest standards as this endpoint is designed to be a partial-to-full update and not just a full data update. The correct type should be a **PATCH** endpoint.

Part of t

[2022-07-26 23:06] etsyachristensen commented on #311
@yovasx2 With the change just pushed out, if you change your call to the `updateListing` endpoint to PATCH method from PUT, you should be able to pass in null or empty values for those item_xxx fields to null them out, but only if the listing is digital or uses a fixed shipping profile.

[2022-07-26 23:06] #311 closed

[2022-07-26 23:20] aziret commented on #55
Hey @etsyachristensen !

Using `sort_on` as 'updated' and `sort_order` as 'desc' doesn't solve completely the problem completely of getting all the updated listings.

Here is an example:
Imagine we have a listing that was on position 60 when I first requested updated listings:

Step 1: I request listings with `sort_on` as 'updated' && `sort_order` as 'desc' **AND `limit = 50`**. The required listi

[2022-07-27 09:46] nmrdxt opened #543 "[BUG]: Receiving 'Could not set a calculated shipping profile to the listing.' even though dimensions and weight are set."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Sending 'updateListing' PUT (or PATCH) requests, intending to only updating a product's state, so the payload only includes the 'state' property.

Receiving "Could not set a calculated shipping profile to the listing.  The listing is missing 'item_weight', 'item_length', 'item_width', 'item_h

[2022-07-27 14:41] sowsinsk commented on #480
Regarding receipt statuses, it would also be helpful to have an explanation for what each status means (or when it would occur). For example, what is the difference between an "open" order and a "paid" order?

Thank you!

[2022-07-27 16:51] etsyachristensen commented on #543
@nmrdxt This issue has been fixed.

[2022-07-27 16:51] #543 closed

[2022-07-27 21:43] etsyachristensen commented on #541
@tjoyal This has been corrected. Thanks for calling this out.

[2022-07-27 21:43] #541 closed

[2022-07-27 21:44] #539 closed

[2022-07-27 22:24] tjoyal commented on #541
Wonderful, everything works as expected, thanks!

[2022-07-27 23:59] tjoyal opened #544 "[ENDPOINT]: Proposed design change for getListing (oauth2 security and skus field)"
### Is there an existing issue for this?

- [X] I have searched the existing tickets

### Current Endpoint Design

TLDR: The `getListing` operation is defined as "AUTHORIZATIONS: api_key" when it is possible to pass in an oauth2 header if you want the `skus` field to be returned.

I have been digging into why `getListingsByShop` was returning me the field `skus` filled where the `getListing` was n

[2022-07-28 00:11] tjoyal opened #545 "[BUG]: ShopListingWithAssociations#skus is empty instead of nulll"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

In `ShopListingWithAssociations` the `skus` field is dynamic based on the request authentication.

The field type is set as `Array of strings Nullable`
With the following description: "A list of SKU strings for the listing. SKUs will only appear if the requesting user owns the shop."

When a

[2022-07-28 14:26] etsyachristensen commented on #544
Thanks for this @tjoyal. There's a couple issues here.

First of all, our documentation OAS file is generated automatically based on the code. Unfortunately, the way our code is put together, we can't define two different expectations for security, so it will use the one as the base. Just know that if you HAVE an auth token you should always include it, not only due to this issue of SKU not return

[2022-07-28 14:26] #544 closed

[2022-07-28 14:30] etsyachristensen commented on #545
@tjoyal This is one of those areas where we've had to diverge from the OAS just a bit. The "nullable" notation on that field is in reference to INPUT. We have a ticket in our system to try to create different versions of the field names as input or output so we can remove the "required" and "nullable" from the documentation. Hopefully that will happen sometime in the future.

[2022-07-28 14:30] #545 closed

[2022-07-28 16:15] #485 closed

[2022-07-28 17:22] yovasx2 commented on #502
Api shows it but not the shop manager, that's the problem

[2022-07-28 17:22] yovasx2 commented on #311
thx I will test it

[2022-07-28 17:36] etsyachristensen commented on #502
Can you give me the listing id for one that you are currently seeing is missing the property in the Etsy interface?

I just checked the one that I set above and it shows in the UI for me:
![image](https://user-images.githubusercontent.com/83842847/181601733-fe2ddd3c-5232-44ca-b049-c227c25044b3.png)

[2022-07-28 23:56] yovasx2 commented on #502
sure: 1262384258 belongs to the shop: 18976342

here is some evidence how vela create it, then API is capable to show it, but the shop manager is not showing it
<img width="856" alt="Screen Shot 2022-07-28 at 18 47 06" src="https://user-images.githubusercontent.com/3578401/181655631-734062b0-5095-4149-8901-ae875e7c641b.png"><img width="767" alt="Screen Shot 2022-07-28 at 18 47 25" src="https://use

[2022-07-29 08:41] Gareth064 commented on #502
Just a random observation. Does the property show up on the actual Shop Front? Is that what this is showing?

![image](https://user-images.githubusercontent.com/22307223/181720185-a5ed87ca-8049-4108-9654-837eb084573e.png)

But what your saying is that it isn't showing in the Shop Manager?

[2022-07-29 14:01] etsyachristensen commented on #502
Sorry for all the back and forth @yovasx2 but I just checked the getPropertiesByTaxonomyId for taxonomy id 1430. I don't see that value you used. I see value id 1370. Are you pulling that id from another product on the shop?

![image](https://user-images.githubusercontent.com/83842847/181776184-0bf09d72-eda3-4742-ba93-a9954dc0c26d.png)

Can you send a screenshot from that same api call for that sh

[2022-07-29 21:21] yovasx2 commented on #502
https://openapi.etsy.com/v3/application/seller-taxonomy/nodes/1430/properties
[code]

yes I can see it as customer (https://www.etsy.com/listing/1262384258/do-not-delete-or-modify-this-gio-github) but not as manager

[2022-08-01 14:56] etsyachristensen commented on #502
Ok appreciate the follow-up. While the ID you are sending is probably valid in connection to the property, it's likely a custom ID that the interface can't track. When you send it using the taxonomy array value but then call to the `getListingProperties` endpoint does it return the custom value ID or the taxonomy value ID?

[2022-08-01 17:19] etsyachristensen commented on #492
@jon-chambers These links have been corrected. Thanks again for pointing those out!

[2022-08-01 17:19] #492 closed

[2022-08-01 17:22] etsyachristensen commented on #482
@NathanConroyOrd We have updated the documentation. These are considered to be one or the other or neither. So when false, will only return receipts where that field is false. They are considered AND clauses as well so if all three are false, it would be receipts where NOT paid AND NOT shipped AND NOT delivered. Hope that helps.

[2022-08-01 17:22] #482 closed

[2022-08-01 21:28] etsyachristensen commented on #293
@yovasx2 I'm working on this ticket now. I need to confirm with you the process on this one. Are you uploading more than one image with the same rank? Or not including the rank? What are the steps to reproduce?

[2022-08-03 18:25] soohyungl opened #547 "[BUG]: "Shops cannot create Listings in languages other than the Shop's primary language.""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I'm creating listings in English and my listings are listed in English. However, this isn't working properly and giving me a 400 with the message: "Shops cannot create Listings in languages other than the Shop's primary language."

No idea about the root cause, I've confirmed with support tha

[2022-08-04 13:34] XanhZ opened #548 "[FEATURE]: Find taxonomy by name"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

I'm a seller on Etsy and I also have own web app for selling products. Now I want to sync my products into Etsy. In choosing taxonomy step, I see that Etsy only give me an API for get all taxonomy nodes: https://openapi.etsy.com/v3/application/bu

[2022-08-05 03:16] yovasx2 opened #549 "[BUG]: refresh endpoint responding 500"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

from time to time the refresh endpoint is returning 500, but if I manually retry the payload logged then I get 200

The payload is this I removed 15 characters at the end to obfuscate the token:
[code]

### Steps to reproduce

used the curl above which produces 500 error:

[code]

### Expecte

[2022-08-05 04:27] ravi18969 commented on #513
@etsyachristensen any update on this? Did you open a new bug for this issue?

[2022-08-05 04:31] yovasx2 commented on #293
i add files to a listing using rank = 5 always

[2022-08-05 06:12] devtronic commented on #57
These details are very important for us. We need at least the tax rate per item and the net price. Everything else we can calculate on our own.

[2022-08-05 15:45] sowsinsk commented on #153
I am using v3 of the API, and I cannot get the getShopReceipts endpoint to return and canceled orders. I have tried to query it filtered, and unfiltered, and only non-canceled orders are returned. Is this by design? Is there any way to retrieve canceled orders using getShopReceipts?

Thank you!

[2022-08-05 23:17] furnaceX opened #550 "[FEATURE]: getListingsByShopSectionId with state query parameter"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

While getting listing from the getListingsByShopSectionId endpoint, there doesn't seem to be a way to get expired, inactive, etc. listing.

### Describe the solution you'd like

add "state" as a query parameter, similar to what is in the getListi

[2022-08-08 01:36] Ronnyweb80 commented on #80
Any update on getting packing slips via API? Thanks

[2022-08-08 15:20] etsyachristensen commented on #313
@yovasx2 Can you check on this? With the recent change to the PATCH endpoint for updateListing, this *shouldn't* be a problem anymore.

[2022-08-08 22:13] nh43de opened #551 "[FEATURE]: findAllListingsActive should optionally be able to specify includes"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

Related to #96 -

I need the Includes to be able to be specified for findAllListingsActive - is this still in the works?

### Describe the solution you'd like

Ideal solution: ability to specify includes for findAllListingsActive - so that images

[2022-08-09 15:08] etsyachristensen commented on #547
@soohyungl What endpoint url are you posting your listing data to? The error you are getting is indicative of the old version 2 of the OpenAPI. If you are using an endpoint that includes "/v3/applications" and getting that error, I need some info:

1. The URL you're sending to.
2. What is the shop id?
3. What is the response header X-Etsy-Request-Uuid value?

[2022-08-10 11:54] michalmachovic commented on #233
@truonglong
i am trying your solution, my code is as follows:

`

$image_url = PATH_TO_IMAGE

$response = $this->_guzzle->request("POST", "https://openapi.etsy.com/v3/application/shops/{$shopId}/listings/{$productId}/images", [
				'headers' => [
					'x-api-key' => $keyString,
					'Authorization'	=> "Bearer {$accessToken}"
				],

				'multipart' => [
					[
						'name'     => 'Filedata',

[2022-08-10 13:14] Deepshikha-cedcoss commented on #519
@etsyachristensen  I need your help. Actually, we're facing invalid token errors with a lot of the sellers and not able to understand any pattern in which case we have to re-validate the app again because we're getting different types of responses for one Seller on different API calls. here below I've mentioned the responses in the "invalid_token" case and also the SHOP_ID

1- getting this respons

[2022-08-10 14:15] etsyachristensen commented on #519
@Deepshikha-cedcoss The issue at least with this one shop is that they changed their password. When passwords are changed in our system, all tokens get revoked. They will have to re-authorize the app. I suspect that is happening with many of the shops.

[2022-08-10 14:16] etsyachristensen commented on #519
If you can give me a list of shop ids I can look into them and verify if it was a password change that revoked the token.

I am not sure why you got the "access token is expired" on the shipping endpoint though. I'll have our oauth people look into that one.

[2022-08-10 14:20] etsyachristensen commented on #233
@michalmachovic The fopen() won't give you the file data. You'll probably need to do `$fp = fopen($image_url, 'r');` before the $response line and then change the `contents =>` value to `fread($fp, filesize($image_url));`

[2022-08-10 14:34] michalmachovic commented on #233
@etsyachristensen i tried that aswell

`$image_url = 'images/logo.png';

		$fp = fopen($image_url, 'r');

		$response = $this->_guzzle->request("POST", "https://openapi.etsy.com/v3/application/shops/{$shopId}/listings/{$productId}/images", [
			'headers' => [
				'x-api-key' => $keyString,
				'Authorization'	=> "Bearer {$accessToken}",
				'Content-Type' => "multipart/form-data"
			],

			'multip

[2022-08-10 14:41] etsyachristensen commented on #233
Hmm. Maybe try this for the contents value: `fopen('data://text/plain;base64,'.$image_url, 'r'),`

I'm honestly not sure. I'm not an expert at using Guzzle client.

[2022-08-10 14:42] etsyachristensen commented on #233
Or maybe try `file_get_contents($image_url)`

[2022-08-10 15:31] michalmachovic commented on #233
i tried both and it didnt help.
is there any way how to get some more info about the error which is returning server, like why it thinks that image is invalid ?
thanks

[2022-08-10 15:34] etsyachristensen commented on #233
Oh try setting the 'name' value to 'image'.

In your response, can you pull the headers that are being returned? IF so I need the X-Etsy-Request-Uuid value to look it up in our logs.

[2022-08-10 16:19] mathieulesniak opened #553 "[BUG]: shipment_notification_timestamp does not return real shipment notification date"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hi there 👋

When querying the shop [receipt endpoint](https://developer.etsy.com/documentation/reference/#operation/getShopReceipt), the `shipments` section of the result contains incorrect `shipment_notification_timestamp`.

For example, I marked an order as sent through Etsy UI, the custome

[2022-08-10 18:09] NathanConroyOrd opened #554 "[DOCS]: Unclear transaction `shipping_method` and `shipping_upgrade` behavior."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Link to Documentation Issue

https://developers.etsy.com/documentation/reference/#operation/getShopReceipts

### What would you like to change?

About a transaction's `shipping_method` and `shipping_upgrade`, there are a few things that need clarification.

From what's been said in prior issues, `shipping_meth

[2022-08-10 18:45] soohyungl commented on #547
This is a v2 issue, but currently our business requires us to use it. We're using this method:
https://www.etsy.com/developers/documentation/reference/listing#method_createlisting

the shop id is 631601152

[2022-08-10 18:46] etsyachristensen commented on #547
Ah ok thanks. Unfortunately, this Github board is only for V3 issues and discussion. You should post in the Google Group for V2 here: https://groups.google.com/g/etsy-api-v2

[2022-08-10 18:47] #547 closed

[2022-08-11 01:50] ronreynolds opened #555 "[BUG]: org.openapitools.codegen.SpecValidationException"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

OpenAPI JSON is malformed according to `org.openapitools:openapi-generator-maven-plugin`:
[code]

### Steps to reproduce

attempt to load the current openapi json with the `openapi-generator-maven-plugin` and it fails with
[code]

### Expected behavior

expected `org.openapitools:openapi-gene

[2022-08-11 02:38] ronreynolds commented on #555
the fix is easy but i can't find the right repo to submit a pull-request with this patch:
[code]

[2022-08-11 06:53] michalmachovic commented on #233
@etsyachristensen
finally, it is working if i remove
`'Content-Type' => "multipart/form-data" `
and if i am uploading image from my local env

if i am trying to upload image from some url, i have error about filesize
`filesize(): stat failed for .... Argument #2 ($length) must be greater than 0"`

[2022-08-11 07:42] michalmachovic commented on #233
donie, in case anybody is interested, here is how it is working with guzzle for me

`
                     $response = $this->_guzzle->request("POST",
                    "https://openapi.etsy.com/v3/application/shops/{$shopId}/listings/{$productId}/images", [
				'headers' => [
					'x-api-key' => $keyString,
					'Authorization'	=> "Bearer {$accessToken}",
				],

				'multipart' => [
					[

[2022-08-11 08:55] MaciejDerek opened #556 "[BUG]: Missing "edit" state in enum in OpenAPI definition"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hello,

I see the defect in he state enum in your open api definition. There are the following states:
Enum: "active" "inactive" "sold_out" "draft" "expired"

However, after my product has been sold out it now has state = "edit" (this is what I receive in the response listing_id =1214842595.

[2022-08-11 14:08] etsyachristensen commented on #233
Yes sorry. I was assuming you were using a local path for the images so filesize() would have worked. But with remote paths it won't ever.

[2022-08-11 14:14] etsyachristensen commented on #556
We are aware. Closing this at it is a duplicate of #506. We already are working on documentation changes for this.

[2022-08-11 14:14] #556 closed

[2022-08-11 14:27] etsyachristensen commented on #555
There is not a repo for this. It's not as easy a fix as you might think. All of our OAS json content is autogenerated and so making a change to the json file would be overwritten many times per day. That said, our OAS file is in fact valid. How that plugin chooses to evaluate the content is our of our control. I can't speak to the quality of the plugin but we have tested our OAS file with several

[2022-08-11 14:27] #555 closed

[2022-08-12 04:04] hd-chuong commented on #153
I am using this endpoint `getShopReceipts`, aka https://openapi.etsy.com/v3/application/shops/{shop_id}/receipts. I am not passing any other params. I am still not getting cancelled orders? What is the correct way to fetch a number of canceled orders?

[2022-08-12 09:16] rexliu0715 opened #557 "[BUG]: Api v3 Patch uploadListing tags"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I tried to use different tags values:

"tags": "Circle,Round,Punch"
"tags": "'Circle','Round','Punch'",
"tags": ["Circle","Round","Punch"]

error:
There was a problem with /tags : You may not have duplicate tags.

"tags": "[Circle,Round,Punch]"
error:
There was a problem with /tags : contains

[2022-08-12 14:35] etsyachristensen commented on #153
Etsy does not at this time return canceled orders in the OpenAPI V3. This is on our list of items to address in the coming months. We have no ETA on this however.

[2022-08-12 14:37] sowsinsk commented on #153
Thank you for the clarification, Andrew. Glad to hear you are looking into addressing it!

[2022-08-12 15:06] etsyachristensen commented on #557
@rexliu0715 I am not able to duplicate this issue. The proper string would be:

Circle,Round,Punch

No quotes, no brackets.

I can't explain why it's giving you the error without a copy of the payload. Can you post the full payload and just take out your bearer token and api key? The shop id and listing id are already pretty much public info so no need to obfuscate them.

[2022-08-12 17:01] sowsinsk commented on #463
I am encountering this as well. When I submit new materials, the materials show up correctly in the Etsy admin UI, but the API still returns incorrect materials for the Listing->materials field. For my products, it appears to be somehow tied to the "General Material" property that is also attached to the listing. For products that have a "General Material" (property id 47626760362) specified, the

[2022-08-14 07:14] Deepshikha-cedcoss commented on #519
@etsyachristensen Thanks for the update. There is some shop_id which I have mentioned. You can check further on that.

SHOP_ID = [30180781, 13581174]
Expected_output:-
if any seller's token has been revoked, then in this case only "access token is revoked" error will occur instead of "access_token is expired"

[2022-08-14 07:33] Deepshikha-cedcoss commented on #491
@etsyachristensen we're facing this concern again. listing dimension isn't showing on the listing management page
![image](https://user-images.githubusercontent.com/62876154/184526702-b8e85852-3a1c-4f2c-9244-47f932025f59.png)

but showing dimension data on [getListing](https://developers.etsy.com/documentation/reference/#operation/getListing) endpoint call
![image](https://user-images.githubuserco

[2022-08-14 15:28] tonyhans7 opened #558 "[BUG]: uploadListingImage not replace image with rank"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Wrote a script to upload image using `uploadListingImage` to specific rank/position, however the image uploaded always appear at rank 1 and pushed the image at rank 1 to rank 2.

After I uploaded about 10 images, calling this API (with rank) will fail with

[code]

### Steps to reproduce

I r

[2022-08-15 02:27] rexliu0715 commented on #557
Thanks for your reply. I tried to update one of key "tags" as the screen. The params section was empty. Refreshed the token.

<img width="700" alt="Screenshot 2022-08-15 at 10 18 28" src="https://user-images.githubusercontent.com/7487563/184566888-a95bf220-f73e-470e-bbf9-3de62e463835.png">
<img width="1259" alt="Screenshot_2022-08-15_at_10_19_05" src="https://user-images.githubusercontent.com/7487

[2022-08-15 04:41] XanhZ opened #559 "[BUG]: API getListing response is not correct"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have already has listing images before but when I request get listing, response of field images is always null
![Screenshot from 2022-08-15 11-39-39](https://user-images.githubusercontent.com/61658597/184577865-cf4b85d4-e6e2-4c77-a05f-945416ab1f74.png)
Here is response from get listing imag

[2022-08-15 06:05] #558 closed

[2022-08-16 16:51] sowsinsk commented on #57
I would add, too, that it would be useful to know if the shipping/freight charges were included in the tax total.

[2022-08-16 17:42] Deepshikha-cedcoss opened #560 "[BUG]: Getting Error when setting inventory zero"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

@etsyachristensen Is there any way to set inventory zero for inactive listing?

### Steps to reproduce

1- publish listing using createDraftListing And, then update state= active using  updateListing endpoint call
2- And, then inactive the listing using updateListing end point
3- And, now wan

[2022-08-16 17:48] etsyachristensen commented on #560
No. There is no way in the API to zero out all of the inventory for a listing. There has be at least one item with at least a quantity of 1. The only other way to zero inventory is for the product to actually sell out on Etsy.com. To my knowledge there are no plans to change this.

[2022-08-16 17:48] #560 closed

[2022-08-16 22:43] zknicker opened #561 "[BUG]: Invalid API Key"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I maintain an internal app for my team and I to help with our listing posting & management process. This app is not new (1+ years old), but as of this afternoon, it no longer appears to exist. Despite just working this morning, the app is now missing from the developers "your apps" page, and

[2022-08-16 22:51] yovasx2 commented on #561
same for me

[2022-08-16 22:54] halfluck commented on #561
+1 Same Issue Here

[2022-08-16 22:58] kbasali commented on #561
+1 @etsyachristensen

[2022-08-16 23:25] juanfernandoe commented on #561
+1 Same issue

[2022-08-16 23:27] yovasx2 commented on #561
mine was re-stablished

[2022-08-16 23:31] huppy commented on #561
+1
@yovasx2 How did you get re-enabled? Prompting them? Or it just happened?

[2022-08-16 23:32] x-bass commented on #561
same

[2022-08-16 23:32] yovasx2 commented on #561
it was fixed i entered to the URL described above my app was not there and it suddenly appears

[2022-08-16 23:32] yovasx2 commented on #561
it was fixed i entered to the URL described above my app was not there and it suddenly appears

[2022-08-16 23:54] benjymouse commented on #561
+1 same issue here too

[2022-08-16 23:57] etsyachristensen commented on #561
we had an errant script accidentally trip on something and it deactivated a lot of keys. It's being restored now. Sorry for the trouble. please be patient.

[2022-08-17 00:03] cwilkins-godaddy commented on #561
+1 same issue, app is gone, end users are sad.

[2022-08-17 00:17] DemiImp commented on #561
@etsyachristensen - Is that why I've been getting oauth_problem=consumer_key_refused?

Please let me know before I make any large changes to my site and service.

[2022-08-17 00:19] etsyachristensen commented on #561
@DemiImp Yes. More than likely. We are almost done restoring them.

[2022-08-17 00:23] bsom commented on #561
Getting closer.  App is back, but it is now 'Listed' when it isn't supposed to be. :-)

[2022-08-17 00:34] etsyachristensen commented on #561
All apps and keys should now be restored.
If you’re still running into difficulties with your app connecting or have noticed that it’s live and shouldn’t be, please reach out to [developers@etsy.com](mailto:developers@etsy.com) with the subject line: 08/16 API issues

[2022-08-17 04:58] Deepshikha-cedcoss commented on #491
@etsyachristensen please check this concern

[2022-08-17 05:27] Deepshikha-cedcoss commented on #519
@etsyachristensen please check this concern

[2022-08-17 05:53] nesh6 opened #563 "[FEATURE]: views missing in getListingsByShop"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

views count missing in getListingsByShop. in api v2 views was given with listing. please include it.

### Describe the solution you'd like

Please add 'views' in getListingsByShop

### Describe any alternatives you've considered

_No response_

#

[2022-08-17 05:57] nesh6 commented on #559
add "includes": "Images" in your request. it will return images.

[2022-08-17 08:30] scottjlaw opened #564 "[BUG]: getShopPaymentByReceiptId Buyer currency code is correct but shows shop currency values"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

In the V2 API this would return the values in the buyer's currency.

In V3 it is returning the correct currency code, but the values are the shop currency values.

### Steps to reproduce

getShopPaymentByReceiptId on any order with a currency different to the shop currency

### Expected behav

[2022-08-17 08:55] scuculeac-plenty commented on #561
The problem still exists, oauth_problem=token_revoked from this morning

[2022-08-17 09:14] juanfernandoe commented on #561
All our Oauth Tokens are revoked as well.

[2022-08-17 10:10] Gareth064 commented on #561
I was getting this returned starting last night `oauth_problem=token_revoked` from two personal etsy shops (I am using personal apps as well)

At first I assumed it was because we reset our password of the etsy accounts, but then I realised that we reset the password of only 1 etsy account and not the other. But this issue was on both.

We are still using v2 API and OAuth1 with these personal apps

[2022-08-17 10:22] main24 commented on #561
Problem still exists for us, dropped an email, no response so far.

[2022-08-17 12:16] nateswart commented on #561
I will be following up internally on the additional issues being mentioned here and will post back updates.

[2022-08-17 14:38] nateswart commented on #561
API keys were in fact restored last night, however user tokens for v2 endpoints may still be experiencing issues. Obtaining new tokens is working for some users, but we are still working on a more scaleable solution for all users.

Re-opening this ticket to help track and provide comms as this issue progresses.

[2022-08-17 16:20] stickfigure commented on #561
Confirming that we still have a lot of invalid tokens. Spot-checking, the v2 tokens seem to be invalid and the v3 tokens seem to be working (we upgrade when users reconnect, though we haven't forced everyone yet). We'd rather not send out surprise emails forcing everyone to reconnect in a hurry and would definitely like to get the v2 tokens back. Thanks.

[2022-08-17 18:03] nctbrtc opened #565 "[FEATURE]:"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

I want to know how many times a listing made a sale

### Describe the solution you'd like

when we use getListingsByListingIds, there can be **_sales_** value as well that shows how many times it's sold

### Describe any alternatives you've consi

[2022-08-17 20:54] aziddy opened #566 "[ENDPOINT]: Proposed design change for Cart"
### Is there an existing issue for this?

- [X] I have searched the existing tickets

### Current Endpoint Design

Cart v2

https://www.etsy.com/developers/documentation/reference/cart

### Proposed Endpoint Design Change

Don't deprecated it in v3

### Why are you proposing this change?

I wanna use it to make a custom item configurator off the site that adds all the selected items to the user's

[2022-08-18 01:44] rexliu0715 commented on #557
@etsyachristensen  please help.

[2022-08-18 02:45] XanhZ commented on #559
thanks it works for me

[2022-08-18 04:47] #563 closed

[2022-08-18 08:27] swisst182 commented on #561
Any news on this issue, the internal in-house application and Royal Mail applications have not been able to reconnect since yesterday over 24hr ago!

[2022-08-18 08:28] pokusman commented on #561
me too :-(

[2022-08-18 08:36] Byteschmiede commented on #561
+1 Same issues here

[2022-08-18 08:37] ablagoev commented on #561
+1

Refreshing the oauth token worked in one of the applications I am managing, but did not fix the issue for the other one.

[2022-08-18 09:06] hemaldev commented on #561
+1

[2022-08-18 10:11] Gareth064 commented on #561
To get royal mail to work again I had to delete and recreate it.... unfortunately this meant royal mail imported all our orders again duplicating loads of data 😭 so I would only do that as a last resort

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Tom Marshall ***@***.***>
Sent: Thursday, August 18, 2022 10:56:14 AM
To: etsy/open-api ***@***.***>
Cc: Gare

[2022-08-18 10:13] swisst182 commented on #561
Not an option when we have thousands of orders!

[2022-08-18 12:10] mdriess commented on #565
@nctbrtc you might want to add a name to the feature request so it's more clear?

[2022-08-18 13:10] hyyyper opened #567 "[FEATURE]: updateListingInventory more than 70 items"
### Is there an existing ticket for this?

- [X] I have searched the existing tickets

### Is your feature request related to a problem? Please describe

Users are able to add listing variations with more than 70 items with the user interface on Etsy.
I created a listing with 136 variants. Those items have different SKUs, inventory, and price.

Trying to achieve the same result through the API thr

[2022-08-18 13:29] benjymouse commented on #561
hey @etsyachristensen any update this morning? thanks

[2022-08-18 13:51] FloppyChips commented on #28
+1, without this receipts / orders must be polled for which increases the request count once the number of stores rises, we recently exceeded our daily request limit and had to reduce the polling frequency.

[2022-08-18 13:59] hyyyper commented on #567
I misunderstood this error message.

You can create more than 70 variants.
You cannot create more than 70 option values.

[2022-08-18 13:59] #567 closed

[2022-08-18 14:46] codyschneiderx commented on #561
@etsyachristensen where are we at with this? Got an email back finally from developers@etsy.com and all that was said is that all responses from here out will be automated lol

Screenshot - https://www.loom.com/i/4b1f0198462342519d940b6e5b95cfa0